.grid-drawer {
    // TODO: borrar despues de que salga la nueva beta AGREGADO
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
    > *:first-child {
        overflow: hidden;
        transition: padding-bottom 300ms 50ms;
    }
    &[data-collapsed='false'] {
        grid-template-rows: 1fr;
        > *:first-child {
            padding-bottom: 0px;
        }
    }
}
// .grid-copada {
// // .grid-copada {
//     // TODO: cambiar nombre
//     display: grid;
//     grid-template-rows: 0fr;
//     transition: grid-template-rows 500ms;
//     .hijo-de-grid {
//         // TODO: cambiar nombre
//         overflow: hidden;
//         padding-bottom: 100px; // TODO: agregar altura fija para mobile, tablet y desktop
//         transition: padding-bottom 300ms 50ms;
//     }
//     &[data-collapsed='false'] {
//         grid-template-rows: 1fr;
//         .hijo-de-grid {
//             padding-bottom: 0px;
//         }
//     }
// }

.pb-170 {
    // TODO: borrar despues de que salga la nueva beta AGREGADO
    padding-bottom: 170px;
}

.pb-125_min1024 {
    // TODO: borrar despues de que salga la nueva beta AGREGADO
    @media (min-width: 1024px) {
        padding-bottom: 125px;
    }
}

.difumination {
    // TODO: borrar despues de que salga la nueva beta AGREGADO
    &::after {
        content: '';
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100px;
        transition: opacity 400ms;
        -webkit-transition: opacity 400ms;
        background-image: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.1) 0,
            #fff 100%
        );
        z-index: 1;
    }
    &[data-difumination='true'] {
        &::after {
            opacity: 1;
        }
    }
}

.gap-6 {
    gap: 6px; // TODO: borrar despues de que salga la nueva beta AGREGADO
}

.marker-26 {
    &::marker {
        font-size: 26px; // TODO: borrar despues de que salga la nueva beta AGREGADO
    }
}

.pl-32 {
    padding-left: 32px; // TODO: borrar despues de que salga la nueva beta AGREGADO
}

.rotate-180 {
    transform: rotate(
        180deg
    ); // TODO: borrar despues de que salga la nueva beta AGREGADO
}

.border-left-solid_min512 {
    // border-left-style: none;
    @media (min-width: 512px) {
        border-left-style: solid;
    }
}

.pl-20_min512 {
    @media (min-width: 512px) {
        padding-left: 20px;
    }
}

.border-primary-ia {
    border-color: #27d2be;
}
