@import '../abstracts/variables';

.audio-player-button {
    display: none;
    &[disabled] {
        opacity: 0.4;
    }

    @media ($media-l) {
        &.headset {
            &.--tertiary {
                &:hover {
                    opacity: 0.8;
                }
                padding: $spacing $spacing-sm;
                .com-text {
                    color: $dark-neutral-900;
                }
                .icon-headset {
                    margin-right: $spacing;
                    .--video & {
                        margin-right: 0;
                    }
                }
                border-radius: $spacing-md;
                background-color: $dark-neutral-200;
                .com-icon {
                    path {
                        fill: $light-neutral-50;
                    }
                }
                height: fit-content;
                margin-right: $spacing-sm;
            }
        }
    }
}

#audio-player-container {
    display: none;
    @media ($media-l) {
        display: flex;
        width: 100%;
        order: -1;
        margin-bottom: $spacing-lg;
        align-items: center;
        transition: 1s ease-in all;
        .--photo100 & {
            width: 66.6%;
            margin: auto;
        }
    }
}
