@import '../abstracts/variables';


.com-author {
    display: inline-block;
    align-items: center;
    margin-bottom: 15px;
    font-family: $font-arial;
    font-size: $font-16;
    font-weight: 600;
    a {
        color: $link;
        @media (min-width: 768px) {
            font-size: $font-16;
        }
    }
}