@import '../abstracts/variables';
.com-author {
    display: inline-block;
    align-items: center;
    margin-bottom: $px-40;
    @media (min-width: 1024px) {
        margin-bottom: $px-60;
    }
    font-family: $font-arial;
    font-size: $font-16;
    font-weight: 600;
    .com-author {
        margin-bottom: 0;
    }
    a {
        color: $link;
        @media (min-width: 768px) {
            font-size: $font-16;
        }
    }
}
