@import '../abstracts/variables';

.badge {
    background: $neutral-black;
    color: $neutral-white;
    padding: px(4) px(8);
    display: inline-flex;
    text-transform: uppercase;
    flex-wrap: nowrap;
    overflow: hidden;
    max-width: 95%;
    white-space: nowrap;

    &.--sponsored {
        background: $neutral-white;
        border: thin solid $neutral-black;
        color: $neutral-black;
        padding: px(3) px(8);
    }
    &.--a-fondo {
        background: $red-400;
    }
    &.--liveblog-red {
        list-style: none;
        .badge-container & {
            margin-bottom: $spacing-sm;
        }
        background: $red-700;
        &:before {
            content: '';
            display: list-item;
            position: relative;
            top: px(4.65);
            width: px(5.33);
            height: px(5.33);
            border-radius: 50%;
            background: $neutral-white;
            margin-right: px(7.33);
        }
    }
    &.--exclusive-ln {
        display: inline-flex;
        z-index: 2;
        align-items: center;
        width: fit-content;
        padding: px(3) px(6) px(3) px(4);
        background: $light-neutral-50;
        border: 1px solid $light-neutral-300;
        border-radius: px(20);
        text-transform: none;
        color: $neutral-black;
        font-weight: 700;
        .com-icon {
            width: px(20);
            height: px(20);
            margin-right: px(4);
        }
        &.--large {
            padding: px(8) px(12) px(8) px(10);
            border-radius: px(48);
            margin-bottom: $spacing-md;
            .com-icon {
                width: px(28);
                height: px(28);
                background: $light-neutral-700;
                svg {
                    width: 28px;
                    height: 28px;
                    path {
                        fill: $orange-400;
                    }
                }
            }
            span {
                margin: 0 px(8);
                font-size: px(16);
                line-height: px(24);
            }
            &.--dark {
                border: 1px solid $dark-neutral-300;
                background: $light-neutral-700;
                span {
                    color: $neutral-white;
                }
            }
        }
    }
}
