@import '../abstracts/variables';

.badge {
    background: $neutral-black;
    color: $neutral-white;
    //font-family: Arial, Helvetica, sans-serif;
    padding: px(4) px(8);
    //font-size: px(11);
    //line-height: px(16);
    display: inline-flex;
    //align-items: center;
    //text-align: center;
    text-transform: uppercase;

    flex-wrap: nowrap;
    overflow: hidden;
    max-width: 95%;
    white-space: nowrap;

    &.--sponsored {
        background: $neutral-white;
        border: thin solid $neutral-black;
        color: $neutral-black;
        padding: px(3) px(8);
    }
    &.--multimedia {
        font-weight: 700;
        font-size: px(15);
        line-height: px(22);
    }
    &.--a-fondo {
        background: $red-400;
    }
}
