@import '../abstracts/variables';

.badge {
    background: $neutral-black;
    color: $neutral-white;
    padding: px(4) px(8);
    display: inline-flex;
    text-transform: uppercase;

    flex-wrap: nowrap;
    overflow: hidden;
    max-width: 95%;
    white-space: nowrap;

    &.--sponsored {
        background: $neutral-white;
        border: thin solid $neutral-black;
        color: $neutral-black;
        padding: px(3) px(8);
    }
    &.--a-fondo {
        background: $red-400;
    }
    &.--liveblog-red {
        list-style: none;
        .badge-container & {
            margin-bottom: $spacing-sm;
        }
        background: $red-700;
        &:before {
            content: '';
            display: list-item;
            position: relative;
            top: px(4.65);
            width: px(5.33);
            height: px(5.33);
            border-radius: 50%;
            background: $neutral-white;
            margin-right: px(7.33);
        }
    }
}
