@import '../abstracts/variables';

.ball {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    border-radius: 50%;
    background: $light-neutral-200;
    width: px(40);
    height: px(40);
    &.--small {
        width: px(32);
        height: px(32);
    }
    &.--grey {
        background: $light-neutral-200;
    }
    &.--blue {
        background-color: $blue-100;
    }
}
