@import '../abstracts/variables';


.--bg-banner {
    background-color:#f3f3f3;
    margin-bottom:$px-20;
    &.w-100{
        .banner{
            display: flex!important;
            justify-content: center;
            align-items: center;
        }
    }
}

.banner {
    &.--large { 
        width:300px;
        height:600px;
        margin-bottom:$px-40;
        
    }
    &.--small {
        width:300px;
        height:250px;
        margin:0px auto $px-20 auto;
        margin-bottom:$px-40;
        
    }
    &.--top {
        width:320px;
        height:auto;
        display: flex!important;
        justify-content: center;
        align-items: center;
    }

    &.--sticky {
        width:300px;
        height:$px-50;
    }

    &.--tablet,
    &.--desktop {
        display:none;
    }

    &.--mobile {
        display:block;
        margin:auto;
    }
}

//Valores de tablet para arriba
@media (min-width: 768px) {

    .banner {
        &.--desktop,
        &.--mobile {
            display:none;
        }
    
        &.--tablet {
            display:block;
            margin:auto;
        }

        &.--top {
            width:728px;
            height:$px-90;
        }
    }
}

//Valores de desk chico para arriba
@media (min-width: 1024px) {
    .banner {
        &.--tablet,
        &.--mobile {
            display:none;
        }

        &.--desktop {
            display:block;
            margin-bottom:$px-20;
        }

        &.--top {
            max-width:1260px;
            width:100%;
            margin:auto;
            height: auto;     
        }
    }

}