@import '../abstracts/variables';
.--bg-banner {
    background-color: #f3f3f3;
    margin-bottom: $px-20;
    &.w-100 {
        .banner {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &.content-sticky {
            .amp & {
                position: sticky;
                top: 0;
                z-index: 1000;
            }
        }
    }
}

.banner {
    &.--large {
        width: 300px;
        height: 600px;
        margin-bottom: $px-40;
    }
    &.--small {
        width: 300px;
        height: 250px;
        margin: 0px auto $px-40 auto;
    }
    &.--top {
        width: 320px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &.--sticky {
        width: 300px;
        height: $px-50;
    }
    &.--tablet,
    &.--desktop {
        display: none;
    }
    &.--mobile {
        display: block;
        margin: 0 -$px-10;
        background: #f3f3f3;
        text-align: center;
        @media (min-width: 321px) {
            margin: 0;
        }
        &.--sticky {
            position: fixed;
            margin: 0;
            left: 0;
            right: 0;
            top: -100px;
            width: 100%;
            z-index: 10000;
            transition: all 0.25s;
            background-color: #f3f3f3;
            &.--active {
                #wrapper.--scrollDown & {
                    top: 0;
                }
            }
        }
    }
}

//Valores de tablet para arriba
@media (min-width: 768px) {
    .banner {
        &.--desktop,
        &.--mobile {
            display: none;
        }
        &.--tablet {
            display: block;
            margin: auto;
        }
        &.--top {
            width: 728px;
            height: $px-90;
        }
    }
}

//Valores de desk chico para arriba
@media (min-width: 1024px) {
    .banner {
        &.--tablet,
        &.--mobile {
            display: none;
        }
        &.--desktop {
            display: block;
            margin-bottom: $px-20;
        }
        &.--top {
            max-width: 1260px;
            width: 100%;
            margin: auto;
            height: auto;
        }
        &#caja2_dsk {
            margin-top: $px-30;
        }
    }
}
