@import '../abstracts/variables';
.blockquote {
    background-color: $gris1;
    padding: $px-20 $px-23;
    font-family: $font-suecasl;
    font-size: $font-20;
    line-height: $line-28;
    margin-bottom: $px-30;
}