@import '../abstracts/variables';
.blockquote {
    background-color: $gris1;
    padding: px(32);
    margin-bottom: px(30);
    margin-top: px(30);
    text-align: center;
    width: 100%;
    .text {
        font-family: $font-SuecaSlab;
        font-size: px(20);
        line-height: px(35);
    }
}

//Valores de tablet para arriba
@media (min-width: 768px) {
    .blockquote {
        text-align: left;
    }
}
