@import '../abstracts/variables';
@import '../abstracts/mixins';

.bookmark-layout {
    @include flex(flex, column);
    .bookmark-header {
        @include flex(flex, row, space-between, center);
        .help {
            background: $light-neutral-200;
            border-radius: px(4);
            padding: px(12) px(16);
            .icon-lamp {
                width: px(10);
                height: px(14);
                margin: 0 px(10) 0 px(2);
            }
        }
    }
    .empty-bookmark {
        @include flex(flex, column, center);
        padding: px(144) 0px;
        text-align: center;
        .placeholder-bookmark {
            margin-bottom: px(32);
        }
        .com-text {
            margin-bottom: $spacing-xs;
        }
        .instruction {
            display: inline-flex;
            text-align: center;
            .icon-bookmark {
                display: inline-flex;
                width: px(10);
                height: px(14);
            }
        }
    }
    .helper-bookmark {
        position: relative;
        @include flex(flex, column);
        width: 100vw;
        height: 100vh;
        background-color: $light-neutral-50;
        padding: $spacing-md;
        max-width: px(576);
        @media ($media-m) {
        }
        .helper-header {
            @include flex(flex, column);
            width: 100%;
            .--line {
                padding-bottom: $spacing-sm;
                margin-bottom: $spacing-md;
            }
            .com-button {
                position: absolute;
                top: $spacing-sm;
                right: $spacing-sm;
                padding: 0;
            }
        }
        .helper-main {
            position: relative;
            p {
                margin-bottom: $spacing-md;
            }
            .list-content {
                :last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
