@import '../abstracts/variables';
@import '../abstracts/mixins';

.bookmark-layout {
    @include flex(flex, column);
    min-height: 60vh;
    .bookmark-header {
        @include flex(flex, row, space-between, center);
    }
    .empty-bookmark {
        @include flex(flex, column, center);
        padding: px(144) 0px;
        text-align: center;
        .placeholder-bookmark {
            margin-bottom: $spacing-lg;
        }
        .com-text {
            margin-bottom: $spacing-xs;
        }
        .instruction {
            display: inline-flex;
            text-align: center;
        }
    }
    .helper-bookmark {
        max-width: px(576);
        overflow-y: scroll;
        animation: fadeInAnimation 0.2s;

        @keyframes fadeInAnimation {
            0% {
                right: -100vw;
            }
            100% {
                right: 0;
            }
        }
    }

    .placeholder-bookmark {
        @include flex(flex, row, center, center);
        img {
            width: px(288);
        }
    }
    .bookmark-list {
        padding: $spacing-lg 0;
        .item {
            position: relative;
            display: flex;
            margin-bottom: $spacing-sm;
        }
        .mod-article {
            @include flex(flex, row);
            padding-bottom: $spacing-sm;
            margin-bottom: $spacing-sm;
            &:not(:last-child) {
                border-bottom: px(1) solid $light-neutral-300;
            }
            &:last-child {
                margin-bottom: $spacing-lg;
            }
            .com-title {
                font-weight: 400;
                @media ($media-m) {
                    font-weight: 700;
                    font-size: px(20);
                    line-height: px(28);
                    letter-spacing: -0.2px;
                }
            }
            .mod-media {
                margin-left: $spacing-sm;
            }
            .content-media {
                .placeholder {
                    width: px(60);
                    aspect-ratio: 1; // NOSONAR
                }
                @media ($media-s) {
                    .placeholder {
                        width: px(100);
                    }
                }
                @media ($media-m) {
                    .mod-media {
                        margin-left: 0;
                    }
                    .placeholder {
                        margin-right: $spacing-sm;
                        width: px(150);
                        aspect-ratio: 3 / 2; // NOSONAR
                    }
                }
            }
            .mod-description {
                margin: 0 $spacing-sm;
                display: flex;
                flex-direction: column;
                .com-date {
                    order: -1;
                }
                .--author {
                    border-radius: 50%;
                    width: $spacing-md;
                    height: $spacing-md;
                    margin-right: $spacing;
                }
                .mod-marquee {
                    margin-bottom: 0;
                    align-items: center;
                }
                .category-note {
                    color: $light-neutral-600;
                    margin-bottom: $spacing;
                }
            }
        }
    }
    .--loader {
        .loader {
            margin-bottom: px(40);
        }
        text-align: center;
    }
}
