@import '../abstracts/variables';
@import '../abstracts/mixins';
//=======================================
// Se saca los espacios al top
//=======================================
.com-breadcrumb {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: $spacing-md;
    color: $light-neutral-600;

    .com-link,
    .com-text {
        position: relative;
        margin-bottom: $spacing;
        &::first-letter {
            text-transform: uppercase;
        }
        .com-icon {
            margin-bottom: px(-2);
        }
    }

    .com-link {
        &:first-child {
            .com-icon {
                display: none;
            }
        }
    }

    // p {
    //     border-left: solid 1px $light-neutral-600;
    //     padding: 0 px(6);
    // }
}

//Valores de tablet para arriba
// @media (min-width: 768px) {
//     .com-breadcrumb {
//         display: flex;
//     }
// }
