@import '../abstracts/variables';
@import '../abstracts/mixins';
//=======================================
// Se saca los espacios al top
//=======================================
.com-breadcrumb {
    position: relative;
    font-family: $font-arial;
    font-size: px(14);
    //Se saca none en mobile
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: $spacing-sm;
    color: $gris5;

    a {
        position: relative;
        color: $link;
        //border-left: solid 1px $gris5;
        //padding: 0 px(9);
        margin-bottom: $spacing;
        &:first-letter {
            text-transform: capitalize;
        }
        // &:before {
        //     content: '•';
        //     color: $link;
        //     display: block;
        //     position: absolute;
        //     left: -2px;
        // }
        &:first-child {
            padding-left: 0;
            border-left: 0;
            color: $link;
            &:before {
                content: none;
            }
        }
    }
    .com-link:first-child {
        .com-bullet {
            display: none;
        }
    }
    span {
        //border-left: solid 1px $gris5;
        //padding: 0 px(6);
        margin-bottom: $spacing;

        &:first-letter {
            text-transform: capitalize;
        }
    }
    // span {
    //     @include flex(flex, row, center, center);

    //     //border-left: solid 1px $gris5;
    //     padding: 0 px(6);
    //     margin-bottom: $spacing;

    //     &:first-letter {
    //         text-transform: capitalize;
    //     }
    //     &:before {
    //         content: '•';
    //         color: $gris5;
    //         display: block;
    //         margin-right: px(6);
    //     }
    // }
    p {
        border-left: solid 1px $gris5;
        padding: 0 px(6);
    }
}

//Valores de tablet para arriba
@media (min-width: 768px) {
    .com-breadcrumb {
        display: flex;
    }
}
