@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-image {
    transition: all 0.2s ease-in-out;
    width: 100%;

    &:hover {
        filter: brightness(1.1);
    }

    .--slider & {
        position: absolute;
        object-fit: cover;
        height: 100%;
    }
}
