@import '../abstracts/variables';
.com-ordered {
    counter-reset: item;
    width: 100%;
    margin-bottom: $spacing-lg;
    .com-item {
        padding-left: 2em;
        margin: 1.5em 0;
        font-family: $font-georgia;
        font-size: px(19);
        line-height: px(30);
        position: relative;
        i {
            font-style: italic;
        }
        &:before {
            content: counter(item) '';
            counter-increment: item;
            width: px(26);
            height: px(36);
            top: px(-4);
            background-color: $neutral-black;
            color: $neutral-white;
            position: absolute;
            left: 0;
            font-family: $font-arial;
            font-weight: bold;
            font-size: px(14);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
