@import '../abstracts/variables';
@import '../abstracts/mixins';

.logo-ohlala.--color {
    color: $ohlala;
}

.logo-brando.--color {
    color: $brando;
}

.logo-living.--color {
    color: $living;
}

.logo-hola.--color {
    color: $hola;
}

.logo-jardin.--color {
    color: $jardin;
}

.logo-lugares.--color {
    color: $lugares;
}

.logo-rolling.--color {
    color: $rolling;
}

.logo-bbc.--color {
    &:before {
        color: $bbc;
    }
}
