@import '../abstracts/variables';
@import '../abstracts/mixins';
.com-link {
    color: $link;
    &.--acu,
    &.--black {
        color: $neutral-black;
    }
    .listuser & {
        padding: px(10) px(20);
    }
    &.--gda {
        font-size: px(48);
    }
    &.--highlight {
        &:hover {
            background: $neutral-black;
            border-color: $neutral-black;
            color: $neutral-white;
        }
    }
    .mod-fiscal & {
        width: px(16);
    }
    .--apps & {
        &:last-child {
            margin-left: px(30);
        }
        svg {
            width: 154px;
            height: auto;
        }
    }
    .--shared & {
        color: $neutral-black;
    }
    .mod-link & {
        .footer & {
            margin: 0 px(7.5);
        }
    }
    .mod-recaptcha & {
        .footer & {
            margin: 0 px(7.5);
        }
    }
    .mod-breadcrumb & {
        border-left: solid 1px $light-neutral-600;
        padding: 0 px(9);
        text-transform: initial;
        display: flex;
    }
    &:first-letter {
        .mod-breadcrumb & {
            text-transform: capitalize;
        }
    }
    .com-li:first-child & {
        .mod-breadcrumb & {
            border: 0;
            padding-left: 0;
            text-transform: uppercase;
        }
    }
    .--contact & {
        .mod-wikiauthor & {
            margin-bottom: $spacing-xs;
            display: inline-flex;
            font-weight: 700;
        }
    }
    .com-breadcrumb & {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .--tags {
        .mod-description & {
            .mod-article & {
                .breaking-news & {
                    .acumulado & {
                        color: $link;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .com-title & {
        .mod-headersection.--bg & {
            color: $blanco;
        }
    }
    .com-advance.com-advance & {
        color: $blanco;
    }
}

@media ($media-l) {
    .com-link {
        .--apps & {
            svg {
                width: auto;
            }
        }
        &.--highlight {
            margin-right: px(35);
            font-family: $font-arial;
            font-size: px(12);
            font-weight: bold;
            padding: px(10) px(24);
            text-transform: uppercase;
            border-radius: 3px;
            transition: opacity 0.2s ease-in-out;
            background-color: $highlight;
            border: 1px solid $light-neutral-400;
            color: $neutral-black;
        }
    }
}
