@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-paragraph {
    font-family: $font-georgia;
    font-weight: 100;
    margin-bottom: $spacing-lg;
}
.element-paragraph {
    font-weight: 700;
}
