@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-text {
    .com-button & {
        text-transform: uppercase;
        // @media ($media-m) {
        //     white-space: nowrap;
        // }
    }
    .footer & {
        color: $light-neutral-600;
        line-height: px(17);
        font-size: px(14);
    }
    .mod-recaptcha & {
        text-align: right;
        margin-right: px(10);
        width: 100%;
    }
    .mod-fiscal & {
        width: 65%;
    }
    .mod-copyright & {
        text-align: center;
    }
    .mod-breadcrumb & {
        @include flex(flex, row, center, center);
        color: $light-neutral-600;
        padding: 0 px(9);
        line-height: 1;
        border-left: solid 1px $light-neutral-600;
    }
    &.--autor {
        .mod-autor & {
            line-height: px(24);
            font-size: px(16);
            font-weight: bold;
            color: $neutral-black;
        }
    }
    &.--medio {
        .mod-autor & {
            text-transform: uppercase;
            font-weight: normal;
            font-size: px(14);
            color: #919191;
        }
    }
    &.--paginator {
        background: $neutral-black;
        font-family: $font-arial;
        font-size: px(12);
        padding: 0 px(5);
        color: $neutral-white;
        position: absolute;
        top: 0;
        right: px(16);
        // @media ($media-m) {
        //     right: px(30);
        // }
        @media ($media-l) {
            right: 0;
        }
    }
    .mod-share & {
        order: 2;
        color: $ln;
    }
    strong {
        .mod-trust & {
            margin-left: $spacing-2xs;
        }
    }
    &.--tooltip {
        display: flex;
        padding: 0;
        line-height: px(1);
        &:hover {
            cursor: pointer;
            .com-container {
                visibility: visible;
            }
        }
    }
    &.--profesion {
        margin-bottom: $spacing-xs;
        display: inline-flex;
    }

    &.--sponsor {
        display: flex;

        &:hover {
            cursor: pointer;
            .com-container {
                visibility: visible;
            }
        }

        .mod-tooltip & {
            color: $light-neutral-600;
        }
    }
    .mod-tooltip & {
        border: none;
        margin-bottom: 0;
        color: $light-neutral-600;
        font-weight: 100;
    }
    &:before {
        .mod-tooltip & {
            content: none;
        }
    }
    .com-breadcrumb & {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &.--bio {
        .mod-wikiauthor & {
            margin-bottom: $spacing-sm;
            display: flex;
        }
    }
}

@media ($media-xs) {
    .com-text {
        .mod-trust & {
            @include flex(flex, column, center, start);
        }
    }
}
@media ($media-s) {
    .com-text {
        .mod-trust & {
            flex-direction: row;
            align-items: center;
        }
    }
}
@media ($media-m) {
    .com-text {
        .mod-fiscal & {
            width: 100%;
            text-align: center;
        }
        .mod-copyright & {
            text-align: left;
        }
    }
}
@media ($media-l) {
    .com-text {
        .mod-fiscal & {
            width: 100%;
            text-align: center;
        }
        .mod-copyright & {
            text-align: left;
        }
        .mod-trust & {
            margin-right: $spacing-xs;
        }
        &.--sponsor,
        &.--tooltip {
            position: relative;
        }
        .--info & {
            .mod-wikiauthor & {
                .acumulado & {
                    margin-bottom: $spacing-sm;
                    display: flex;
                }
            }
        }
    }
}

.hl_yellow_underline,
.hl_underline,
.hl_yellow,
.hl_green,
.hl_purple,
.hl_pink,
.hl_orange {
    background: transparent;
    text-decoration: underline;
    text-decoration-color: $highlight;
    text-decoration-thickness: 2px;
    font-weight: 700;
    color: inherit;
}
