@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-button {
    @include flex(inline, row, center, center);
    background: transparent;
    transition: all 0.2s ease-in-out;
    padding: px(12) px(16);
    color: $neutral-black;
    font-size: px(12);
    font-weight: 700;
    border-radius: px(4);
    outline: none;
    //white-space: nowrap;
    //max-width: px(360);
    border: 1px solid transparent;
    cursor: pointer;
    &.--bottom,
    &.--top {
        @include flex(flex, column, center, center);
    }
    .mod-share & {
        padding: 0;
        margin-right: px(24);
        &.comment {
            margin: 0;
        }
        @media ($media-l) {
            margin-right: 0;
        }
    }

    &.facebook {
        background: $facebook;
        color: $neutral-white;
        &:hover {
            background: rgba($facebook, 0.7);
        }
    }
    &.instagram {
        background: $instagram;
        color: $neutral-white;
        &:hover {
            background: rgba($instagram, 0.7);
        }
    }
    &.twitter {
        background: $twitter;
        color: $neutral-white;
        &:hover {
            background: rgba($twitter, 0.7);
        }
    }
    &.whatsapp {
        background: $whatsapp;
        color: $neutral-white;
        &:hover {
            background: rgba($whatsapp, 0.7);
        }
    }
    &:hover {
        background: transparent;
        color: $ln;
    }
    &:active {
        background: $ln;
        color: $neutral-white;
    }
    &:disabled {
        background: $light-neutral-400;
    }

    //variantes
    &.--primary {
        background: $light-blue-500;
        border-color: $light-blue-500;
        color: $light-neutral-50;

        &:hover {
            background: $light-blue-400;
        }
        &:active {
            background: $light-blue-600;
        }
        &:disabled {
            background: $light-neutral-400;
        }
    }
    &.--secondary {
        border-color: $light-blue-500;
        color: $light-blue-500;
        &:hover {
            background: $light-blue-400;
            border-color: $light-blue-400;
            color: $light-neutral-50;
        }
        &:active {
            border-color: $light-blue-600;
            background: $light-blue-600;
            color: $light-neutral-50;
        }
        &:disabled {
            background: $light-neutral-400;
            color: $light-neutral-400;
            border-color: $light-neutral-400;
        }
        .com-usuario & {
            // .header & {
            //     display: none;
            // }
            .amp.--transparent & {
                @media ($media-l) {
                    color: $neutral-white;
                    border-color: $neutral-white;
                    &:hover {
                        background: $neutral-white;
                        color: $light-neutral-700;
                    }
                }
            }
        }
        .cuerpo__nota & {
            margin-bottom: $spacing-lg;
        }
    }
    &.--tertiary {
        border-color: $light-neutral-200;
        background: $light-neutral-200;
        color: $light-neutral-800;

        &:hover {
            color: $light-blue-400;
        }
        &:active {
            background: $light-neutral-400;
            color: $light-blue-400;
        }
        &:disabled {
            background: $light-neutral-300;
            color: $light-neutral-500;
        }
    }
    //&.--highlight,
    &.--special {
        background: $yellow-500;
        border-color: $light-neutral-400;
        color: $neutral-black;

        &:hover {
            background: $neutral-black;
            border-color: $neutral-black;
            color: $light-neutral-50;
        }
        &:active {
            background: $neutral-black;
            border-color: $neutral-black;
            color: $light-neutral-50;
        }
        &:disabled {
            background: $light-neutral-400;
            color: $light-neutral-400;
            border-color: $light-neutral-400;
        }
        .com-usuario & {
            .amp.--transparent & {
                color: $neutral-white;
                @media ($media-l) {
                    color: $light-neutral-700;
                    border-color: $yellow-500;
                    &:hover {
                        border-color: $neutral-black;
                        color: $light-neutral-50;
                    }
                }
            }
        }
    }
    &.--compact {
        padding: px(8) px(16);
    }
    .--slider & {
        background: $neutral-black;
        border-radius: 0;

        &.icon-arrow-left,
        &.icon-arrow-right {
            display: block;
            padding: 0;
            cursor: pointer;
            border: none;
            background: rgba(0, 0, 0, 0.9);
            position: absolute;
            z-index: 2;
            color: $neutral-white;
            transition: all 0.2s ease;
            font-size: px(20);
            width: px(30);
            height: px(40);
            top: px(92);

            &:hover {
                background: rgba(0, 0, 0, 0.5);
            }

            @media ($media-m) {
                //768
                font-size: px(32);
                top: px(206);
                width: px(46);
                height: px(60);
            }
            @media ($media-l) {
                //1024
                top: px(150);
            }
            @media ($media-lm) {
                //1100
                top: px(215);
            }
        }
        &.icon-arrow-left {
            left: px(-16);
            @media ($media-m) {
                left: 0;
            }
        }
        &.icon-arrow-right {
            right: px(-16);
            @media ($media-m) {
                right: 0;
            }
        }
    }
    .--slider.--active & {
        &.icon-arrow-left,
        &.icon-arrow-right {
            top: 45%;
        }
        &.icon-arrow-left {
            left: 0;
        }
        &.icon-arrow-right {
            right: 0;
        }
    }
    .--megatop & {
        position: absolute;
        top: 0;
        padding: px(8) px(10);
        background: $link;
        color: $neutral-white;
        text-transform: uppercase;
        border-radius: 0 0 px(4) px(4);
        & span {
            font-weight: 700;
            margin-left: px(5);
        }
    }
    // .header & {
    //     font-family: $font-arial;
    // }
}
@media ($media-l) {
    .com-button {
        .mod-share & {
            margin-bottom: $spacing-sm;
        }
        &.comment {
            .mod-share & {
                display: flex;
                flex-direction: column;
            }
        }
        // &.--secondary {
        //     .com-usuario & {
        //         .header & {
        //             display: flex;
        //         }
        //     }
        // }
        //&.--highlight,
        // &.--special.--special {
        //     .com-usuario & {
        //         .header & {
        //             background: $yellow-500;
        //             color: $light-neutral-700;
        //             border-color: $light-neutral-400;
        //             margin-right: px(16);
        //             padding: px(8) px(16);
        //             font-weight: 700;
        //             &:hover {
        //                 background: $neutral-black;
        //                 border-color: $neutral-black;
        //                 color: $neutral-white;
        //             }
        //         }
        //     }
        // }
    }
}

.double-teaser__title.double-teaser__title {
    color: lightcoral;
}
