@import '../abstracts/variables';
@import '../abstracts/mixins';
.com-icon {
    @include flex(flex, row, center, center);

    .com-button.--icon.--bottom &,
    .com-button.--icon.--right & {
        order: 2;
        font-size: px(16);
        font-weight: 700;
    }

    &.icon-bullet-xs {
        color: $light-neutral-400;
    }

    .footer .--share & {
        display: inline-flex;
        color: $neutral-black;

        i {
            margin-right: px(20);
            @media (max-width: 1023px) {
                margin: px(10);
            }
        }
    }
    .mod-nav & {
        @include flex(flex, column, center, center);
        font-size: px(11);
        color: $neutral-black;
        text-align: center;
        text-transform: initial;
    }
    .mod-wikiauthor & {
        &:not(.icon-bullet-xs) {
            color: $negro;
            margin-right: $spacing;
        }
    }
    .mod-tooltip & {
        position: absolute;
        right: 0;
        top: -5px;
        color: $light-neutral-400;
    }
    &.icon-bullet {
        .mod-description & {
            align-items: flex-start;
            color: $light-neutral-400;
            padding: 1px 2px;
        }
    }
}
@media ($media-l) {
    .com-icon {
        .footer .--share & {
            &:last-child {
                margin-right: 0;
            }
        }
        .footer .--logo & {
            i {
                &:before {
                    font-size: px(25);
                }
            }
        }
        .mod-tooltip & {
            display: none;
        }
    }
}
