@import '../abstracts/variables';
@import '../abstracts/mixins';
.com-link {
    //font-family: $font-arial;
    //font-size: px(14);
    color: $link;
    text-transform: initial;
    &.--acu {
        color: $neutral-black;
    }
    // .text & {
    //     //CAMBIAR
    //     font-family: $font-georgia;
    //     font-size: px(16);
    //     line-height: px(24);
    // }
    .listuser & {
        padding: px(10) px(20);
    }
    &.--gda {
        font-size: px(48);
    }
    &.--highlight {
        &:hover {
            background: $neutral-black;
            border-color: $neutral-black;
            color: $neutral-white;
        }
    }
    .mod-fiscal & {
        width: px(16);
    }
    .--apps & {
        &:last-child {
            margin-left: px(30);
        }
        svg {
            width: 154px;
            height: auto;
        }
    }
    .--shared & {
        color: $neutral-black;
    }
    .mod-link & {
        .footer & {
            margin: 0 px(7.5);
        }
    }
    .mod-recaptcha & {
        .footer & {
            margin: 0 px(7.5);
        }
    }
    .mod-breadcrumb & {
        border-left: solid 1px $light-neutral-600;
        padding: 0 px(9);
        text-transform: initial;
        display: flex;
    }
    &:first-letter {
        .mod-breadcrumb & {
            text-transform: capitalize;
        }
    }
    .com-li:first-child & {
        .mod-breadcrumb & {
            border: 0;
            padding-left: 0;
            text-transform: uppercase;
        }
    }
    // .mod-media & {
    //     width: 100%;
    // }
    .mod-autor & {
        line-height: px(24);
        font-size: px(16);
        font-weight: bold;
        //color: $link;
    }
    // .com-paragraph & {
    //     //font-family: $font-georgia;
    //     .amp & {
    //         color: $link;
    //         //font-family: $font-georgia;
    //     }
    // }
    .mod-keepreading & {
        display: block;
        margin-bottom: $spacing-sm;
        font-weight: 700;
    }
    .mod-themes & {
        margin-right: $spacing-sm;
        margin-bottom: $spacing-sm;
        white-space: nowrap;
        display: inline-block;
    }
    &.--sociallist {
        @include flex(inline, row, center, center);
        font-weight: 700;
    }
    .--contact & {
        .mod-wikiauthor & {
            margin-bottom: $spacing-xs;
            display: inline-flex;
            font-weight: 700;
        }
    }
    .com-breadcrumb & {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &.--shield {
        .--shields & {
            margin-right: $spacing-lg;
            margin-bottom: $spacing-sm;
            position: relative;
            width: px(64);
            height: px(64);
            border: solid 1px $light-neutral-400;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            @include flex(flex, row, center, center);
            &:after {
                content: '';
                display: block;
                width: 65px;
                height: 80px;
                border: 1px solid #000;
                border-color: #000 transparent transparent transparent;
                -moz-border-radius: 50px 50px 50px 0;
                border-radius: 50px 50px 50px 0;
                position: absolute;
                top: 0;
                -webkit-border-radius: 50px 50px 50px 0;
                -ms-border-radius: 50px 50px 50px 0;
                -o-border-radius: 50px 50px 50px 0;
            }
        }
    }
    .--tags {
        .mod-description & {
            .mod-article & {
                .breaking-news & {
                    .acumulado & {
                        color: $link;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .com-title & {
        // .mod-headersection.--teal &,
        // .mod-headersection.--blue &,
        // .mod-headersection.--red &,
        .mod-headersection.--bg & {
            color: $blanco;
        }
    }
}
@media ($media-l) {
    .com-link {
        .--apps & {
            svg {
                width: auto;
            }
        }
        &.--highlight {
            margin-right: px(35);
            font-family: $font-arial;
            font-size: px(12);
            font-weight: bold;
            padding: px(10) px(24);
            text-transform: uppercase;
            border-radius: 3px;
            transition: opacity 0.2s ease-in-out;
            background-color: $highlight;
            border: 1px solid $light-neutral-400;
            color: $neutral-black;
        }
        // .com-paragraph & {
        //     .amp & {
        //         color: $link;
        //     }
        // }
    }
}
