@import '../abstracts/variables';
.com-title_list {
    font-family: $font-SuecaSlab;
    font-size: px(24);
    color: $negro;
}

.com-subtitle_list {
    font-family: Arial;
    font-size: px(16);
    font-weight: bold;
    color: $negro;
}

.com-unordered {
    padding-left: 0;
    list-style: none;
    width: 100%;
    margin-bottom: $spacing-lg;
    .com-item {
        padding-left: 1em;
        font-family: $font-arial;
        font-size: px(16);
        line-height: px(37);
        margin-bottom: $spacing;
        color: $negro;
        position: relative;
        &::first-letter {
            text-transform: uppercase;
        }
        &:before {
            content: '';
            width: px(7);
            height: px(7);
            border-radius: 50%;
            top: px(14);
            background-color: $negro;
            color: $blanco;
            position: absolute;
            left: 0;
            font-family: Arial, sans-serif;
            font-weight: bold;
            font-size: px(14);
        }
    }
    .noticia & {
        .com-item {
            line-height: px(30);
            &:before {
                top: px(10);
            }
        }
    }
}
