@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-subtitle {
    @include flex(inline);
    font-family: $font-arial;
    font-weight: 700;
    color: $neutral-black;
    margin-bottom: $spacing-sm;

    .--socialicons & {
        .mod-wikiauthor & {
            margin: 0 0 $spacing-xs;
        }
    }
    &.--membresia {
        min-width: px(207);
    }

    @media ($media-m) {
        .--socialicons & {
            .mod-wikiauthor & {
                margin: $spacing $spacing-sm 0 0;
            }
        }
    }

    @media ($media-l) {
        &.--membresia,
        &.--idiomas {
            margin: 0;
            margin-right: $spacing-xs;
        }
    }
}
