@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-lead {
    color: $blue-500;
    // padding-right: px(6); by Xime
    font-style: normal;
    display: inline;
    .--bomba.--bomba &,
    .--highlight.--highlight & {
        color: $neutral-white;
    }
    &:first-letter {
        text-transform: uppercase;
    }
}
