@import '../abstracts/variables';
@import '../abstracts/mixins';

amp-carousel {
    @include fullwidth;
    margin-bottom: $spacing-lg;

    @media ($media-m) {
        width: auto;
        margin-left: 0;
    }

    .placeholder {
        overflow: hidden;
        amp-img {
            object-fit: contain;
            height: 100%;
            transition: none;
            width: 100%;
            position: absolute;
            top: 0;
            img {
                object-fit: contain;
            }
        }
    }
    .mod-figcaption {
        width: 100%;
        margin-left: 0;
    }
}
