@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-bullet {
    @include flex(inline, row, center, center);
    padding: $spacing-xs;
    .com-icon {
        color: $gris3;
    }
    .com-li:first-child & {
        .mod-wikiauthor & {
            display: none;
        }
    }
    .com-link:first-child & {
        .com-breadcrumb & {
            display: none;
        }
    }
    .com-link & {
        display: none;
    }
}
