@import '../abstracts/variables';

.com-unordered {
    margin-bottom: $spacing-lg;
    .com-item {
        padding-left: $spacing-lg;
        font-size: px(18);
        line-height: 150%;
        margin-bottom: $spacing-sm;
        position: relative;

        i {
            font-style: italic;
        }

        b {
            font-weight: 700;
        }

        &:before {
            content: '•';
            position: absolute;
            left: px(8);
            font-size: px(30);
        }

        &::first-letter {
            text-transform: uppercase;
        }

        .breaking-news & {
            padding-left: 0;
        }
    }
}
@media ($media-l) {
    .com-unordered {
        .mod-wikiauthor & {
            .acumulado & {
                flex-wrap: wrap;
            }
        }
    }
}
