@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-hour {
    @include flex(inline);
    height: fit-content;
    font: 400 px(14) $font-arial;
    color: $gris5;
    &:before {
        content: '•';
        margin: 0 px(5);
        height: fit-content;
        display: block;
    }
}
