@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-container {
    .mod-wikiauthor & {
        margin-bottom: $spacing-sm;
    }
    .mod-sponsor &,
    .com-breadcrumb & {
        position: absolute;
        left: calc(50% - 140px);
        top: 100%;
        width: px(280);
        visibility: hidden;
        z-index: 99;
    }

    &.--button {
        .cuerpo__nota & {
            @include flex(flex, row, center, center);
        }
    }
    &.--info {
        margin-bottom: $spacing-lg;
    }
    &.--socialicons {
        @include flex(flex, column, center, start);
        margin-bottom: $spacing-xl;
        .mod-wikiauthor & {
            padding: $spacing-lg 0 $spacing-lg 0;
            border-top: 1px solid $gris3;
            border-bottom: 1px solid $gris3;

            .com-li {
                position: relative;
                margin-bottom: px(8);
                &:not(:first-child) {
                    padding-left: px(32);

                    &:before {
                        content: '•';
                        height: fit-content;
                        display: block;
                        position: absolute;
                        left: px(14);
                        line-height: px(32);
                        color: $light-neutral-400;
                    }
                }

                .com-icon {
                    width: px(32);
                    height: px(32);
                }
            }
        }
    }
}
@media ($media-m) {
    .com-container {
        &.--socialicons {
            flex-direction: row;
        }
    }
}
@media ($media-l) {
    .com-container {
        .mod-sponsor & {
            left: calc(20% - 120px);
            top: calc(100% + 20px);
            bottom: inherit;
            z-index: 999; // se deja porque a veces falla
        }
        .com-breadcrumb & {
            left: calc(20% - 120px);
            top: 100%;
            bottom: inherit;
            z-index: 999; // se deja porque a veces falla
        }
    }
}
