@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-button {
    font-family: $font-arial;
    transition: opacity 0.2s ease-in-out;
    @include flex(flex, row, center, center);
    .--slider & {
        background: $negro;
    }
}
