@import '../abstracts/variables';

.com-title {
    margin-bottom: $spacing;

    .com-lead {
        color: #272727;
        font-variation-settings: 'wght' 170, 'opsz' 50;
    }

    .mod-newsletter & {
        display: block;
    }
}
