@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-title {
    @include flex(flex);
    margin-bottom: $spacing-sm;
    font-family: $font-SuecaSlab;
    font-weight: 700;
    letter-spacing: $letter-spacing;
    .mod-newsletter & {
        font-weight: 300;
        span {
            font-weight: 700;
        }
    }
}
