@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-logo {
    .--apertura & {
        margin-bottom: $spacing;
    }
    .mod-sponsor & {
        .--apertura & {
            margin-bottom: 0;
        }
    }
    &.ln-nota-logo {
        margin-bottom: 20px;
    }

    &.la-nacion {
        width: px(164);
        height: px(16);
        &.--xs {
            width: px(164);
            height: px(16);
        }
        &.--sm {
            width: px(215);
            height: px(21);
        }
    }
    &.gda {
        width: px(36);
        height: px(20);
    }
    &.data-fiscal {
        width: px(28);
        height: px(38);
    }
    &.brando,
    &.brando-blanco {
        &.--xs {
            width: px(83);
            height: px(17);
        }
        &.--sm {
            width: px(107);
            height: px(22);
        }
    }
    &.hola,
    &.hola-blanco {
        &.--xs {
            width: px(45);
            height: px(22);
        }
        &.--sm {
            width: px(62);
            height: px(30);
        }
    }
    &.jardin,
    &.jardin-blanco {
        &.--xs {
            width: px(62);
            height: px(20);
        }
        &.--sm {
            width: px(88);
            height: px(28);
        }
    }
    &.living,
    &.living-blanco {
        &.--xs {
            width: px(60);
            height: px(20);
        }
        &.--sm {
            width: px(84);
            height: px(28);
        }
    }
    &.lugares,
    &.lugares-blanco {
        &.--xs {
            width: px(86);
            height: px(16);
        }
        &.--sm {
            width: px(118);
            height: px(22);
        }
    }
    &.rolling,
    &.rolling-blanco {
        &.--xs {
            width: px(129);
            height: px(23);
        }
        &.--sm {
            width: px(168);
            height: px(30);
        }
    }
    &.ohlala,
    &.ohlala-blanco {
        &.--xs {
            width: px(64);
            height: px(18);
        }
        &.--sm {
            width: px(106);
            height: px(30);
        }
    }
    &.ln-mas,
    &.lnmas-blanco {
        &.--xs {
            width: px(34);
            height: px(20);
        }
        &.--sm {
            width: px(44);
            height: px(26);
        }
    }
    &.negocios,
    &.negocios-blanco {
        &.--xs {
            width: px(95);
            height: px(30);
        }
        &.--sm {
            width: px(127);
            height: px(40);
        }
    }
    &.bbc-blanco,
    &.bbc {
        &.--xs {
            width: px(128);
            height: px(20);
        }
        &.--sm {
            width: px(167);
            height: px(26);
        }
    }
    &.propiedades,
    &.propiedades-blanco {
        &.--xs {
            width: px(166);
            height: px(22);
        }
        &.--sm {
            width: px(241);
            height: px(32);
        }
    }
    &.canchallena {
        &.--xs {
            width: px(166);
            height: px(32);
        }
        &.--sm {
            width: px(241);
            height: px(50);
        }
    }
    &.salud,
    &.salud-blanco {
        &.--xs {
            width: px(129);
            height: px(22);
        }
        &.--sm {
            width: px(187);
            height: px(32);
        }
    }
    &.autos,
    &.autos-blanco {
        &.--xs {
            width: px(141);
            height: px(20);
        }
        &.--sm {
            width: px(205);
            height: px(28);
        }
    }
    &.campo,
    &.campo-blanco {
        &.--xs {
            width: px(121);
            height: px(22);
        }
        &.--sm {
            width: px(176);
            height: px(32);
        }
    }
    &.deportes {
        &.--xs {
            width: px(94);
            height: px(22);
        }
        &.--sm {
            width: px(128);
            height: px(30);
        }
    }

    .ln-logo {
        &.--xs {
            width: px(34);
            height: px(16);
        }
        &.--sm {
            width: px(44);
            height: px(21);
        }
    }

    &.android-store,
    &.ios-store {
        width: px(120);
        height: px(35);
        border-radius: px(4);
    }
}

.logoLN {
    display: block;
    height: px(17);

    svg,
    img {
        height: 100%;
        max-width: px(170);
    }
    .modal & {
        margin-bottom: $spacing-sm;
    }
    @media ($media-l) {
        svg,
        img {
            max-width: px(300);
        }

        .header & {
            height: px(30);
        }

        .footer-site & {
            height: px(20);
        }
    }
}
