@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-embed {
    &.--soundcloud,
    &.--youtube,
    &.--vimeo,
    &.--dailymotion {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: $picture;
        position: relative;
        iframe,
        amp-iframe {
            position: absolute;
            object-fit: cover;
            height: 100%;
            top: 0;
            width: 100%;
        }
    }
    iframe {
        width: 100%;
    }
    .nota & {
        margin-bottom: $spacing-2xl;
    }
}
