@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-embed {
    &.--youtube,
    &.--vimeo,
    &.--dailymotion {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: $picture;
        position: relative;
        iframe {
            position: absolute;
            object-fit: cover;
            height: 100%;
            top: 0;
            width: 100%;
            // @media (max-width: 375px) {
            //     width: 100%;
            //     height: 200px;
            // }
        }
    }

    .nota & {
        margin-bottom: $spacing-2xl;
    }
}
