@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-image {
    width: 100%;
    transition: all 0.2s ease-in-out;

    &:hover,
    .mod-article:hover & {
        filter: brightness(1.1);
    }

    .mod-picture & {
        display: block;
    }

    .--slider & {
        position: absolute;
        object-fit: cover;
        height: 100%;
        transition: none;
    }

    .--vertical & {
        .--slider.--slider & {
            object-fit: contain;
        }

        .--active.--active & {
            height: 80vh;
            max-height: 600px;
            width: 100%;
            @media ($media-m) {
                //768
                max-height: 1000px;
                max-width: 1000px;
                width: auto;
                position: relative;
            }
        }
        .--active.--slider & {
            height: 100%;
            position: absolute;
        }
    }

    .mod-picture & {
        .mod-caja-nota & {
            position: absolute;
            object-fit: cover;
            height: 100%;
            top: 0;
        }
    }
}
