@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-bullet {
    @include flex(inline, row, center, center);
    padding: $spacing-xs;
    .com-li:first-child & {
        .mod-wikiauthor & {
            display: none;
        }
    }
    .--info & {
        .mod-wikiauthor & {
            padding: 0;
        }
    }

    .com-icon {
        .com-container.--info & {
            .mod-wikiauthor & {
                color: $gris4;
            }
        }
    }
}
