@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-bullet {
    @include flex(inline, row, center, center);
    padding: $spacing-xs;

    .com-li:first-child & {
        .mod-wikiauthor & {
            display: none;
        }
    }
    .mod-wikiauthor & {
        padding: 0;
    }

    .com-icon {
        color: $light-neutral-400;

        .com-container.--info & {
            .mod-wikiauthor & {
                color: $gris5;
            }
        }
    }
    .com-link:first-child & {
        .com-breadcrumb & {
            display: none;
        }
    }
    // .com-link & { Se saca porque le esta pegando a todo (ALE)
    //     display: none;
    // }
}
// @media ($media-l) {
//     .com-bullet {
//         .com-li:first-child & {
//             .mod-wikiauthor & {
//                 display: none;
//             }
//         }
//     }
// }
