@import '../abstracts/variables';

.table-container {
    .table {
        overflow: hidden;
        border-collapse: inherit;
        border: 1px solid $light-neutral-400;
        border-radius: px(4);
        border-bottom: initial;
        margin-bottom: $spacing-xl;
        width: 100%;
        font-family: $font-arial;
        text-align: center;

        thead {
            font-weight: 700;
            background-color: $light-neutral-200;
        }
        tfoot {
            font-weight: 700;
        }
        &.--winners-table {
            th,
            td {
                width: 33.3%;
            }
        }
        th,
        td {
            display: table-cell;
            vertical-align: middle;
            padding-top: px(12);
            padding-bottom: px(12);
            border-bottom: 1px solid $light-neutral-400;
        }
        .estimated-pot {
            font-weight: 700;
        }
        .border-divider:not(:last-child) {
            border-right: 1px solid $light-neutral-400;
        }
    }
}
