@import '../abstracts/variables';
.com-espacio-patrocinado {
    font: 400 px(12) $font-arial;
    line-height: px(23);
    color: $gris5;
    text-transform: uppercase;
    margin-top: px(6);
}

.com-content-lab {
    font: 400 px(12) $font-arial;
    line-height: px(23);
    color: $link;
    text-transform: uppercase;
    margin-top: px(6);
}

.com-marquesina {
    font: normal px(14) $font-arial;
    line-height: px(24);
    color: $negro;
    text-transform: capitalize;
    margin-top: px(6);
}
