@import '../abstracts/variables';
@import '../abstracts/mixins';

.holidays-counter {
    @include common-card;
    width: 100%;
    max-width: px(288);
    gap: px(16);
    padding: px(16) px(32);
    margin: px(0) auto px(32) auto;

    .number-counter {
        border-radius: 50%;
        max-width: px(120);
        max-height: px(120);
        margin: auto;
        padding: px(30);
        @include flex(flex, column, center, center);
        :first-child {
            font-size: px(48);
            padding-bottom: px(10);
        }
        :last-child {
            font-size: px(20);
        }
        color: $negro;
        @media ($media-m) {
            margin: 0;
            min-width: px(120);
            min-height: px(120);
        }
        &.--immovable {
            background-color: $blue-200;
        }
        &.--bridge {
            border: px(6) solid $blue-200;
        }
        &.--transferable {
            background-color: $green-200;
            border-color: none;
        }
    }

    .label-counter {
        @include flex(flex, column, center, center);
        h2 {
            font-size: px(24);
            line-height: px(32);
            margin-bottom: px(16);
        }
        .com-text {
            text-align: center;
        }
        @media ($media-m) {
            @include flex(flex, column, center, start);
            .com-text {
                text-align: start;
            }
        }
    }
    @media ($media-xs) {
        max-width: px(328);
    }
    @media ($media-s) {
        max-width: px(440);
    }
    @media ($media-m) {
        @include flex(flex, row, start, space-between);
        max-width: px(620);
    }
}
