@import '../abstracts/variables';
@import '../abstracts/mixins';

.holidays-month-nav {
    width: 100%;
    max-width: px(440);
    margin: $spacing-sm auto $spacing-lg auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        'calendar calendar'
        'arrowBack arrowForward';
    @media ($media-m) {
        grid-template-columns: 1fr px(561) 1fr;
        grid-template-areas: 'arrowBack calendar arrowForward';
        max-width: none;
    }

    h3 {
        flex-grow: 1;
        margin-top: $spacing-sm;
        &.previous-month {
            margin-right: $spacing-sm;
            margin-left: $spacing-sm;
            grid-area: arrowBack;
            justify-self: end;
            @media ($media-m) {
                align-self: center;
                justify-self: center;
            }
        }
        &.posterior-month {
            margin-right: $spacing-sm;
            margin-left: $spacing-sm;
            grid-area: arrowForward;
            justify-self: start;
            @media ($media-m) {
                align-self: center;
                justify-self: center;
            }
        }
    }
    .calendar {
        grid-area: calendar;
        width: 100%;
        max-width: px(561);
        .holidays-card-calendar {
            margin-bottom: px(0);
            @media ($media-s) {
                width: 100%;
            }
        }
    }
    .interaction-container {
        @include flex(flex, column, center, center);
        gap: $spacing-xs;
        .circle {
            @include flex(flex, column, center, center);
            width: px(40);
            height: px(40);
            border-radius: 50%;
            background-color: $blue-100;
            .com-icon {
                width: px(32);
                height: px(32);
                path {
                    fill: $blue-500;
                }
            }
        }
        span {
            color: $blue-500;
            text-align: center;
            text-transform: capitalize;
        }
    }
    &.--withoutHolidayData {
        @media ($media-m) {
            grid-template-columns: 1fr px(280) 1fr;
        }
        h3 {
            &.previous-month {
                @media ($media-m) {
                    justify-self: flex-end;
                }
                @media ($media-l) {
                    margin-right: px(48);
                }
            }
            &.posterior-month {
                @media ($media-m) {
                    justify-self: flex-start;
                }
                @media ($media-l) {
                    margin-left: px(48);
                }
            }
        }
    }
}
