/* @import '../abstracts/variables';
.com-hour {
    font-family: $font-SuecaSlab;
    font-size: px(22);
    line-height: px(22);
    font-weight: 700;
    position: relative;
    &:before {
        content: '';
        width: px(16);
        height: px(16);
        border-radius: px(15);
        border: 1px solid $light-neutral-500;
        background: $neutral-white;
        left: px(-30);
        top: 0;
        z-index: 2;
        position: absolute;
    }
}
 */
