@import '../abstracts/variables';

/* lead */

.com-lead-nota {
    //no hay nada definido en mobile
    font-family: $font-arial;
    font-size: px(17);
    line-height: px(30);
    margin-bottom: $spacing-lg;
    &:empty {
        display: none;
    }
}

//Valores de tablet para arriba
@media (min-width: 768px) {
}

//Valores de desk chico para arriba
@media (min-width: 1025px) {
}

//Valores de desk chico para arriba
@media (min-width: 1280px) {
    .com-lead-nota {
        font-family: $font-arial;
        font-size: px(19);
        line-height: px(30);
    }
}

//Valores de desk para arriba
@media (min-width: 1340px) {
}

/* end lead */
