/* @import '../abstracts/variables';
.com-link {
    // text-transform: uppercase;
    // font-family: $font-arial;
    // font-size: px(12);
    // color: $link;
    &.--small {
        font-size: px(14);
        text-transform: initial;
    }
    &.--inline {
        display: inline-block;
        text-transform: initial;
        font-size: px(16);
        line-height: px(23);
    }
}
.element-paragraph a {
    color: $link;
}
.link {
    font-family: $font-arial;
    font-size: px(12);
    color: $link;
    p & {
        font-size: px(16);
    }
    .keep-reading & {
        display: block;
        font-size: px(16);
        line-height: px(23);
        margin-bottom: px(10);
        @media (min-width: 768px) {
            margin-bottom: $spacing-sm;
        }
    }
    .--small {
        font-size: px(14);
        text-transform: initial;
    }
    .opinion-calc & {
        font-size: px(14);
        @media (min-width: 768px) {
            font-size: px(16);
        }
    }
}

.keep-reading {
    margin-bottom: $spacing-lg;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease-in-out;
    &:hover {
        opacity: 0.8;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
    .com-ordered &,
    .com-unordered & {
        color: $link;
    }
}
 */
