@import '../abstracts/variables';

.list-item {
    &.--closed {
        margin-bottom: $spacing-md;
    }
    .action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $spacing-sm;
        border: 1px solid $light-neutral-300;
        border-radius: px(4);
        width: 100%;
        .com-button {
            padding: 0;
        }
    }
    .list-content {
        padding: $spacing-sm 0;
    }
}
