@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-description {
    .ln-badge, .ln-rating-badge {
        position: absolute;
        top: px(-39);
        left: px(-8);
        @media ($media-m) {
            left: px(8);
        }
    }
    .ln-rating-badge.ln-rating-badge {
        top: px(-48);     
    }
}

.com-subhead {
    &.--bajada {
        margin-bottom: $spacing;

        @media ($media-l) {
            margin-bottom: $spacing-sm;
        }
    }
}
