@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-label {
    position: absolute;
    top: px(-39);
    left: px(-8);

    @media ($media-m) {
        left: px(8);
    }
}

.com-subhead {
    &.--bajada {
        margin-bottom: $spacing;

        @media ($media-l) {
            margin-bottom: $spacing-sm;
        }
    }
}
