@import '../abstracts/variables';
@import '../abstracts/mixins';

.modal-body {
    @include flex(flex, row, center, center);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 110;
    &.--flex-end {
        justify-content: flex-end;
    }
}
