@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-label {
    background: $neutral-black;
    color: $neutral-white;
    text-transform: uppercase;
    padding: px(4) px(8);
    position: absolute;
    top: px(-38);
    left: px(-8);
    display: inline-flex;
    flex-wrap: nowrap;
    overflow: hidden;
    max-width: 95%;
    white-space: nowrap;
    @media ($media-m) {
        left: px(8);
    }
}

.com-subhead {
    &.--bajada {
        margin-bottom: $spacing;

        @media ($media-l) {
            margin-bottom: $spacing-sm;
        }
    }
}
