@import '../abstracts/variables';
.layout {
    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;
}

amp-sidebar {
    //Sidebar
    width: 100%;
    max-width: 100%;
    background: #f4f4f4;

    .header_sidebar {
        //Header
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        background: #fff;
        border-bottom: solid 1px #eaeaea;
        margin-bottom: 10px;

        .logo-la-nacion {
            //Logo LN
            font-size: 15px;
            color: $ln-active;
        }
        .icon-close {
            //Ícono cerrar
            background: transparent;
            font-size: 28px;
        }
    }

    .menu-nav {
        //Menú
        height: calc(100% - 130px);

        .menu_li {
            background: #fff;

            a {
                font-family: arial;
                width: 100%;
                text-align: left;
                padding: 15px 20px;
                border-top: 0;
                border-bottom: 1px solid #dfdfdf;
                display: block;
                color: #3f3f3f;
                font-weight: bold;
                font-size: 16px;
            }

            &.desplegable {
                .page-title {
                    width: 50%;
                }

                h2 {
                    display: flex;
                    align-items: center;
                    font-family: arial;

                    font-weight: normal;
                    text-align: left;
                    border-top: 0;
                    border-bottom: 1px solid #dfdfdf;
                    background: #fff;
                    color: #3f3f3f;
                    font-weight: bold;
                    font-size: 16px;

                    &.icon-right:before {
                        top: calc(50% - 10px);
                        font-family: 'LNicons';
                        font-size: 20px;
                        display: block;
                        position: absolute;
                        right: 15px;
                    }
                    &.icon-right[aria-expanded='true'] {
                        background-color: #f2f2f2;
                        text-decoration: underline;

                        a {
                            color: #0074c4;
                            padding: 15px 20px;
                        }

                        &::before {
                            transform: rotate(90deg);
                        }
                    }
                    a.url-link {
                        display: inline-flex;
                        width: 80%;
                        border-bottom: 0;
                    }
                }
            }

            .menu {
                .menu_secciones {
                    a {
                        font-family: arial;
                        width: 100%;
                        text-align: left;
                        padding: 15px 40px;
                        border-top: 0;
                        border-bottom: 1px solid #dfdfdf;
                        display: block;
                        color: #3f3f3f;
                        font-weight: normal;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.icon-cerrar {
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: 'LNicons';
}
a.icon-cerrar:before {
    font-family: 'LNicons';
    font-size: 20px;
    display: block;
}
.header {
    border-bottom: 1px solid #f2f2f2;
    padding: 0 5px;
    position: relative;
    z-index: 10;
    .header__middle {
        display: flex;
        align-items: center;
        .header__middle__logo {
            .logo-la-nacion {
                //Logo LN
                color: $ln-active;
                &:before {
                    font-size: 17px;
                }
            }
        }
    }

    button {
        &.icon-menu {
            display: none;
        }
    }
    .suscribir__header {
        display: flex;
        justify-content: flex-end;
        padding-right: 0;
        background: transparent;
        color: #006998;
        font-weight: normal;
        border: none;
        &:hover {
            background: transparent;
            color: #006998;
            border: none;
        }
    }
    .--storytelling & {
        border: none;

        .header__left {
            button.icon-menu {
                color: $blanco;
            }
        }

        .header__middle {
            .header__middle__logo {
                .logo-la-nacion {
                    color: $blanco;
                }
            }
        }
        .header__right {
            .suscribir__header {
                color: $blanco;
            }
            .--btn.--secondary {
                background-color: transparent;
                border: 1px solid #ffffff;
                color: #ffffff;
            }
        }
        @media (min-width: 768px) {
            .header__right {
                .suscribir__header {
                    color: $negro;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    amp-sidebar {
        width: 40%;
        max-width: 40%;
    }
    .header {
        .suscribir__header {
            display: inline-block;
            justify-content: inherit;
            text-align: center;
        }
    }
}
@media (min-width: 1024px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 0;
        border-bottom: 1px solid #d9d9d9;

        .suscribir__header {
            background-color: #ffff24;
            border: 1px solid #cccccc;
            color: #000000;
            padding: 0.625rem 1.5rem;
            &:hover {
                background: #000000;
                border-color: #000000;
                color: #ffffff;
            }
        }

        .lay {
            .row {
                align-items: center;
                .logo-la-nacion {
                    //Logo LN
                    color: $ln-active;
                    &:before {
                        font-size: 25px;
                    }
                }
            }
        }

        button {
            &.icon-menu {
                font-family: 'arial';
                background: transparent;
                border: none;
                font-size: 15px;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                cursor: pointer;

                &:before {
                    font-size: 30px;
                    display: block;
                    font-family: 'LNicons';
                }
            }
        }
    }
    amp-sidebar {
        width: 25%;
        max-width: 25%;
    }
    .nav {
        display: none;
    }
}

.amp {
    .header {
        .com-usuario {
            .col-12 {
                text-align: right;
                @media (min-width: 769px) {
                    text-align: initial;
                }
            }
        }
    }
}

amp-carousel {
    width: calc(100% + 2.5rem);
    margin-left: -1.25rem;
    margin-bottom: px(32);

    @media (min-width: 769px) {
        width: auto;
        margin-left: 0;
    }

    .mod-picture {
        overflow: hidden;
        amp-img {
            object-fit: contain;
            height: 100%;
            transition: none;
            width: 100%;
            position: absolute;
            img {
                object-fit: contain;
            }
        }
    }
    .mod-figcaption {
        width: 100%;
        margin-left: 0;
    }
}

amp-img {
    img {
        object-fit: cover;
    }
}

amp-social-share {
    &[type='facebook'],
    &[type='twitter'],
    &[type='whatsapp'],
    &[type='email'] {
        background: none;

        font-family: 'LNicons';
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size: px(24);
        padding: px(4);
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
    }

    &[type='facebook']:before {
        content: '\e908';
    }
    &[type='twitter']:before {
        content: '\e922';
    }
    &[type='whatsapp']:before {
        content: '\e926';
    }

    &[type='email'] {
        padding-top: px(16);
        &:before {
            content: '\e907';
        }
    }
}

@media (max-width: 1023px) {
    .cuerpo__nota {
        .col-1 {
            flex: auto;
            max-width: none;
            margin-bottom: px(16);
            .com-share {
                display: block;
                position: relative;
                top: auto;
                left: auto;
                right: auto;
                border: none;
                width: calc(100% + 2.5rem);
                margin-left: -1.25rem;
                .share-right {
                    amp-social-share {
                        padding-top: px(4);
                    }
                }
            }
        }
    }
}
