@import '../abstracts/variables';


.com-title_list {
    font-family: SuecaSlab, Georgia;
    font-size: $font-24;
    line-height: $line-28;
    color: #000;
    &.--bold {
        font-weight: bold;
    }
}

.com-subtitle_list {
    font-family: Arial;
    font-size: $font-16;
    line-height: $line-22;
    font-weight: bold;
    color: #000;
}

.com-ordered {
    padding-left: 0;
    counter-reset: item;
    .com-item {
        list-style-type: none;
        padding-left: 2em;
        margin: 1.5em 0;
        font-family: Georgia;
        font-size: $font-19;
        line-height: 30px;
        margin-bottom: 25px;
        color: #000;
        position: relative;
        &:first-of-type {
            margin: 1em 0;
        }
        &:before {
            content: counter(item) "";
            counter-increment: item;
            width: 26px;
            height: 36px;
            top: -4px;
            background-color: #000;
            color: #fff;
            position: absolute;
            left: 0;
            font-family: Arial, sans-serif;
            font-weight: bold;
            font-size: $font-14;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}