@import '../abstracts/variables';

.container-parallax {
    .image-container {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        overflow: hidden;
        z-index: 0;
        margin-bottom: px(32);
        .--parallax {
            height: 100vh;
            object-fit: cover;
        }
    }
    .step-parallax {
        position: relative;
        height: 100vh;
        margin: 0;
        padding: 0 px(24);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        z-index: 100;
        -webkit-transform: translateZ(1px);
        transform: translateZ(1px);
        text-align: center;

        .bajada-titulo {
            color: $light-neutral-50;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.46);
            font-size: px(24);
            line-height: px(32);
            letter-spacing: px(-0.4);
            @media ($media-m) {
                font-size: px(40);
                line-height: px(52);
            }
            @media ($media-l) {
                font-size: px(48);
                line-height: px(56);
            }
        }

        .bajada-parrafo {
            display: inline-block;
            max-width: px(740);
            border-radius: px(4);
            color: #ffffff;
            background-color: #1c1c1f99;
            padding: $spacing-sm;
        }
    }
}
