@import '../abstracts/variables';

.container-parallax {
    .image-container {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        overflow: hidden;
        z-index: 0;
        .--parallax {
            height: 100vh;
            object-fit: cover;
        }
    }
    .step-parallax {
        position: relative;
        height: 100vh;
        margin: 0;
        padding: 0 px(24);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        z-index: 100;
        -webkit-transform: translateZ(1px);
        transform: translateZ(1px);
        text-align: center;

        .bajada-titulo {
            width: auto;
            font-weight: 800;
            font-family: 'Prumo Deck';
            font-size: px(48);
            line-height: 1.1;
            letter-spacing: 0rem;
            color: #03fada;
            text-shadow: 0px 1px 3px black;
            @media (min-width: 520px) {
                font-size: px(64);
            }
            @media ($media-m) {
                font-size: px(128);
            }
        }

        .bajada-parrafo {
            max-width: px(740);
            font-size: 25px;
            font-family: 'Prumo Deck';
            letter-spacing: 0rem;
            color: #fff;
            background-color: #0000007a;
            display: inline-block;
            padding: px(24);
            line-height: 1.2;
            font-weight: 100;
        }
    }
}
