@import '../abstracts/variables';

.com-ranking {
    background: $neutral-white;
    .com-ordered {
        .com-item {
            padding-left: 0;
            margin: 0 0 px(32) 0;
            &:before {
                top: px(1);
                left: px(1);
                z-index: 2;
                font-family: $font-SuecaSlab;
                font-size: px(16);
                font-weight: 400;
                width: 1.4rem;
                height: 2.4rem;
            }
        }
    }
}
//Fotos cuadradas en la tercera
@media ($media-l) {
    .com-ranking {
        .sidebar__aside & {
            .com-ordered {
                .com-item {
                    .mod-article {
                        flex-direction: row;
                        .content-media {
                            .mod-media {
                                margin-bottom: 0;
                                //.mod-figure {
                                //&.--horizontal {
                                .placeholder {
                                    padding-top: $box;
                                    width: px(120);
                                }
                            }
                        }
                        .mod-description {
                            margin-left: $spacing-sm;
                            .com-title {
                                //font-weight: 500;
                                font-family: $font-arial;
                                font-size: 1rem;
                                line-height: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
