@import '../abstracts/variables';

.com-ranking {
    background: $neutral-white;
    .com-item {
        padding-left: 0;
        &:first-of-type {
            margin-top: px(20);
        }
        &:before {
            top: 0;
            z-index: 2;
        }
    }

    .sidebar__aside & {
        @media ($media-lm) {
            display: inline-block;
        }
    }
}
