@import '../abstracts/variables';

/* share Sociales */

.com-share {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: $blanco;
    border: 1px solid $gris1;
    overflow: hidden;
    transition: all 0.25s;
    //scrollUp
    &.--scrollDown {
        transform: translateY(-100%);
    }
    //scrollDown
    &.--scrollUp {
        transform: translateY(0);
        top: $px-70;
    }
    .humor & {
        border: 0;
        display: inline-block;
        width: auto;
        float: none;
        position: relative;
        vertical-align: bottom;
        > .share-right button:first-child {
            border-top: 0;
            padding-top: 0;
        }
        button {
            display: inline-block;
            margin: 0 $px-15 0 0;
            height: $px-25;
            width: $px-25;
            &.icon-comment {
                display: none;
            }
        }
        label {
            display: none;
        }
    }
}

.com-share > div {
    display: inline-block;
}

.com-share > .share-right {
    float: right;
    button {
        margin-right: 0;
    }
}

.com-share button {
    display: inline-block;
    width: $px-30;
    height: $px-30;
    background: initial;
    border: 0;
    font-size: $font-24;
    padding: 0;
    margin-right: $px-17;
    .humor & {
        margin-right: $px-15;
    }
}

.com-share label {
    display: inline-block;
    font-family: $font-arial;
    font-size: $font-11;
    line-height: $line-14;
    vertical-align: super;
    color: $link;
    margin-right: $px-10;
}

//Valores de tablet para arriba
@media (min-width: 768px) {
}

//Valores de desk chico para arriba
@media (min-width: 1024px) {
    .com-share {
        position: sticky;
        top: 40%;
        top: $px-10;
        left: 0;
        width: $px-30;
        background: initial;
        border: 0;
        float: left;
    }
    .com-share > .share-right {
        float: initial;
        margin-right: initial;
        border-top: 1px solid $negro;
    }
    .com-share button {
        display: block;
        width: $px-30;
        height: $px-30;
        background: initial;
        border: 0;
        font-size: $font-30;
        margin: $px-10 0;
        opacity: 0.8;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
            color: $link;
        }
    }
    .com-share label {
        margin-left: initial;
    }
    .com-share button.icon-comment,
    .com-share button.icon-comment + label {
        display: none;
    }
    .com-share > .share-right button:first-child {
        margin: $px-10 0 0 0;
    }
}

/* end share Sociales */
