@import '../abstracts/imports';
@import '../base/aspect-ratios';

/* share Sociales */

.com-share {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: $blanco;
    border: 1px solid $gris1;
    overflow: hidden;
    transition: transform 0.25s;
    //scrollUp
    &.--scrollDown {
        transform: translateY(-100%);
    }
    //scrollDown
    &.--scrollUp {
        transform: translateY(0);
    }
}

.com-share>div {
    display: inline-block;
}

.com-share>.share-right {
    float: right;
    button {
        margin-right: 0;
    }
}

.com-share button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: initial;
    border: 0;
    font-size: $font-24;
    padding: 0;
    margin-right: 17px;
}

.com-share label {
    display: inline-block;
    font-family: $font-arial;
    font-size: $font-11;
    line-height: $line-30;
    vertical-align: super;
    color: $link;
    margin-left: -20px
}

//Valores de tablet para arriba
@media (min-width: 768px) {}

//Valores de desk chico para arriba
@media (min-width: 1024px) {
    .com-share {
        position: sticky;
        top: 40%;
        left: 0;
        width: 30px;
        background: initial;
        border: 0;
        float: left;
    }
    .com-share>.share-right {
        float: initial;
        margin-right: initial;
    }
    .com-share button {
        display: block;
        width: 30px;
        height: 30px;
        background: initial;
        border: 0;
        font-size: $font-30;
        margin: $px-10 0;
    }
    .com-share label {
        margin-left: initial
    }
    .com-share button.icon-comment,
    .com-share button.icon-comment+label {
        display: none;
    }
    .com-share>.share-right button:first-child {
        border-top: 1px solid $negro;
        padding-top: $px-10;
        margin: 0
    }
}


/* end share Sociales */