@import '../abstracts/variables';

.noticia-storytelling {
    main {
        padding-top: 0;
        padding-bottom: 0;

        .--storytelling {
            margin-top: px(-45); //header transparente
            position: relative;
            // .cont-figure {
            //     min-height: 520px;
            //     @media (min-width: 768px) {
            //         min-height: initial;
            //     }
            //     > .figure {
            //         min-height: 520px;
            //         @media (min-width: 768px) {
            //             min-height: 728px;
            //         }
            //     }
            // }
            // .com-epigrafe {
            //     padding-top: $px-15;
            //     @media (min-width: 1023px) {
            //         width: 140%;
            //     }
            //     @media (min-width: 1280px) {
            //         width: 150%;
            //     }
            // }
            @media ($media-l) {
                margin-top: px(-65); //header transparente
            }

            .mod-figure {
                .mod-picture {
                    width: 100%;
                    margin: 0;

                    background: $negro;
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    //padding-top: calc((2 / 3) * 100%);

                    height: calc(100vh - 60px);

                    @media (min-width: 769px) {
                        height: 100vh;
                    }

                    .com-image {
                        position: fixed;
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        // object-position: top;
                        background-attachment: fixed;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
            }

            .mod-title {
                position: absolute;
                bottom: 0;
                z-index: 1;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.65);
                transition: all 0.2s ease-in-out;
                padding-bottom: px(16);

                @media (min-width: 769px) {
                    padding-bottom: $px-16;
                }

                &:before {
                    background-image: linear-gradient(
                        to top,
                        rgba(0, 0, 0, 0.65),
                        rgba(0, 0, 0, 0)
                    );
                    content: '';
                    height: px(120);
                    width: 100%;
                    margin-top: px(-120);
                    position: absolute;
                }

                [class*='logo-'] {
                    color: $blanco;
                    font-size: px(16);
                    margin: 0;
                    margin-bottom: px(8);
                    @media ($media-m) {
                        font-size: px(24);
                        margin-bottom: px(16);
                    }
                }

                .com-title {
                    font-family: $font-SuecaSlab;
                    font-size: px(24);
                    line-height: px(32);
                    color: $blanco;
                    @media ($media-m) {
                        font-size: px(46);
                        line-height: px(54);
                    }
                }
            }
            .mod-figcaption {
                border-bottom: 1px solid #ccc;
                margin-top: px(8);
                margin-bottom: px(32);
                .--credit,
                .--caption {
                    margin-bottom: px(8);
                }
            }
            // .sidebar__main {
            //     overflow: visible;
            //     .text:first-of-type {
            //         margin-top: 0;
            //     }
            // }
        }
        // .cont-figure .figure .picture {
        //     padding-top: initial;
        // }
    }

    &.--hlp-transparent {
        .header-mobile {
            background: rgba(0, 0, 0, 0.5);
            border: none;
            .header-mobile__logo .logo-la-nacion,
            a {
                color: $blanco;
            }
        }
    }

    .lay-sidebar,
    footer,
    .mod-figcaption,
    .wrap {
        background: $blanco;
        position: relative;
        &.root {
            display: flow-root;
        }
    }
    .footer {
        padding-top: px(40);
    }
    .lay-sidebar {
        margin-bottom: 0;
        padding-bottom: px(40);
    }
}
