@import '../abstracts/variables';

/* subtitles */

.com-subtitle-nota-1 {
    font-family: $font-SuecaSlab;
    font-size: px(22);
    font-weight: 700;
    line-height: px(32);
}

.com-subtitle-nota-2 {
    font-family: $font-arial;
    font-size: px(16);
    font-weight: 800;
    line-height: px(23);
    letter-spacing: -0.21px;
}

.com-subtitle-nota-3 {
    font-family: $font-arial;
    font-size: px(16);
    font-weight: 700;
    line-height: px(31);
    .sidebar__main .com-tag & {
        margin-bottom: px(10);
    }
}

[class^='com-subtitle'] {
    // Se agrega porque en amp quedan pegados los subtitulos
    margin-bottom: $spacing-sm;
    width: 100%;
}

//Valores de tablet para arriba
@media (min-width: 768px) {
    .com-subtitle-nota-2 {
        font-family: $font-SuecaSlab;
        font-size: px(22);
        font-weight: 600;
        line-height: px(29);
        letter-spacing: 0px;
        margin-bottom: $spacing-sm;
    }
}

//Valores de desk chico para arriba
@media (min-width: 1025px) {
    .com-subtitle-nota-1 {
        font-family: $font-SuecaSlab;
        font-size: px(24);
        font-weight: 700;
        line-height: px(31);
    }
    .com-subtitle-nota-2 {
        font-family: $font-SuecaSlab;
        font-size: px(24);
        font-weight: 500;
        line-height: px(31);
    }
}

//Valores de desk para arriba
/*@media (min-width: 1340px) {
    .com-subtitle-nota-2 {
        // font-weight: 800; sacamos esto porque en el zeplin de nota noticias no está
    }
}
*/

/* end subtitles */
