@import '../abstracts/variables';

.com-table {
    border: 1px solid $light-neutral-300;
    width: 100%;
    tr {
        th {
            text-align: start;
            padding: $spacing-sm;
            color: $neutral-black;
            font-weight: 700;
        }
        td {
            padding: $spacing-sm;
        }
    }
    tr:not(:last-child) {
        border-bottom: 1px solid $light-neutral-300;
    }
}
