@import '../abstracts/variables';
.table-wrapper {
    overflow: auto;
    width: 100%;
    .table {
        width: 100%;
        border: px(1) solid $light-neutral-300;
        thead {
            border-bottom: px(1) solid $light-neutral-300;
        }
        tr {
            th {
                padding: $spacing-sm;
                color: $neutral-black;
                font-weight: 700;
                background-color: inherit;
            }
        }
        td {
            padding: $spacing-sm;
        }
        th,
        td {
            text-align: start;
            vertical-align: middle;
        }
        tr:not(:last-child) {
            border-bottom: px(1) solid $light-neutral-300;
        }
    }
    &.--two-columns {
        @media ($media-m) {
            width: 50%;
        }
        tr,
        th {
            td {
                width: 50%;
            }
        }
    }
    &.--holidays {
        width: 100%;
        .table {
            margin-top: $spacing-sm;
            margin-bottom: $spacing-lg;
            border-radius: px(4);
            overflow: hidden;
            border-collapse: separate;
            thead {
                border-bottom: px(0) solid $light-neutral-300;
            }
            tr {
                th {
                    text-align: center;
                    background-color: $light-neutral-200;
                }
                td {
                    text-align: center;
                    hyphens: auto;
                    @media ($media-s) {
                        vertical-align: middle;
                        hyphens: none;
                    }
                }
            }
            td,
            th {
                padding: $spacing-sm $spacing-xs;
                @media (min-width: 402px) {
                    padding: $spacing-sm;
                }
            }
            tr:not(:last-child) {
                border-bottom: px(0) solid $light-neutral-300;
            }
        }
    }
}
