@import '../abstracts/variables';
.com-title_list {
    font-family: SuecaSlab, Georgia;
    font-size: $font-24;
    color: $negro;
}

.com-subtitle_list {
    font-family: Arial;
    font-size: $font-16;
    font-weight: bold;
    color: $negro;
    .sidebar__main & {
        margin-top: $px-10;
        margin-bottom: $px-10;
    }
}

.com-unordered {
    padding-left: 0;
    list-style: none;
    .com-item {
        padding-left: 1em;
        font-family: $font-arial;
        font-size: $font-16;
        line-height: 30px;
        margin-bottom: $px-20;
        color: $negro;
        position: relative;
        &:before {
            content: '';
            width: $px-7;
            height: $px-7;
            border-radius: 50%;
            top: $px-10;
            background-color: $negro;
            color: $blanco;
            position: absolute;
            left: 0;
            font-family: Arial, sans-serif;
            font-weight: bold;
            font-size: $font-14;
        }
    }
}
