@import '../abstracts/variables';


.com-title_list {
    font-family: SuecaSlab, Georgia;
    font-size: $font-24;
    color: #000;
}

.com-subtitle_list {
    font-family: Arial;
    font-size: $font-16;
    font-weight: bold;
    color: #000;
}

.com-unordered {
    padding-left: 0;
    list-style: none;
    .com-item {
        padding-left: 1em;
        font-family: $font-arial;
        font-size: $font-16;
        line-height: 30px;
        margin-bottom: 25px;
        color: #000;
        position: relative;
        &:before {
            content: "";
            width: $px-7;
            height: $px-7;
            border-radius: 50%;
            top: 10px;
            background-color: #000;
            color: #fff;
            position: absolute;
            left: 0;
            font-family: Arial, sans-serif;
            font-weight: bold;
            font-size: $font-14;
        }
    }
}

.nota {
    &.noticia {
      .com-epigrafe {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0 20px;
        border-bottom: 1px solid #dedede;
        background: #fff;
        p {
            width: 100%;
            margin-bottom: 0;
            &.text {
                font-family: Arial;
                font-size: 16px;
                }
            &.small {
                color:#6e6e6e;
                font-size: 14px;
            }
        } 
      }
      .com-cita {
          padding: 30px;
          border: solid 1px #cccccc;
          display: flex;
          flex-wrap: nowrap;
          &.autor {
            .cont-figure {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                .figure {
                    width: 100px;
                    height: 100px;
                    .content-pic {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        &::after {
                            display: none;
                        }
                        &::before {
                            font-size: 6em;
                        }
                    }
                }
            }
            .cont-cita {
                padding: 0 35px;
                display: flex;
                flex-wrap: wrap;
                .title-cita {
                    font-family: SuecaSlab, Georgia;
                    font-size: 24px;
                    width: 100%;
                    margin-bottom: 25px;
                }
                .cont-firma-autor {                
                    display: flex;
                    flex-wrap: nowrap;
                    width: 100%;
                    margin-bottom: 10px;
                    .nombre-firma {
                        font-weight: 700;
                        margin-right: 5px;
                    }
                }
                .cont-data-firma {
                    display: flex;
                    flex-wrap: nowrap;
                    width: 100%;
                    .fecha-firma {
                        color: #6e6e6e;
                        font-size: 14px;
                        margin-right: 5px;
                    }
                    .lugar-firma {
                        color: #6e6e6e;
                        font-size: 14px;
                    }
                }

            }
          }
      }
    }
  }