@import '../abstracts/variables';


.com-title_list {
    font-family: SuecaSlab, Georgia;
    font-size: $font-24;
    color: #000;
}

.com-subtitle_list {
    font-family: Arial;
    font-size: $font-16;
    font-weight: bold;
    color: #000;
}

.com-unordered {
    padding-left: 0;
    list-style: none;
    .com-item {
        padding-left: 1em;
        font-family: $font-arial;
        font-size: $font-16;
        line-height: 30px;
        margin-bottom: 25px;
        color: #000;
        position: relative;
        &:before {
            content: "";
            width: $px-7;
            height: $px-7;
            border-radius: 50%;
            top: 10px;
            background-color: #000;
            color: #fff;
            position: absolute;
            left: 0;
            font-family: Arial, sans-serif;
            font-weight: bold;
            font-size: $font-14;
        }
    }
}
