@import '../abstracts/variables';
//=====================
// USUARIO
//=====================
.com-usuario {
    display: flex;
    justify-content: flex-end;
    &__name {
        font-weight: 700;
        font-size: px(14);
        color: $link;
        cursor: pointer;
        position: relative;
        margin-bottom: px(5);
        &:before {
            content: '';
            width: px(7);
            height: px(7);
            border-top: 2px solid $link;
            border-left: 2px solid $link;
            position: absolute;
            right: px(-14);
            top: px(1);
            transform: rotate(224deg);
            .--transparent & {
                border-color: $neutral-white;
            }
        }
    }
    &__valueSuscrib {
        font-weight: 400;
        font-size: px(12);
        color: $light-neutral-600;
    }
    #menuUser {
        outline: none;
        cursor: pointer;
    }
}

.com-desplegable {
    display: none;
    padding: 0 px(12);
    padding-bottom: px(12);
    width: px(200);
    border: 1px solid $light-neutral-200;
    background: $neutral-white;
    border-radius: 3px;
    text-align: left;
    position: absolute;
    right: 0;
    top: px(50);
    box-shadow: 0 0 4px 0 rgba(167, 164, 164, 0.2);
    z-index: 100;
    &:before {
        content: '';
        transform: rotate(45deg);
        width: px(12);
        height: px(12);
        border: 2px solid $light-neutral-200;
        border-right: none;
        border-bottom: none;
        border-radius: 0 0 6px 0;
        margin: px(-8) auto 0;
        background: $neutral-white;
        display: block;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    }
    &:after {
        content: '';
        width: px(40);
        height: px(10);
        position: absolute;
        top: 0;
        left: px(80);
        background: $neutral-white;
        display: block;
        z-index: 0;
    }
    li {
        z-index: 2;
        position: relative;
        &:first-child {
            margin-top: px(12);
            border-bottom: 1px solid $light-neutral-300;
        }
        &:last-child {
            border-top: 1px solid $light-neutral-300;
            a,
            a:hover {
                color: $red-700;
            }
        }
        a {
            font-size: px(14);
            padding: px(12);
            width: auto;
            display: block;
            color: $link;
            &:hover {
                background: $blue-100;
                border-radius: px(4);
                color: $blue-400;
            }
        }
    }
    .new-feature {
        position: absolute;
        z-index: 110;
        top: px(26);
        right: $spacing-md;
        padding: px(4) $spacing;
        color: $neutral-white;
        background: $blue-500;
        border-radius: px(4);
    }
    .com-usuario.--active & {
        display: block;
    }
}
