.layout {
    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* ////////////////////////FOOTER-NAV*/

amp-sidebar {
    width: 200px;
}

.nav {
    border-top: 1px solid #cccccc;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    min-height: 55px;
    padding: 5px 0;
    font-family: Arial, sans-serif;
    font-size: 11px;
    background: #ffffff;
    z-index: 9999999999999999;
}

.nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: calc(100% / 4);
}
.nav button.icon-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

button.icon-menu {
    font-family: 'arial';
    background: transparent;
    border: none;
    width: calc(100% / 4);
    font-size: 12px;
    cursor: pointer;
}
button.icon-menu:before {
    font-family: 'LNicons';
    font-size: 18px;
}
a.icon-home {
    font-family: 'arial';
    font-size: 12px;
}
a.icon-home:before {
    font-size: 30px;
    display: block;
    font-family: 'LNicons';
}

a.icon-club {
    width: calc(100% / 3);
    font-family: 'arial';
    font-size: 12px;
}

a.icon-club:before {
    font-size: 30px;
    display: block;
    font-family: 'LNicons';
}

a.icon-cuenta {
    font-family: 'arial';
    font-size: 12px;
}

a.icon-cuenta:before {
    font-size: 30px;
    display: block;
    font-family: 'LNicons';
}

.icon-cerrar {
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: 'LNicons';
}

a.icon-cerrar:before {
    font-family: 'LNicons';
    font-size: 20px;
    display: block;
}

.menu-nav {
    margin-top: 40px;
}

.menu-nav li a {
    font-family: arial;
    font-size: 14px;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    border-top: 0;
    border-bottom: 1px solid #dfdfdf;
}

.menu-nav li h2 {
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    padding: 10px 20px;
    border-top: 0;
    border-bottom: 1px solid #dfdfdf;
    background: #fff;
}

.icon-des:before {
    font-family: 'icons';
    content: '\e907';
    font-size: 20px;
    display: block;
    position: absolute;
    right: 10px;
}

.icon-des[aria-expanded='true']:before {
    transform: rotate(90deg);
}

#sidebar-left {
    background: #ffffff;
}
