@import '../abstracts/variables';
@import '../abstracts/mixins';

@mixin common-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $dark-neutral-600;
    margin-right: px(8);
    border-radius: 4px;
    height: px(340);
    min-width: px(234);
    width: 100%;
    padding: $spacing-sm $spacing-sm px(20) $spacing-sm;
}

.weather-card {
    @include common-card;

    .com-link {
        align-self: center;
    }
    .com-link .com-text {
        color: $neutral-black;
    }
    .icon {
        @include flex(flex, column, center, center);
        .com-icon {
            width: px(50);
            height: px(50);
        }
    }
    .temperature {
        @include flex(flex, row, space-around, center);
    }
}

.forecast-card {
    @include common-card;
    display: flex;
    flex-direction: column;

    .labeled {
        @include flex(flex, column, center, center);
    }

    .icon {
        @include flex(flex, column, center, center);
        .com-icon {
            width: px(50);
            height: px(50);
        }
    }
    .detail-province-icons {
        @include flex(flex, row, space-around, center);
        border-top: 1px solid $light-neutral-400;
        padding-top: px(8);
    }
}

.extend-forecast {
    display: flex;
    flex-direction: column;
    margin: px(20) 0;

    .com-text {
        margin-bottom: px(16);
    }

    .content-forecast {
        display: flex;
        flex-direction: column;

        @media ($media-m) {
            flex-direction: row;
        }
    }
}

.icon-references {
    @include flex(flex, row, space-around, center);
    border: 1px solid $dark-neutral-600;
    flex-wrap: wrap;
    border-radius: 4px;
    padding: px(16);
    margin-bottom: px(24);

    .card-icon {
        @include flex(flex, column, space-around, center);
        margin: px(8);

        .com-icon {
            height: 40px;
            width: 40px;
        }
        .com-text {
            margin-top: px(16);
        }
    }

    @media (max-width: 375px) {
        flex-direction: column;
        .com-icon {
            margin-top: px(16);
        }
    }
}

.province-list {
    @include flex(flex, row, space-between);
    flex-wrap: wrap;

    .province {
        @include flex(flex, column, center, center);
        border: 1px solid $light-neutral-400;
        border-radius: px(4);
        height: px(80);
        width: 100%;
        max-width: px(150);
    }
}
