.card a:hover {
  opacity: inherit;
}
.card:not([data-variant=day-recipe]) a:hover .card-title {
  color: var(--accent-lechuga);
  opacity: 0.8;
}
.card[data-variant=day-recipe] .card-title:hover {
  color: var(--accent-lechuga);
  opacity: 0.8;
}
.card .--img-full-width_max1280 {
  --_spacing: var(--spacing) * 2;
  width: calc(100% + var(--_spacing));
}
@media (min-width: 80rem) {
  .card .--img-full-width_max1280 {
    --_spacing: 0;
    width: 100%;
  }
}