.capitalize {
  text-transform: capitalize;
}

.deprecated-neutral-700{
    color: #4C4C4C;
}

.text-12-Arial{
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
}

.tracking--032{
  letter-spacing: -0.32px;
}

@media (min-width: 1024px) {
  .uppercase_l{
    text-transform: uppercase;
  }
  .text-8-Arial_l{
    font-size: 8px;
    line-height: 130%;
    font-weight: 400;
  }
  .-mt-2_l{
    margin-top: -2px;
  }
  .gap-24_l{
    gap: 24px;
  }
}