/* COLUMNAS*/
/* COLORES */
/* end Colores */
/* FONT-FACE */
/* COLUMNAS */
/* ORDERS */
/* OFFSETS */
/* COLUMNAS*/
/* COLORES */
/* end Colores */
/* FONT-FACE */
/* COLUMNAS */
/* ORDERS */
/* OFFSETS */
/* FONTS --------------- */
@font-face {
  font-family: "SuecaSlab";
  src: url(/pf/resources/dist/fonts/suecaslab-medium-webfont.eot);
  src: url(/pf/resources/dist/fonts/suecaslab-medium-webfont.eot) format("embedded-opentype"), url(/pf/resources/dist/fonts/suecaslab-medium-webfont.woff) format("woff"), url(/pf/resources/dist/fonts/suecaslab-medium-webfont.ttf) format("truetype"), url(/pf/resources/dist/fonts/suecaslab-medium-webfont.svg) format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SuecaSlab";
  src: url(/pf/resources/dist/fonts/suecaslab-bold-webfont.eot);
  src: url(/pf/resources/dist/fonts/suecaslab-bold-webfont.eot) format("embedded-opentype"), url(/pf/resources/dist/fonts/suecaslab-bold-webfont.woff) format("woff"), url(/pf/resources/dist/fonts/suecaslab-bold-webfont.ttf) format("truetype"), url(/pf/resources/dist/fonts/suecaslab-bold-webfont.svg) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LNicons";
  src: url(/pf/resources/dist/fonts/ln-icons.eot);
  src: url(/pf/resources/dist/fonts/ln-icons.eot) format("embedded-opentype"), url(/pf/resources/dist/fonts/ln-icons.woff) format("woff"), url(/pf/resources/dist/fonts/ln-icons.ttf) format("truetype"), url(/pf/resources/dist/fonts/ln-icons.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LNlogos";
  src: url(/pf/resources/dist/fonts/ln-logos.eot);
  src: url(/pf/resources/dist/fonts/ln-logos.eot) format("embedded-opentype"), url(/pf/resources/dist/fonts/ln-logos.woff) format("woff"), url(/pf/resources/dist/fonts/ln-logos.ttf) format("truetype"), url(/pf/resources/dist/fonts/ln-logos.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: 700;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'LNicons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 2rem;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
  content: "\e900";
}

.icon-twitter:before {
  content: "\e901";
}

.icon-time:before {
  content: "\e902";
}

.icon-rss:before {
  content: "\e903";
}

.icon-portion:before {
  content: "\e904";
}

.icon-menu:before {
  content: "\e905";
}

.icon-mail:before {
  content: "\e906";
}

.icon-right:before {
  content: "\e907";
}

.icon-left:before {
  content: "\e908";
}

.icon-ios:before {
  content: "\e909";
}

.icon-instagram:before {
  content: "\e90a";
}

.icon-inbox:before {
  content: "\e90b";
}

.icon-home:before {
  content: "\e90c";
}

.icon-facebook:before {
  content: "\e90d";
}

.icon-star:before {
  content: "\e90e";
}

.icon-comment:before {
  content: "\e90f";
}

.icon-lock:before {
  content: "\e910";
}

.icon-club:before {
  content: "\e911";
}

.icon-close:before {
  content: "\e912";
}

.icon-search:before {
  content: "\e913";
}

.icon-bullet:before {
  content: "\e914";
}

.icon-down:before {
  content: "\e915";
}

.icon-up:before {
  content: "\e916";
}

.icon-clap:before {
  content: "\e917";
}

.icon-android:before {
  content: "\e918";
}

.icon-setting:before {
  content: "\e919";
}

.icon-zoom:before {
  content: "\e91a";
}

/*LOGOS*/
[class^="logo-"],
[class*=" logo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'LNlogos' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.5rem;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
  [class^="logo-"],
  [class*=" logo-"] {
    font-size: 1.625rem;
  }
}

.logo-rolling:before {
  content: "\e91b";
}

.logo-ohlala:before {
  content: "\e91c";
}

.logo-negocios:before {
  content: "\e91d";
}

.logo-ln-mas:before {
  content: "\e91e";
}

.logo-ln:before {
  content: "\e91f";
}

.logo-living:before {
  content: "\e920";
}

.logo-la-nacion:before {
  content: "\e921";
}

.logo-jardin:before {
  content: "\e922";
}

.logo-hola:before {
  content: "\e923";
}

.logo-hola-argentina:before {
  content: "\e924";
}

.logo-club-lanacion:before {
  content: "\e925";
}

.logo-ln-placeholder:before {
  content: "\e926";
}

.logo-club:before {
  content: "\e927";
}

.logo-lugares:before {
  content: "\e928";
}

.logo-brando:before {
  content: "\e929";
}

@media screen and (min-width: 20em) {
  html {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1340 - 320)));
  }
}

@media screen and (min-width: 22.5625em) {
  html {
    font-size: calc(16px + (18 - 16) * ((100vw - 360px) / (1340 - 360)));
  }
}

@media screen and (min-width: 47.9375em) {
  html {
    font-size: calc(16px + (18 - 16) * ((100vw - 768px) / (1340 - 768)));
  }
}

@media screen and (min-width: 64.0625em) {
  html {
    font-size: calc(16px + (18 - 16) * ((100vw - 1024px) / (1340 - 1024)));
  }
}

@media screen and (min-width: 83.75em) {
  html {
    font-size: 16px;
  }
}

/* COLUMNAS*/
/* COLORES */
/* end Colores */
.cont-figure {
  background-color: #f2f2f2;
}

.cont-figure .figure {
  display: flex;
  width: 100%;
}

.cont-figure .figure:hover {
  opacity: 1;
}

.cont-figure .figure .picture {
  padding-top: calc((2 / 3)* 100%);
}

.cont-figure .figure .content-video {
  width: 100%;
  background: #f2f2f2;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}

.cont-figure .figure .content-video > * {
  z-index: 1;
}

.cont-figure .figure .content-video .content-multimedia {
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
}

.cont-figure .figure .content-pic {
  width: 100%;
  background: #f2f2f2;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-figure .figure .content-pic.zoom:after {
  font-family: 'LNicons' !important;
  color: #ffffff;
  font-size: 25px;
  content: "\e91a";
  position: absolute;
  width: 58px;
  height: 42px;
  top: 0;
  right: 0;
  background: #000000;
  opacity: 0.7;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-figure .figure .content-pic > * {
  z-index: 1;
}

.cont-figure .figure .content-pic .content-img {
  display: flex;
  position: absolute;
  top: 0;
  filter: brightness(100%);
  transition: all .2s ease-in-out;
}

.cont-figure .figure .content-pic .content-img:hover {
  transition: all .2s ease-in-out;
  filter: brightness(110%);
}

.square {
  padding-top: calc((3 / 4)* 100%);
}

.video {
  padding-top: calc((9 / 16)* 100%);
}

.cinema {
  padding-top: calc((9 / 21)* 100%);
}

.vertical-square {
  padding-top: calc((13 / 12.19)* 100%);
}

.vertical-video {
  padding-top: calc((13 / 8.19)* 100%);
}

.w-100 {
  width: calc(100% + 20px) !important;
  margin-left: -0.625em;
}

@media (min-width: 22em) {
  .w-100 {
    width: calc(100% + 40px) !important;
    margin-left: -1.25em;
  }
}

@media (min-width: 48em) {
  .w-100 {
    width: calc(100% + 60px) !important;
    margin-left: -1.875em;
  }
}

@media (min-width: 64em) {
  .w-100 {
    width: 100% !important;
    margin-left: 0;
  }
}

.w-100-mobile {
  width: calc(100% + 20px) !important;
  margin-left: -0.625em;
}

@media (min-width: 22em) {
  .w-100-mobile {
    width: calc(100% + 40px) !important;
    margin-left: -1.25em;
  }
}

@media (min-width: 48em) {
  .w-100-mobile {
    width: 100% !important;
    margin-left: 0;
  }
}

@media (min-width: 64em) {
  .w-100-mobile {
    width: 100% !important;
    margin-left: 0;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-mobile-1, .col-mobile-2, .col-mobile-3, .col-mobile-4, .col-mobile-5, .col-mobile-6, .col-mobile-7, .col-mobile-8, .col-mobile-9, .col-mobile-10, .col-mobile-11, .col-mobile-12, .col-mobile,
.col-mobile-auto, .col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4, .col-tablet-5, .col-tablet-6, .col-tablet-7, .col-tablet-8, .col-tablet-9, .col-tablet-10, .col-tablet-11, .col-tablet-12, .col-tablet,
.col-tablet-auto, .col-desksm-1, .col-desksm-2, .col-desksm-3, .col-desksm-4, .col-desksm-5, .col-desksm-6, .col-desksm-7, .col-desksm-8, .col-desksm-9, .col-desksm-10, .col-desksm-11, .col-desksm-12, .col-desksm,
.col-desksm-auto, .col-deskxl-1, .col-deskxl-2, .col-deskxl-3, .col-deskxl-4, .col-deskxl-5, .col-deskxl-6, .col-deskxl-7, .col-deskxl-8, .col-deskxl-9, .col-deskxl-10, .col-deskxl-11, .col-deskxl-12, .col-deskxl,
.col-deskxl-auto {
  position: relative;
  width: 100%;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  -ms-flex-order: -1;
  order: -1;
}

.order-last {
  -ms-flex-order: 13;
  order: 13;
}

.order-0 {
  -ms-flex-order: 0;
  order: 0;
}

.order-1 {
  -ms-flex-order: 1;
  order: 1;
}

.order-2 {
  -ms-flex-order: 2;
  order: 2;
}

.order-3 {
  -ms-flex-order: 3;
  order: 3;
}

.order-4 {
  -ms-flex-order: 4;
  order: 4;
}

.order-5 {
  -ms-flex-order: 5;
  order: 5;
}

.order-6 {
  -ms-flex-order: 6;
  order: 6;
}

.order-7 {
  -ms-flex-order: 7;
  order: 7;
}

.order-8 {
  -ms-flex-order: 8;
  order: 8;
}

.order-9 {
  -ms-flex-order: 9;
  order: 9;
}

.order-10 {
  -ms-flex-order: 10;
  order: 10;
}

.order-11 {
  -ms-flex-order: 11;
  order: 11;
}

.order-12 {
  -ms-flex-order: 12;
  order: 12;
}

.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

@media (min-width: 768px) {
  .col-tablet {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-tablet-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-tablet-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-tablet-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-tablet-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-tablet-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-tablet-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-tablet-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-tablet-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-tablet-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-tablet-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-tablet-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-tablet-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-tablet-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-tablet-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-tablet-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-tablet-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-tablet-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-tablet-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-tablet-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-tablet-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-tablet-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-tablet-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-tablet-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-tablet-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-tablet-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-tablet-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-tablet-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-tablet-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-tablet-0 {
    margin-left: 0%;
  }
  .offset-tablet-1 {
    margin-left: 8.33333%;
  }
  .offset-tablet-2 {
    margin-left: 16.66667%;
  }
  .offset-tablet-3 {
    margin-left: 25%;
  }
  .offset-tablet-4 {
    margin-left: 33.33333%;
  }
  .offset-tablet-5 {
    margin-left: 41.66667%;
  }
  .offset-tablet-6 {
    margin-left: 50%;
  }
  .offset-tablet-7 {
    margin-left: 58.33333%;
  }
  .offset-tablet-8 {
    margin-left: 66.66667%;
  }
  .offset-tablet-9 {
    margin-left: 75%;
  }
  .offset-tablet-10 {
    margin-left: 83.33333%;
  }
  .offset-tablet-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 64em) {
  .col-desksm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-desksm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-desksm-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-desksm-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-desksm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-desksm-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-desksm-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-desksm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-desksm-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-desksm-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-desksm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-desksm-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-desksm-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-desksm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-desksm-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-desksm-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-desksm-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-desksm-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-desksm-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-desksm-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-desksm-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-desksm-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-desksm-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-desksm-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-desksm-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-desksm-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-desksm-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-desksm-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-desksm-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-desksm-0 {
    margin-left: 0%;
  }
  .offset-desksm-1 {
    margin-left: 8.33333%;
  }
  .offset-desksm-2 {
    margin-left: 16.66667%;
  }
  .offset-desksm-3 {
    margin-left: 25%;
  }
  .offset-desksm-4 {
    margin-left: 33.33333%;
  }
  .offset-desksm-5 {
    margin-left: 41.66667%;
  }
  .offset-desksm-6 {
    margin-left: 50%;
  }
  .offset-desksm-7 {
    margin-left: 58.33333%;
  }
  .offset-desksm-8 {
    margin-left: 66.66667%;
  }
  .offset-desksm-9 {
    margin-left: 75%;
  }
  .offset-desksm-10 {
    margin-left: 83.33333%;
  }
  .offset-desksm-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 80em) {
  .col-deskxl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-deskxl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-deskxl-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-deskxl-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-deskxl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-deskxl-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-deskxl-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-deskxl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-deskxl-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-deskxl-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-deskxl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-deskxl-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-deskxl-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-deskxl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-deskxl-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-deskxl-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-deskxl-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-deskxl-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-deskxl-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-deskxl-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-deskxl-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-deskxl-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-deskxl-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-deskxl-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-deskxl-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-deskxl-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-deskxl-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-deskxl-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-deskxl-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-deskxl-0 {
    margin-left: 0%;
  }
  .offset-deskxl-1 {
    margin-left: 8.33333%;
  }
  .offset-deskxl-2 {
    margin-left: 16.66667%;
  }
  .offset-deskxl-3 {
    margin-left: 25%;
  }
  .offset-deskxl-4 {
    margin-left: 33.33333%;
  }
  .offset-deskxl-5 {
    margin-left: 41.66667%;
  }
  .offset-deskxl-6 {
    margin-left: 50%;
  }
  .offset-deskxl-7 {
    margin-left: 58.33333%;
  }
  .offset-deskxl-8 {
    margin-left: 66.66667%;
  }
  .offset-deskxl-9 {
    margin-left: 75%;
  }
  .offset-deskxl-10 {
    margin-left: 83.33333%;
  }
  .offset-deskxl-11 {
    margin-left: 91.66667%;
  }
}

[class^="row-gap"], [class*=" row-gap"] {
  display: grid;
  grid-column-gap: 0.625em;
  grid-row-gap: 0.625em;
}

@media (min-width: 22em) {
  [class^="row-gap"], [class*=" row-gap"] {
    grid-column-gap: 1.25em;
    grid-row-gap: 1.25em;
  }
}

@media (min-width: 48em) {
  [class^="row-gap"], [class*=" row-gap"] {
    grid-column-gap: 1.875em;
    grid-row-gap: 1.875em;
  }
}

@media (min-width: 64em) {
  [class^="row-gap"], [class*=" row-gap"] {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
  }
}

.row-gap-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row-gap-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.row-gap-2 {
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 48em) {
  .row-gap-tablet-4 {
    grid-template-columns: 1fr 1fr 1fr  1fr;
  }
  .row-gap-tablet-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .row-gap-tablet-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 64em) {
  .row-gap-desksm-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .row-gap-desksm-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .row-gap-desksm-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 80em) {
  .row-gap-deskxl-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .row-gap-deskxl-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .row-gap-deskxl-2 {
    grid-template-columns: 1fr 1fr;
  }
}


/*# sourceMappingURL=grid.css.map*/