.mod-newsletter {
    background: $link;
    color: $blanco;
    .col-4 p {
        font-family: $font-arial;
        font-size: $font-16;
        line-height: $line-16;
        text-align: right;
    }
    h2 {
        display: inline-block
    }
}