@ln:registry=https://pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/registry/
; begin auth token
//pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/registry/:username=vstsagent
//pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/registry/:_password=MzczSzZzaGJZb2lxclJoOHdmS3B0elB1YkxuT3NXR20xbXVBWXZmd3BQVnBzUzVNd1RqRUpRUUo5OUNFQUNBQUFBQXBjZWNqQUFBU0FaRE8zV3hm
//pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/:username=vstsagent
//pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/:_password=MzczSzZzaGJZb2lxclJoOHdmS3B0elB1YkxuT3NXR20xbXVBWXZmd3BQVnBzUzVNd1RqRUpRUUo5OUNFQUNBQUFBQXBjZWNqQUFBU0FaRE8zV3hm
; end auth token
