**/.DS_Store
**/.env
**/node_modules

/.fusion

/data/db/
/data/dumps/**
!/data/dumps/.gitkeep
/data/restore/**
!/data/restore/.gitkeep

/dist
/resources/dist

**/coverage
.scannerwork

npm-debug.log
_ignore_*

# Webstorm
.idea/
.tools/log.txt
v8-compile-cache-0/6.2.414.50/zShomezSfremy@lanacion.com.arzSDocumentszSArc2zSArczSnode_moduleszSwebpack-clizSbinzScli.js.MAP
v8-compile-cache-0/6.2.414.50/zShomezSfremy@lanacion.com.arzSDocumentszSArc2zSArczSnode_moduleszSwebpack-clizSbinzScli.js.BLOB
v8-compile-cache-0/6.2.414.50/zShomezSsromero@lanacion.com.arzSDocumentoszSArczSnode_moduleszSwebpack-clizSbinzScli.js.MAP
v8-compile-cache-0/6.2.414.50/zShomezSsromero@lanacion.com.arzSDocumentoszSArczSnode_moduleszSwebpack-clizSbinzScli.js.BLOB
