**/.DS_Store
**/.env
**/node_modules

/.fusion

/data/db/
/data/dumps/**
!/data/dumps/.gitkeep
/data/restore/**
!/data/restore/.gitkeep

/dist
/resources/dist
/assets/bundles

/coverage
.scannerwork

npm-debug.log
_ignore_*

# Webstorm
.idea/