@ln:registry=https://pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/registry/ 
; begin auth token
//pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/registry/:username=vstsagent
//pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/registry/:_password=QnI2c0VmQ0tkMWZORzN0TEh0UjlkV2g2SGN0bE5Hb0lHMEd0RFF3cnBBYnNaVlF0QjZ4ZkpRUUo5OUJGQUNBQUFBQXBjZWNqQUFBU0FaRE8xbmxl
//pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/:username=vstsagent
//pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/:_password=QnI2c0VmQ0tkMWZORzN0TEh0UjlkV2g2SGN0bE5Hb0lHMEd0RFF3cnBBYnNaVlF0QjZ4ZkpRUUo5OUJGQUNBQUFBQXBjZWNqQUFBU0FaRE8xbmxl
; end auth token