@ln:registry=https://pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/registry/ 
; begin auth token
//pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/registry/:username=lndigital
//pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/registry/:_password=bHNvaG9xdGFmdzc3Z2VheTVlaWV4MzdiaGJyeHE2dmNpZW1kN3RkNWR1Z3A2aW1pZGJucQ==
//pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/:username=lndigital
//pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/:_password=bHNvaG9xdGFmdzc3Z2VheTVlaWV4MzdiaGJyeHE2dmNpZW1kN3RkNWR1Z3A2aW1pZGJucQ==
; end auth token