@ln:registry=https://pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/registry/ 
; begin auth token
//pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/registry/:username=vstsagent
//pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/registry/:_password=MlIxeEo5NWxGa2tNMmdHZ05xYzRNVzJlUUJtMGlkQWRRaTJGZEw5b2lnTEY4ZmhWd0N0Y0pRUUo5OUJGQUNBQUFBQXBjZWNqQUFBU0FaRE8xUDZ0
//pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/:username=vstsagent
//pkgs.dev.azure.com/lndigital/_packaging/lanacion-v2/npm/:_password=MlIxeEo5NWxGa2tNMmdHZ05xYzRNVzJlUUJtMGlkQWRRaTJGZEw5b2lnTEY4ZmhWd0N0Y0pRUUo5OUJGQUNBQUFBQXBjZWNqQUFBU0FaRE8xUDZ0
; end auth token