**/node_modules/**
./node_modules/**
**/.{git,svn,hg}/**
./.{git,svn,hg}
dist/
resources/dist
package.json
package-lock.json
.scannerwork/
.vscode/
_fix_windows/
_ignore_*
coverage/
.fusion/
.fusion/**
babel.config.js
resources/js/**
