@import '../abstracts/variables';
@import '../abstracts/mixins';

//oculto hasta 1100
@media (max-width: 68.75em) {
    .hlp-tabletlm-none {
        display: none;
    }
}

//visible desde 767
@media (max-width: 47em) {
    .hlp-mobile-show {
        display: inline-block;
    }
}

// oculto
@media ($media-xs) {
    .hlp-none {
        display: none;
    }
}

@media ($media-l) {
    .hlp-desksm-none {
        display: none;
    }
}

@media ($media-xl) {
    .hlp-desksm-none {
        display: inherit;
    }

    .hlp-desk-none {
        display: none;
    }
}

//TABLA DE CONVERSIÓN

.--threexl {
    @include sizeL; //mobile

    @media (max-width: 767px) {
        //mobile home
        .mod-article & {
            @include sizeM;
        }
    }

    @media ($media-m) {
        //768
        @include size2XL;
    }
}

.--twoxl {
    @include sizeXL; //mobile

    @media (max-width: 767px) {
        //mobile home
        .mod-article & {
            @include sizeM;
        }
    }

    @media ($media-m) {
        //768
        @include size2XL;
    }
}

.--xl {
    @include sizeXL; //mobile

    @media (max-width: 767px) {
        //mobile home
        .mod-article & {
            @include sizeM;
        }
    }
}

.--l {
    @include sizeM; //mobile

    @media ($media-m) {
        //768
        @include sizeL;
    }
}

.--m {
    @include sizeM; //all
}

.--m-xs- {
    @include sizeXS; //mobile
}

.--s {
    @include sizeS; //all
}

.--xs {
    @include sizeM; //mobile

    @media ($media-m) {
        //768
        @include sizeXS;
    }
}

.--twoxs {
    @include size2XS; //all
}

.--threexs {
    @include size3XS; //all
}

.--fourxs {
    @include size4XS; //all
}

.--fivexs {
    @include size5XS; //all
}

.--sixxs {
    @include size6XS; //all
}

//=============================
// FONT WEIGHT
//=============================

strong,
b,
.--font-bold {
    font-weight: 700;
}

//=============================
// FONTS
//=============================

.--arial {
    font-family: $font-arial;
}

.--georgia {
    font-family: $font-georgia;
}

@media ($media-m) {
    .--capital::first-letter {
        text-transform: uppercase;
        font-size: px(64);
        font-family: $font-primary;
        font-weight: bold;
        margin: px(20) px(12) 0 0;
        float: left;
    }
}

// LN 10
.--font-primary {
    font-family: $font-georgia;

    &.--l {
        line-height: 130%;
        font-size: px(20);
    }

    &.--xl {
        line-height: 116%;
        font-size: px(24);
    }

    &.--fourxl {
        line-height: 116%;
        font-size: px(24);

        @media ($media-m) {
            font-size: px(32);
        }
    }

    &.--sixxl {
        line-height: 110%;
        font-size: px(28);

        @media ($media-m) {
            font-size: px(40);
        }
    }
}

.--font-extra {
    font-weight: 700;
}

.--font-medium {
    font-weight: 500;
}
