.anexo-wrap {
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.15);
  padding-top: 1.625rem;
  border-top: 1px solid #000;
  background-color: #fcfcfc;
  color: #333;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .anexo-wrap .footer-anexo-b {
    justify-content: end;
  }
  .anexo-wrap .header-nav-anexo {
    width: -moz-fit-content;
    width: fit-content;
  }
  .anexo-wrap .--fixture {
    border: 0.0625rem solid #e6e6e6;
    padding: 0.5rem 1rem 0.375rem 0.75rem;
  }
  .anexo-wrap .Opta .Opta-Flex {
    gap: 3rem;
  }
}
.anexo-wrap .footer-anexo-b > h3 {
  font-size: 0.625rem;
}
.anexo-wrap .auspician-anexob {
  border-right: 1px solid #aaaaaa;
  font-size: 0.625rem;
}
.anexo-wrap div .sponsor-anexo-b {
  width: 6.25rem;
  height: 2.125rem;
  font-size: 0.625rem;
}
.anexo-wrap .--roof-title {
  color: #000;
  font-family: Prumo Text;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
}
.anexo-wrap .--fixture {
  height: -moz-fit-content;
  height: fit-content;
}
.anexo-wrap .--fixture .--roof-fixture {
  color: #333;
  font-family: Segoe UI;
  font-size: 0.75rem;
  font-weight: 400;
}
.anexo-wrap .Opta .Opta-Flex {
  justify-content: flex-start;
  overflow-x: scroll;
  gap: 16;
  flex-wrap: nowrap;
  scrollbar-width: none;
  overscroll-behavior-x: contain;
}
.anexo-wrap .Opta .Opta-Flex::-webkit-scrollbar {
  display: none;
}
.anexo-wrap .Opta .Opta-Flex h3 {
  background-color: #fcfcfc;
  border-bottom: 0.0625rem solid #e5e5e5;
}
.anexo-wrap .Opta .Opta-Flex h3 span {
  color: #404040;
  font-family: Arial;
  font-weight: 700;
  line-height: 250%;
}
.anexo-wrap .Opta .Opta-Flex .Opta-fixture {
  overflow: hidden;
  min-width: 11.875rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #e5e5e5;
  background-color: #fcfcfc !important;
}
.anexo-wrap.--loading .Opta {
  height: 0rem;
  overflow: hidden;
}