@import '../abstracts/variables';
@import '../abstracts/mixins';

.calendar-common {
    position: relative;
    width: 100%;
    border-radius: $spacing-2xs;
    background: $light-neutral-50;

    .labeled-calendar {
        display: flex;
        flex-direction: column;
        & > .--title {
            align-self: center;
            margin-bottom: px(10);
            &::first-letter {
                text-transform: capitalize;
            }
        }
        .days-of-week {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            row-gap: $spacing-xs;
            justify-items: center;

            .com-text:nth-child(n + 6) {
                opacity: 0.7;
            }
        }
    }

    .date-calendar {
        display: grid;
        justify-items: center;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(7, 1fr);
        column-gap: $spacing-2xs;
        row-gap: $spacing-xs;
        font-size: px(14);
        .com-text {
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(13),
            &:nth-child(14),
            &:nth-child(20),
            &:nth-child(21),
            &:nth-child(27),
            &:nth-child(28),
            &:nth-child(34),
            &:nth-child(35) {
                opacity: 0.7;
            }
        }
        .com-text {
            width: px(28);
            height: px(28);
            text-align: center;
            @include flex(flex, row, center, center);
            border-radius: 100%;
            &.--transferable {
                background-color: $green-200;
            }
            &.--immovable {
                background-color: $blue-200;
            }
            &.--bridge {
                border: $spacing-3xs solid $blue-200;
            }
        }
    }
}
