@import '../abstracts/variables';

.comments {
    margin-top: px(20);
    padding-top: px(50);
    border-top: 1px solid $light-neutral-400;

    .comment-title {
        position: relative;
        text-transform: uppercase;
        margin-bottom: px(10);
        font-family: $font-SuecaSlab;
        font-size: px(17);

        b {
            font-weight: 700;
        }
    }
    .comment-legal {
        line-height: px(21);
        font-size: px(14);
    }
    .comment-reminder {
        background: #ffffbf;
        font-size: px(14);
        text-align: center;
        color: $light-neutral-600;
        margin: px(20) 0;
        padding: px(25) 0;
    }
    .item_link {
        font-size: px(15);
        line-height: px(30);
        color: $link;
        background: none;
        margin-left: px(15);
    }
    &.arrow-down {
        .ver-legales {
            position: relative;
            &:after {
                font-family: $font-icons;
                content: '\e906';
                font-size: px(18);
                position: absolute;
                top: px(2);
                right: -1.25rem;
            }
        }
    }
    &.arrow-up {
        .ver-legales {
            position: relative;
            &:after {
                transform: rotate(180deg);
                font-family: $font-icons;
                content: '\e906';
                font-size: px(18);
                position: absolute;
                top: px(2);
                right: -1.25rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .comments {
        .comment-title {
            text-transform: uppercase;
            margin-bottom: px(10);
            font-family: $font-SuecaSlab;
            font-size: px(14);
        }
    }
}

@media screen and (max-width: 320px) {
    .comments {
        .item_link {
            margin-left: 0;
        }
    }
}

//AJUSTES VIAFOURA
.viafoura.viafoura {
    font-family: $font-arial;
    margin-bottom: $spacing-2xl;

    &.not-comment {
        section {
            div.vf-post-form__container {
                display: none;
            }
        }
    }

    //Oculto botón ajustes/seguir en perfil
    // .vf-is-logged-in .vf-flex .vf-profile-header__button-container {
    //     display: none;
    // }

    //Oculto botón ajustes
    .vf-flex
        .vf-profile-header__button-container
        .vf-button:not(.vf-follow-button) {
        display: none;
    }

    //Oculto tab Ajustes
    .vf-flex-grow {
        .vf-flex-nav[aria-controls='vf-settings__panel_5'] {
            display: none;
        }
    }

    //Icono like
    .vf-content-actions__like.vf-content-actions__like,
    .vf-content-actions__like.vf-content-actions__like:hover,
    .vf-content-actions__like.vf-content-actions__like:focus {
        display: flex;

        &::before {
            position: relative;
            left: auto;
            letter-spacing: normal;
            text-decoration: none;
            margin-right: px(2);
            font-family: $font-icons;
            content: '\e944';
            font-size: px(11);
        }
        svg {
            display: none;
        }
    }

    //Oculto header
    header.vf-comment-header.vf-comment-header {
        display: none;
    }

    footer.vf3-conversations-footer {
        padding-bottom: 0;

        .vf-branding-container {
            display: none;
        }
    }

    .vf-post-form__container {
        //Oculto botón cerrar sesión en el input
        .vf-post-form__auth-actions {
            display: none;
        }

        &.vf-post-form__container--focused {
            .vf-content-layout__right {
                box-shadow: none;
            }
        }
    }

    .vf-post-form__container,
    .vf-content-focus-container--default {
        .vf-button.is-cta {
            &.is-accent-color:not([disabled]) {
                background-color: $light-blue-500;
                border-color: $light-blue-500;
            }
            .vf-loader-button__content {
                text-indent: -9999999px;
                line-height: 0;
                display: block;
                &::after {
                    content: 'ENVIAR';
                    text-indent: 0;
                    display: block;
                    line-height: initial;
                }
            }
        }
    }

    //Oculto "Responder y Responder a"
    .vf-button.vf-button {
        &.vf-tray-trigger--floating,
        &.vf-reply-to,
        &.vf-content-actions__replies {
            display: none;
        }

        //Botón Cargar más comentarios
        &.is-cta.is-inverted.is-accent-color.vf-load-more__button {
            border-color: $light-blue-500;
            color: $light-blue-500;
            transition: all 0.2s ease-in-out;
            padding: px(12) px(16);
            font-size: px(12);
            font-weight: 700;
            border-radius: px(4);
            width: auto;
            &:hover {
                background-color: $light-blue-500;
                color: $neutral-white;
            }
        }
    }
    .vf3-comments .vf3-comments__tabbed-nav .vf-tabbed-nav {
        position: relative;
    }

    ul li {
        font-family: $font-arial;
    }

    //botón Saltar al inicio
    .vf-button.vf-button.realtime-action-button.realtime-action-button.is-cta.is-cta.is-accent-color.is-accent-color {
        font-size: px(12);
        padding-right: px(6);
        padding-left: px(8);
    }

    //botones: responder, like, compartir y marcar como...
    .vf-comment__bottom-actions
        .vf-button.vf-button.is-link.is-link.is-accent-color.is-accent-color:not(.is-danger-color) {
        color: rgba(0, 0, 0, 0.6);
        &:hover {
            color: rgba(0, 0, 0, 0.6);
        }
    }

    // PARA APPS
    .widget & {
        .vf-tray-trigger,
        .vf-share-menu__trigger {
            display: none;
        }
    }
}
