@import '../abstracts/variables';
@import '../abstracts/mixins';

.currency-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: $light-neutral-200;
    border: px(1) solid $light-neutral-50;
    padding: $spacing;

    .dolar-title {
        margin-right: $spacing;
    }

    span {
        margin: 0 $spacing-2xs 0 $spacing;
        &:first-child {
            margin-left: px(0);
        }
    }

    @media ($media-l) {
        flex-direction: column;
        align-items: flex-start;
        padding: $spacing-sm;

        .dolar-title {
            margin-bottom: px(6);
        }
    }
}

.provider-data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    color: $light-neutral-900;
    background: $light-neutral-200;
    border: px(1) solid $light-neutral-50;
    padding: px(10) $spacing-xs;

    .byma {
        width: px(47);
        height: px(20);
    }

    .iol {
        width: px(82);
        height: px(20);
    }

    .container-logo {
        display: flex;
        align-items: flex-start;
    }

    .logo {
        margin: px(0) $spacing;
    }

    @media ($media-l) {
        flex-direction: column;
        padding: $spacing-xs $spacing-sm;

        .container-logo {
            align-items: center;
            &:first-child {
                margin-bottom: px(2);
            }
        }

        .logo {
            margin: 0px px(4);
            &.byma {
                width: px(73);
                height: px(31);
            }
            &.iol {
                width: px(125);
                height: px(30);
            }
        }
    }
}
