@import '../abstracts/variables';

//=====================
// HEADER Desktop CORE
//=====================
.header{
    display: none;
    @media ($media-l){
        display: block;
        border-bottom: 1px solid $gris2;
        padding-top: $px-13;
        padding-bottom: $px-13;
        background: #fff;
        width: 100%;
        z-index: 10000;
        transition: all 0.25s;
        height: $px-65;
        &__left{
            display: grid;
            grid-template-columns: $px-100 1fr;
            align-items: center;
        }
        &__middle{
            text-align: center;
            .logo-la-nacion{
                color:$ln;
                font-size: $font-30;
            }
        }
        &__right{
            margin-left: auto;
            text-align: right;
        }
        .header__middle{
            display: flex;
            justify-content: center;
            align-items: center
        }
        //=================================
        // ------ESTADOS DEL HEADER------
        //=================================
        //scrollUp
        &.--scrollDown {
            transform: translateY(-100%);
            //position: fixed;
        }

        //scrollDown
        &.--scrollUp {
            transform: translateY(0);
            top:0;
            position: fixed;
        }

        //active del search-----
        &.--active-search{
            .header__left{
                flex-basis: 60%;
                max-width: 60%;
                .com-search{
                    &__submit{
                        display: inline-block;
                    }
                    &__input{
                        width: 75%;
                    }
                    .icon-search{
                        display: none;
                    }
                }
            }
            .header__middle{
                display: none;
            }
        }

        //active menu-------
        &.--active-menu{
            .com-hamburger {
                &__bar {
                    &:nth-child(1) {
                    transform: translateY(0) rotate(-45deg);
                    }

                    &:nth-child(2) {
                    opacity: 0;
                    }

                    &:nth-child(3) {
                    transform: translateY(0) rotate(45deg);
                    }
                }
                &:before{
                    content:"CERRAR";
                }
            }
        }

        //active modo DARK-------
        &.--active-dark{
            background: rgba(0, 0, 0, 0.5);
            border: none;
            .header__left{      
                .com-hamburger{
                    &__bar{
                        background-color: #fff;
                    }
                    &:before{
                        color:#fff;
                    }
                }
                .com-search{
                    &__input{
                        color:#fff;
                        &::placeholder { 
                            color: $gris3; 
                        }
                    }
                    &__submit{
                        background: #fff;
                        color:$link;
                    }
                    .icon-search{
                        color:#fff;
                    }
                }
                
            }
            .header__middle{
                .logo-la-nacion{
                    color:#fff;
                }
            }
            .header__right{
                .com-usuario{
                    &__name{
                        color:#fff;
                        &:before{
                            border-top: 2px solid #fff;
                            border-left: 2px solid #fff;
                        }
                    }
                    &__valueSuscrib{
                        color:$gris3;
                    }
                }
                .--btn.--secondary{
                    background-color: transparent;
                    border: 1px solid #fff;
                    color: #fff;
                }
            }
        }
    }
}