@import '../abstracts/variables';
//=====================
// HEADER Desktop CORE
//=====================
.header {
    // display: none;
    position: relative;
    border-bottom: 1px solid $gris1;
    padding: px(13) 0;
    background: $blanco;
    width: 100%;
    z-index: 101;
    transition: top 0.2s ease-in-out;

    &__left {
        display: none;
    }

    &__middle {
        &.col-4 {
            -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
            max-width: 66.66667%;
            display: flex;
            //aca logo lanacion
            .logo-la-nacion {
                color: $ln-active;
                @media ($media-m) {
                    font-size: px(26);
                }
                @media ($media-l) {
                    font-size: px(30);
                }
            }
        }
    }

    &__right {
        #menuUser {
            display: none;
        }
    }

    @mixin darkHeader {
        background: rgba(0, 0, 0, 0.5);
        border: none;

        .header__left {
            .com-hamburger {
                &:before,
                .com-icon {
                    color: $blanco;
                }
                &:hover {
                    color: $blanco;
                }
            }

            .com-search {
                &__input {
                    color: $blanco;

                    &::placeholder {
                        color: $gris3;
                    }
                }

                &__submit {
                    background: $blanco;
                    color: $link;
                }

                .icon-search {
                    color: $blanco;
                }
            }
        }

        .header__middle {
            .logo-la-nacion {
                color: $blanco;
            }
        }

        .header__right {
            .com-usuario {
                .com-button {
                    &.--special.--special {
                        color: $blanco;
                    }
                    @media ($media-l) {
                        &.--special.--special {
                            border-color: $highlight;
                            color: $gris6;
                            &:hover {
                                border-color: $negro;
                                color: $blanco;
                            }
                        }
                        &.--secondary.--secondary {
                            color: $blanco;
                            border-color: $blanco;
                            &:hover {
                                background: $blanco;
                                border-color: $blanco;
                                color: $gris6;
                            }
                        }
                    }
                }
                .com-usuario__name,
                .com-usuario__valueSuscrib {
                    color: $blanco;
                }
            }
        }
    }

    //active modo DARK-------
    &.--dark,
    .acu-revista &, //borrar una vez subido acu nuevo
    .revistas-layer:not(.--scrollUp) &, //borrar una vez subido acu nuevo
    //.storytelling:not(.--scrollUp) &,
    //.--photo100:not(.--scrollUp) &,
    .--transparent:not(.--scrollUp) &,
    .--color:not(.--scrollUp) & {
        //&:not(.--scrollUp) {
        @include darkHeader;
        //}
    }
    &.--active {
        .--transparent & {
            @include darkHeader;
        }
    }

    @media (min-width: 769px) {
        &__left {
            display: block;
            padding-top: px(5);

            .com-search {
                display: none;
            }
        }

        &__middle {
            &.col-4 {
                -ms-flex: 0 0 33.33333%;
                flex: 0 0 33.33333%;
                max-width: 33.33333%;
                //aca logo lanacion
            }
        }

        &__right {
            padding-top: px(5);
        }
    }

    @media ($media-l) {
        height: px(65);
        border-bottom: 1px solid $gris2;

        &__left {
            padding-top: 0;
            display: grid;
            grid-template-columns: px(100) + px(10) 1fr;
            align-items: center;

            .com-search {
                display: block;
            }
        }
        &__middle {
            &.col-4 {
                text-align: center;
                justify-content: center;
                align-items: center;
                //aca logo lanacion
            }
        }

        &__right {
            padding-top: 0;
            margin-left: auto;
            text-align: right;

            #menuUser {
                display: block;
            }
        }

        //=================================
        // ------ESTADOS DEL HEADER------
        //=================================
        //scrollUp
        //&.--scrollDown,
        .--scrollDown & {
            /*transform: translateY(-100%);
            position: absolute;*/
            position: fixed;
            top: -80px;
        }
        //scrollDown
        //&.--scrollUp,
        .--scrollUp & {
            /*transform: translateY(0);*/
            top: 0;
            position: fixed;
        }
        .dropdown.--scrollUp & {
            padding-right: $scroll-width;
        }
        //active del search-----
        &.--active-search {
            .header__left {
                flex-basis: 60%;
                max-width: 60%;

                .com-search {
                    &__submit {
                        display: inline-block;
                    }

                    &__input {
                        width: 75%;
                    }

                    .icon-search {
                        display: none;
                    }
                }
            }

            .header__middle {
                display: none;
            }
        }

        .storytelling:not(.--scrollUp) & {
            position: absolute;
        }
    }

    @media ($media-lm) {
        &__left {
            grid-template-columns: px(100) + px(20) 1fr;
        }
    }
}
