@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-categories {
    position: relative;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: $spacing;

    .com-title {
        margin-bottom: $spacing-sm;
        margin-right: 0;

        @media ($media-m) {
            min-width: max-content;
        }
    }

    .mod-logo {
        //display: flex;
        margin-bottom: $spacing-sm;

        .com-image {
            &:hover {
                filter: none;
            }
        }

        span {
            visibility: hidden;
            position: absolute;
        }
    }
    .ln-button {
        @media ($media-l) {
            position: relative;
            bottom: auto;
            left: auto;
            right: auto;
        }
    }

    @media ($media-m) {
        .mod-logo {
            .com-image {
                width: auto;
                max-width: 100%;
                max-height: px(70);
            }
        }
    }

    @media ($media-l) {
        flex-direction: row;
        align-items: flex-end;
        padding-bottom: $spacing-sm;

        .com-title {
            margin-bottom: 0;
            margin-right: $spacing-md;
            padding-bottom: px(10);
        }

        .mod-logo {
            margin: 0;
            margin-right: $spacing-md;

            .com-image {
                max-height: px(90);
            }
        }
    }

    @media ($media-lg) {
        .mod-logo {
            .com-image {
                max-width: none;
            }
        }
    }
}
