@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-keepreading {
    //@include flex(flex, column, start, start);
    margin-bottom: $spacing-lg;
    //padding-bottom: $spacing-sm;
    //border-bottom: 1px solid #e4e4e4;
    li a {
        display: block;
        margin-bottom: $spacing-sm;
        font-weight: 700;
    }
}
