@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-article {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    //para llevar a cada componente
    .mod-media,
    .com-title,
    .mod-firma,
    .com-date {
        margin-bottom: $spacing;
    }

    .mod-media {
        .mod-picture {
            margin-bottom: 0;
        }
    }

    .mod-description {
        width: 100%;
    }

    &:before {
        .--ranking & {
            display: block;
            background-color: $negro;
            color: $blanco;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 5;
            text-align: center;
            font-size: px(16);
            line-height: px(40);
            width: px(24);
            height: px(40);
        }
    }
}

.--ranking li {
    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            .mod-article:before {
                content: '#{$i}';
            }
        }
    }
}
