@import '../abstracts/variables';
@import '../abstracts/mixins';
.mod-subheader {
    padding: $spacing-xs 0;
    .row {
        .com-club,
        .--newsletter,
        .com-weather {
            display: none;
        }
        .com-dolar {
            display: flex;
            width: 100%;
            justify-content: space-around;
            font-size: px(11);
            line-height: px(16);

            .--dolar {
                margin-right: $spacing-2xs;
            }
            .--blue {
                margin-right: $spacing-2xs;
            }
            i {
                padding: 0 $spacing-3xs;
            }
            .com-text {
                margin-right: $spacing-3xs;
            }
            .precioDolar {
                font-weight: bold;
            }

            @media (min-width: 360px) {
                font-size: px(12);
            }
            @media (min-width: 370px) {
                font-size: px(13);
            }
            @media (min-width: 400px) {
                font-size: px(14);
                width: auto;
                .--blue {
                    margin-left: $spacing-sm;
                }
            }
        }
    }
}

@media ($media-m) {
    .mod-subheader {
        .row {
            justify-content: space-between;
            align-items: center;
            .--newsletter,
            .com-weather {
                display: none;
            }
            .com-club {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .logo-club {
                margin-right: $spacing-xs;
            }
            .com-dolar {
                .com-text {
                    margin-right: $spacing-3xs;
                }
            }
        }
    }
}
@media ($media-l) {
    .mod-subheader {
        background: $light-neutral-200;
        .row {
            .com-weather,
            .--newsletter {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #spanTemperatura {
                margin-right: $spacing-2xs;
                font-weight: bold;
            }
            .com-weather {
                color: $negro;
                .com-icon {
                    margin-right: $spacing-xs;
                }
            }
        }
    }
}
