@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-picture {
    display: block;
    width: 100%;
    position: relative;
    transition: all 0.2s ease-in-out;
    .--slider & {
        display: flex;
        padding-bottom: 66.8%;
    }
}
