@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-media {
    position: relative;
    //overflow: hidden;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .cuerpo__nota & {
        margin-bottom: px(32);
    }

    &.--zoom.--active {
        position: fixed;
        z-index: 999999;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: auto;
        max-width: none;
        margin: 0 auto;
        text-align: center;
        background: rgba(0, 0, 0, 0.9);
        justify-content: center;
        align-items: center;
        display: flex;
    }
}
