@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-banner {
    @include BgDiagonal;
    background-color: $neutral-white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: inherit;
    max-width: 100%;
    overflow: hidden;
    z-index: 1;
    margin-bottom: $spacing-2xl;

    .com-banner {
        width: 100%; //pedido de comercial
        text-align: center;
    }

    &:before {
        content: 'PUBLICIDAD';
        font-size: px(11);
        line-height: px(16);
        background: $neutral-white;
        display: inline-block;
        padding: px(4) $spacing;
        margin: 0 auto;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    //los que dimos de baja
    &.--megatop,
    &.--mobile,
    &.--sticky1_mob {
        display: none;
    }

    //modificadores
    &.--logo {
        position: absolute;
        margin: 0;
        width: px(170);
        height: px(17);
        @media ($media-m) {
            width: px(200);
            height: px(20);
        }
        @media ($media-l) {
            width: px(300);
            height: px(30);
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    &.--comercial {
        &:before {
            display: none;
        }
        align-items: center;
        position: fixed;
        z-index: 1100000;
        background: $neutral-white;
        height: 100vh;
        width: 100%;
        top: 0;
        margin: 0;

        .com-button {
            position: absolute;
            top: $spacing-sm;
            right: $spacing-sm;
        }
    }

    &.--sticky {
        position: sticky;
        top: 0;

        &.--sticky2_mob {
            position: fixed;
            width: 100%;
            z-index: 1000;
            background: $neutral-white;
            margin: 0;
        }
    }

    &.--fixed {
        position: fixed;
        bottom: px(56);
        z-index: 100;
        left: calc((100% - 320px) / 2);
        background: $neutral-white;
        margin: 0;
    }

    &.--close {
        .icon-close {
            width: px(20);
            height: px(20);
            background: $neutral-black;
            position: absolute;
            top: 0;
            right: 0;
            color: $neutral-white;
            font-size: px(16);
            cursor: pointer;
        }
    }

    //ALTURAS FIJAS
    &.--sticky2_mob,
    &.--adhesion_mob {
        height: px(50);
    }

    &.--caja1_mob,
    &.--caja2_mob,
    &.--caja3_mob {
        height: px(450);
    }

    &.--caja4_mob,
    &.--caja5_mob {
        height: px(250);
    }

    .home & {
        &.--caja4_mob {
            height: px(450);
        }
    }

    &.--top {
        //banner pre-loader
        display: none;
        @media ($media-m) {
            display: flex;
            height: px(90); //cabezal_tab
        }
        @media ($media-l) {
            height: px(170); //cabezal_dsk
        }
    }

    //TABLET
    @media ($media-m) {
        &.--fixed {
            bottom: px(56);
            left: calc((100% - 728px) / 2);
        }

        //ALTURAS FIJAS
        &.--adhesion_tab,
        &.--cabezal_tab,
        &.--middle_1_tab,
        &.--middle_2_tab {
            height: px(90);
        }

        &.--caja1_tab,
        &.--caja2_tab {
            height: px(600);
        }

        .home & {
            &.--caja1_tab,
            &.--caja2_tab,
            &.--caja3_tab,
            &.--caja4_tab {
                height: px(250);
            }
            &.--cabezal_tab {
                min-width: px(728);
            }
        }

        &.--logo_tag_tab {
            height: px(280);
        }
    }

    //DESKTOP
    @media ($media-l) {
        .sidebar__aside & {
            margin: 0;
            width: 100%;
        }
        &:not(:last-child) {
            .sidebar__aside & {
                margin-bottom: $spacing-lg;
                background: none;
            }
        }

        &.--sticky {
            top: $header-desktop;
        }

        &.--fixed {
            bottom: 0;
            left: calc((100% - 920px) / 2);
            &.--small {
                left: calc((100% - 728px) / 2);
            }
        }

        //ALTURAS FIJAS
        &.--cabezal_dsk {
            height: px(170);
        }

        &.--caja2_dsk,
        &.--caja3_dsk {
            height: px(250);
        }

        &.--caja1_dsk,
        &.--caja4_dsk,
        &.--caja5_dsk {
            height: px(600);
        }

        &.--middle_1_dsk {
            height: px(480);
        }
        &.--middle_2_dsk,
        &.--middle_3_dsk {
            height: px(90);
        }

        .home & {
            &.--cabezal_dsk,
            &.--adhesion_dsk {
                height: px(100);
            }

            &.--middle_1_dsk,
            &.--caja1_dsk,
            &.--caja2_dsk,
            &.--caja3_dsk,
            &.--caja4_dsk,
            &.--billboard_dsk,
            &.--caja_producto1_dsk,
            &.--caja_producto2_dsk,
            &.--cinturon1_dsk,
            &.--cinturon2_dsk {
                height: px(250);
            }

            &.--megalateral_dsk,
            &.--megalateral2_dsk,
            &.--megalateral3_dsk {
                height: px(800);
            }
        }
    }

    //DESKTOP XL
    @media ($media-lm) {
        &.--fixed {
            left: calc((100% - 1260px) / 2);
            &.--small {
                left: calc((100% - 1068px) / 2);
            }
        }
    }
}

//Display según resolución
[class*='_tab'],
[class*='_dsk'] {
    display: none;
}
@media ($media-m) {
    [class*='_tab'] {
        display: flex;
    }
    [class*='_mob'] {
        display: none;
    }
}
@media ($media-l) {
    [class*='_dsk'] {
        display: flex;
    }
    [class*='_tab'] {
        display: none;
    }
}

[class*='row-gap'] {
    &.--ads {
        margin-bottom: $spacing-2xl;
        .mod-banner {
            margin: 0;
        }
    }
}

[class*='--1x1_'] {
    margin: 0;
    position: absolute;
}

.home {
    .row-gap-tablet-2.--ads {
        display: none;
        @media ($media-m) {
            display: grid;
        }
        @media ($media-l) {
            display: none;
        }
    }
    .row-gap-tablet-3.--ads {
        display: none;
        grid-column-gap: $spacing-sm;
        @media ($media-l) {
            display: grid;
        }
    }
    > .container {
        &.--ads {
            background: $neutral-white;
            padding: px(24) 0;
            height: px(148);
            &:empty {
                display: none;
            }
            .mod-banner {
                width: fit-content;
                margin: 0 auto;
            }
        }
    }
    .sidebar__main {
        > .container.--ads {
            height: px(164);
        }
    }
    .container.--ads {
        display: none;
        width: 100%;
        @media ($media-m) {
            display: flex;
        }
    }
}
