@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-figcaption {
    display: block;
    position: relative;
    margin-bottom: $spacing;
    font-size: px(16);
    line-height: px(24);
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: px(8);
    min-height: px(33);
    //100% mobile
    @include fullwidth;
    padding-left: px(20);
    padding-right: px(20);

    @media ($media-l) {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    &:empty {
        display: none;
    }

    .--caption,
    .--credit {
        display: block;
        display: flex;
        overflow-wrap: anywhere;

        &:empty {
            display: none;
        }
    }

    .--caption {
        line-height: px(24);
    }
    .--credit {
        color: #919191;
    }
    .--zoom.--active & {
        color: $blanco;
        width: 100%;
        text-align: left;
        padding: 0 px(16);
        border-bottom: none;
        margin-left: 0;
        @media (min-width: 769px) {
            padding: 0;
        }
    }
    .--slider & {
        .--caption,
        .--credit {
            width: calc(100% - 50px);
        }
    }
    .--zoom.--active.--slider & {
        // text-align: left;
        // width: 100%;
        // margin-left: 0;
        // padding-left: 0;
        // padding-right: 0;
        // border-bottom: none;
        .--paginator {
            right: px(20);
            @media (min-width: 769px) {
                right: 0;
            }
        }
    }

    @media (min-width: 769px) {
        //1024
        font-size: px(16);
        .--credit {
            font-size: px(15);
        }
    }
}
