@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-autor {
    margin-bottom: $spacing-sm;
    @include flex(inline);
    @media ($media-l) {
        margin-bottom: $spacing-lg;
    }
    .container-text {
        @include flex(flex, column, center, center);
        .container-firma {
            @include flex(flex);
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: $spacing-xs;
            .--autor {
                @media ($media-m) {
                    margin-bottom: $spacing-xs;
                }
                &:before {
                    content: ',';
                    padding-right: px(5);
                    color: $negro;
                    font-weight: 100;
                }
                &:first-child {
                    &:before {
                        content: none;
                    }
                }
                &:not(:only-child):last-child {
                    &:before {
                        content: 'y';
                        padding: 0 px(5);
                        color: $negro;
                        font-weight: 100;
                    }
                }
                &:first-child {
                    &:before {
                        .cuerpo__nota & {
                            content: 'Por';
                            padding-right: px(5);
                            color: $negro;
                            font-weight: 100;
                        }
                    }
                }
            }
        }
        .container-medio {
            @include flex(flex);
            width: 100%;
        }
    }
    .cuerpo__nota & {
        margin-bottom: px(40);
    }
    .container-img + .container-text {
        .container-firma {
            &:first-child {
                &:before {
                    content: none;
                }
            }
        }
    }
}
