@import '../abstracts/variables';
@import '../abstracts/mixins';
.mod-commentamp {
    @include flex(flex, column, center, center);
}
@media ($media-l) {
    .cuerpo__nota {
        .mod-commentamp {
            flex-direction: row;
            justify-content: space-between;
            .com-button.--secondary {
                margin: 0;
            }
        }
    }
}
.more-articles {
    margin-bottom: px(32);
}
