@import '../abstracts/variables';
@import '../abstracts/mixins';

.container-widget-carrousel {
    margin-bottom: $spacing-lg;
    display: flex;
    flex-direction: column;
    .widget-carrousel-coins {
        border: px(1) solid $light-neutral-400;
        border-radius: $spacing-2xs;
        min-height: px(88);
        padding: $spacing-xs 0 $spacing-xs 0;
        position: relative;
        margin: 0 0 0.5rem;

        .com-link {
            position: absolute;
            width: 100%;
            height: calc(100% - 1rem);
            z-index: 100;

            .cripto-title {
                color: $light-neutral-900;
                margin-left: $spacing-xs;
            }
        }

        .livecoinwatch-widget-5 {
            padding-top: $spacing-md;
            margin: 0px !important;
            height: $spacing-xl !important;
        }

        @media ($media-l) {
            padding-top: $spacing-sm;
            .com-link .cripto-title {
                margin-left: $spacing-sm;
            }
        }
    }
    .cripto-info {
        align-self: flex-end;
    }
}
