@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-tooltip {
    display: flex;
    margin-bottom: $spacing-sm;
    padding: $spacing-xs;
    background: $neutral-white;
    border: solid 1px $light-neutral-400;
    border-radius: px(4);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    max-width: px(280);
}

// TODO: quitar estos estilos cuadno se use el tooltip de las libs
.tooltip-glossary {
    &:after {
        content: '';
        position: absolute;
        background: inherit;
        width: px(8);
        height: px(8);
        border-bottom: inherit;
        border-right: inherit;
        border-bottom-right-radius: 50%;
        z-index: 1;
        top: 100%;
        left: 50%;
        transform: rotate(45deg) translate(-50%);
    }
}
