@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-descriptionlist {
    margin-bottom: $spacing-sm;
    display: flex;
    flex-direction: column;
    .com-itemlist {
        @include flex(flex, row, start, start);
        margin-bottom: $spacing-xs;
        padding-left: px(16);
        flex-wrap: wrap;
        .--educacion &,
        .--reconocimientos & {
            flex-wrap: nowrap;
        }
    }
}
@media ($media-l) {
    .mod-descriptionlist {
        &.--membresia,
        &.--idiomas {
            @include flex(inline, row, center, start);
        }
        .com-itemlist {
            padding-left: px(32);
        }
    }
}
