@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-figure {
    position: relative;
    width: 100%;

    .--zoom & {
        cursor: pointer;

        &::before {
            //@extend .icon-zoom;
            font-family: 'LNicons';
            content: '\e91d';
            color: $blanco;
            background: rgba(0, 0, 0, 0.7);
            font-size: px(16);
            width: px(31);
            height: px(24);
            position: fixed;
            top: px(8);
            right: px(8);
            z-index: 10;
            justify-content: center;
            align-items: center;
            display: flex;
            @media ($media-l) {
                font-size: px(25);
                width: px(40);
                height: px(30);
                display: none;
            }
        }
        &:hover::before {
            display: flex;
        }
    }
    .--active & {
        position: initial;
        &::before {
            content: '\e906';
            display: flex;
        }
    }
}
