@import '../abstracts/variables';
@import '../abstracts/mixins';
.mod-commentamp {
    @include flex(flex, column, center, center);
    padding-bottom: px(16);
    .com-button {
        margin-bottom: $spacing-lg;
    }
}
@media ($media-l) {
    .mod-commentamp {
        flex-direction: row;
        justify-content: space-between;
        .com-button {
            margin: 0;
        }
    }
}

// .more-articles {
//     margin-bottom: px(32);
//}
