@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-linklist {
    display: block;
    margin-bottom: $spacing-md;
    .com-title {
        display: inline;
        min-width: max-content;
        margin: 0 px(24) px(8) 0;
        font-family: $font-arial;
    }
    .com-unordered.--tags.com-unordered.--tags {
        display: inline;
        border: none;
        padding-top: 0;
        margin-bottom: 0;

        li {
            margin-bottom: $spacing;
        }
    }
}
