@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-figure {
    position: relative;
    width: 100%;

    .--zoom & {
        cursor: pointer;

        &::before {
            //@extend .icon-zoom;
            font-family: 'LNicons';
            content: '\e928';
            color: $blanco;
            background: rgba(0, 0, 0, 0.7);
            font-size: px(24);
            width: px(32);
            height: px(32);
            position: absolute;
            top: px(8);
            right: px(-12);
            z-index: 10;
            justify-content: center;
            align-items: center;
            display: flex;
            @media ($media-l) {
                right: px(8);
                display: none;
            }
        }
        &:hover::before {
            display: flex;
        }
    }
    .--active & {
        width: 50%;
        @media (min-height: 400px) {
            width: 100%;
        }

        @media ($media-l) {
            //width: 90%;
            //max-width: 1000px;

            width: 50%;
            max-width: px(1000);

            @media (min-height: 600px) {
                width: 60%;
            }
            @media (min-height: 750px) {
                width: 70%;
                max-width: px(1050);
            }
            @media (min-height: 800px) {
                width: 75%;
            }
            @media (min-height: 950px) {
                width: 85%;
                max-width: px(1100);
            }
        }
        &::before {
            content: '\e902';
            display: flex;
            position: fixed;
            right: px(8);
        }
    }
    &.--vertical {
        .--active & {
            height: 100%;
            @media ($media-m) {
                height: auto;
            }
        }
    }
}
