@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-headersection {
    // display: flex;
    // flex-direction: column;
    margin-bottom: $spacing-sm;
    width: 100%;

    .com-title.com-title {
        margin-bottom: 0;
        //width: 100%;
        //display: block;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
        //text-transform: uppercase;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        .com-link {
            color: $light-neutral-700;
            //text-transform: uppercase;
        }
        @media ($media-l) {
            -webkit-line-clamp: 1;
            .sidebar__aside & {
                -webkit-line-clamp: initial;
            }
        }
    }

    // .com-line {
    //     margin-top: $spacing;
    // }

    &.--line {
        border-bottom: 1px solid $light-neutral-400;
        padding-bottom: $spacing;
    }

    &.--button {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }

    .com-image {
        //margin-bottom: $spacing-sm;
        max-height: px(24);
    }

    // &.--blue,
    // &.--red,
    // &.--teal,
    &.--bg {
        padding: $spacing-xs $spacing-sm;
        background: $light-neutral-100; //color default

        .com-title {
            color: $neutral-white;
            margin: 0;
            .com-link {
                color: $neutral-white;
            }
        }
        .com-line {
            display: none;
        }

        &.--blue {
            background: $light-blue-500;
        }
        &.--red {
            background: $red-600;
        }
        &.--teal {
            background: $teal-600;
        }
        &.--pink {
            background: $pink-600;
        }
    }
}
