@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-opening {
    &.--storytelling {
        margin-top: px(-45); //header mobile
        position: relative;
        @media ($media-l) {
            margin-top: px(-65); //header
        }

        .mod-figure {
            .mod-picture {
                width: 100%;
                margin: 0;
                background: $negro;
                position: relative;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                height: calc(100vh - 60px);

                @media (min-width: 769px) {
                    height: 100vh;
                }

                .com-image {
                    position: fixed;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    background-attachment: fixed;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                &.--video-background {
                    video {
                        display: none;
                    }

                    @media ($media-m) {
                        .com-image {
                            display: none;
                        }
                        video {
                            display: block;
                            position: fixed;
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            top: 0;
                        }
                    }
                }
            }
        }

        .mod-title {
            position: absolute;
            bottom: 0;
            z-index: 1;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.65);
            transition: all 0.2s ease-in-out;
            padding-bottom: px(16);

            @media (min-width: 769px) {
                padding-bottom: $px-16;
            }

            &:before {
                background-image: linear-gradient(
                    to top,
                    rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0)
                );
                content: '';
                height: px(120);
                width: 100%;
                margin-top: px(-120);
                position: absolute;
            }

            [class*='logo-'] {
                color: $blanco;
                font-size: px(16);
                margin: 0;
                margin-bottom: px(8);
                @media ($media-m) {
                    font-size: px(24);
                    margin-bottom: px(16);
                }
            }

            .com-title {
                font-family: $font-SuecaSlab;
                font-size: px(24);
                line-height: px(32);
                color: $blanco;
                @media ($media-m) {
                    font-size: px(46);
                    line-height: px(54);
                }
            }
        }
        .mod-figcaption {
            border-bottom: 1px solid #ccc;
            margin-top: px(8);
            margin-bottom: px(32);
            .--credit,
            .--caption {
                margin-bottom: px(8);
            }
        }
    }
}
