@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-picture {
    display: block;
    width: 100%;
    position: relative;
    transition: all 0.2s ease-in-out;

    &.--placeholder {
        width: 100%;
        background: #f2f2f2;
        max-height: 100%;
        max-width: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        padding-top: calc((2 / 3) * 100%);

        &::before {
            font-family: 'LNlogos';
            content: '\e80a';
            color: #d9d9d9;
            font-size: 4.22em;
            font-weight: 400;
            text-transform: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .--slider & {
        display: flex;
        padding-bottom: 66.8%;
    }
}
