@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-headersection {
    // display: flex;
    // flex-direction: column;
    margin-bottom: $spacing-sm;
    width: 100%;

    .com-title {
        margin-bottom: 0;
        width: 100%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media ($media-l) {
            width: 50%;
        }
    }

    .com-line {
        margin-top: px(8);
    }

    .com-image {
        //margin-bottom: $spacing-sm;
        max-height: px(24);
    }

    .com-link.com-link {
        color: $light-neutral-700;
    }

    // &.--blue,
    // &.--red,
    // &.--teal,
    &.--bg {
        padding: $spacing-xs $spacing-sm;
        background: $light-neutral-100; //color default

        .com-title {
            color: $neutral-white;
            margin: 0;
            .com-link {
                color: $neutral-white;
            }
        }
        .com-line {
            display: none;
        }

        &.--blue {
            background: $light-blue-500;
        }
        &.--red {
            background: $red-600;
        }
        &.--teal {
            background: $teal-600;
        }
        &.--pink {
            background: $pink-600;
        }
    }
}
