@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-newsletter {
    @include flex(flex, row, center, center);
    padding: $spacing-sm;
    margin-bottom: $spacing-lg;
    border: 1px solid $light-neutral-400;
    .container {
        @include flex(flex, column, center, start);
        padding-top: px(37);
        .container-text {
            @include flex(flex, column, center, start);
            margin-bottom: $spacing-md;

            .com-icon {
                margin-left: px(-2);
                margin-top: px(-44);
            }
            .com-button {
                padding: px(12) px(16);
            }
        }
    }
}
@media ($media-l) {
    .mod-newsletter {
        .container {
            flex-direction: row;
            .container-text {
                max-width: px(500);
                margin-right: $spacing-md;
                margin-bottom: 0;
            }
            // .container-button {
            //     width: px(300);
            // }
        }
    }
}
