@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-descriptionlist {
    margin-bottom: $spacing-sm;
    display: flex;
    flex-direction: column;
    .com-itemlist {
        @include flex(flex, row, start, start);
        margin-bottom: $spacing-xs;
        padding-left: px(40);
        flex-wrap: wrap;

        .--educacion &,
        .--reconocimientos & {
            flex-wrap: nowrap;
        }

        &:before {
            content: '•';
            height: fit-content;
            display: block;
            position: absolute;
            left: px(16);
            font-size: px(28);
            line-height: px(21);
        }
    }
}
@media ($media-l) {
    .mod-descriptionlist {
        &.--membresia,
        &.--idiomas {
            @include flex(inline, row, center, start);
        }
    }
}
