@import '../abstracts/variables';
@import '../abstracts/mixins';

.dolar {
    margin-bottom: px(16);

    .mod-dolar.mod-dolar {
        display: grid;

        @media ($media-m) {
            grid-template-columns: 1fr 1fr;
        }

        @media ($media-l) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: $spacing-md;
        }

        @media ($media-lg) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: $spacing-lg;
        }
    }
}
