@import '../abstracts/variables';
@import '../abstracts/mixins';
.mod-share {
    .share {
        @include flex(flex, row, start, center);
        z-index: 100;
        margin-right: auto;
        margin-bottom: $spacing-lg;
        @media (max-width: 379px) {
            width: 100%;
            overflow-x: scroll;
        }
        .container {
            @include flex(flex, row, center, center);
            .btn-container {
                position: relative;
                display: flex;
            }
            .bookmark {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $light-neutral-300;
                border-radius: px(4);
                width: px(40);
                height: px(40);
                padding: px(5.5);

                &.--is-saved {
                    background-color: $blue-500;
                    .com-icon svg path {
                        fill: $light-neutral-50;
                    }
                }
            }
            .com-button {
                padding: 0;
                margin-right: $spacing-sm;
                &:last-child {
                    margin-right: 0;
                }
                @media ($media-l) {
                    margin-right: 0;
                    margin-bottom: $spacing-sm;
                    #btnemail {
                        margin-bottom: $spacing-sm;
                    }
                }
            }
            .com-icon {
                width: px(20);
                height: px(20);
            }
            .comment-btn {
                display: flex;
                align-items: center;
                background-color: $light-neutral-300;
                border-radius: px(4);
                min-width: px(40);
                width: fit-content;
                height: px(40);
                padding: $spacing;
                .com-text {
                    margin-left: $spacing;
                    @media ($media-l) {
                        margin-left: 0;
                        margin-top: $spacing;
                    }
                }
            }
        }
        .--photo100 & {
            padding-left: $spacing-sm;
            padding-right: $spacing-sm;
            @media ($media-l) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    @media ($media-l) {
        &:not(.--video) {
            height: 100%;
            width: px(58);
            .share {
                flex-direction: column;
                position: sticky;
                top: $spacing-sm;
                transition: all 0.25s;
                border-radius: px(4);
                margin-left: -$spacing;
                background-color: $light-neutral-50;
                box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.04);
                padding: $spacing 0 px(4) 0;
                float: left;
                .container {
                    flex-direction: column;
                    .comment-btn {
                        width: px(40);
                        min-height: px(40);
                        height: fit-content;
                        flex-direction: column;
                    }
                }
                .--scrollDown & {
                    top: (px(16) + $header-desktop);
                }
                &:not(.--active) {
                    .--scrollUp & {
                        top: (px(16) + $header-desktop);
                    }
                }
            }
        }
    }
}
