@import '../abstracts/variables';
@import '../abstracts/mixins';
.mod-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    max-width: 100%;
    overflow: hidden;
    z-index: 1;
    &.--bg-banner {
        background: $gris1;
        width: 100%;
    }
    &.--mobile,
    &.--sticky1_mob {
        margin-bottom: px(24);
    }
    &.--desktop {
        margin-bottom: px(24);
    }
    &.--sticky {
        position: sticky;
        margin-bottom: $spacing-md;
        .--scrollDown & {
            top: 0;
        }
        .sidebar__aside & {
            .--scrollDown & {
                top: px(10);
            }
        }
        .--scrollUp & {
            top: px(80);
        }
    }
    &.--adhesion_dsk.--adhesion_dsk {
        margin-bottom: 0;
    }
    &.--fixed {
        position: fixed;
        bottom: px(60);
        z-index: 100;
        left: calc((100% - 320px) / 2);

        .--scrollDown & {
            bottom: px(0);
        }
        &.--bg-banner {
            background: $gris1;
            width: 100%;
        }
    }
    &.--close {
        .icon-close {
            width: px(20);
            height: px(20);
            background: $negro;
            position: absolute;
            top: 0;
            right: px(1);
            color: $blanco;
            font-size: px(16);
        }
    }
    .cuerpo__nota & {
        margin-bottom: $spacing-lg;
    }
    .sidebar__aside & {
        margin-bottom: px(40);
    }
    &.--cabezal_dsk {
        margin-bottom: $spacing-lg;
    }
}
@media ($media-m) {
    .mod-banner {
        .sidebar__aside & {
            display: none;
        }
        &.--fixed {
            bottom: px(0);
            left: calc((100% - 728px) / 2);
        }
    }
}
@media ($media-l) {
    .mod-banner {
        .sidebar__aside & {
            display: flex;
            width: 100%;
        }
        &.--fixed {
            left: calc((100% - 920px) / 2);
            &.--small {
                left: calc((100% - 728px) / 2);
            }
        }
        .cuerpo__nota & {
            display: none;
        }
    }
}
@media ($media-lm) {
    .mod-banner {
        .cuerpo__nota & {
            display: block;
        }
        &.--fixed {
            left: calc((100% - 920px - 300px) / 2);
            &.--small {
                left: calc((100% - 728px - 300px) / 2);
            }
        }
    }
}
