@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-newsletter {
    display: flex;
    justify-content: center;
    padding: $spacing-sm;
    padding-bottom: $spacing-md;
    margin-bottom: $spacing-lg;
    border: 1px solid $gris3;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .container-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: $spacing-md;
        }
    }
}
@media ($media-l) {
    .mod-newsletter {
        padding-bottom: $spacing-sm;
        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .container-text {
                margin-right: $spacing-md;
            }
        }
    }
}
