@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-themes {
    margin-bottom: $spacing-sm;
    .com-link.com-button {
        margin-right: $spacing-sm;
        margin-bottom: $spacing-sm;
        white-space: nowrap;
        display: inline-block;

        .cuerpo__nota & {
            margin-bottom: $spacing-sm;
        }
    }

    .com-link.--tags {
        text-transform: capitalize;
        color: $light-blue-500;

        &:not(:last-child):after {
            position: relative;
            font-family: 'LNicons';
            color: #cccccc;
            content: $icon-bullet;
            margin: auto px(4);
        }
    }

    &:last-child {
        margin-right: 0;
    }
}
