@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-figcaption {
    display: block;
    position: relative;
    margin-top: px(8);

    .--caption {
        display: block;
        line-height: px(24);
        padding-bottom: px(8);

        &:empty {
            display: none;
        }
    }
    .--credit {
        display: block;
        color: #6e6e6e;
        font-size: px(15);
        padding-bottom: px(8);

        &:empty {
            display: none;
        }
    }
    .--zoom.--active & {
        color: $blanco;
        width: 100%;
        text-align: center;
    }
    .--zoom.--active.--slider & {
        text-align: left;
    }
}
