@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-share-container {
    .mod-share {
        .share {
            .mod-tooltip {
                position: absolute;
                z-index: 102;
                margin: 0;
                .com-text {
                    color: $light-neutral-50;
                }
                background: $blue-400;
                border: none;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    transform: rotate(225deg);
                    width: $spacing-sm;
                    height: $spacing-sm;
                    background: $blue-400;
                    border-radius: $spacing-2xs;
                    right: px(-5.5);
                    z-index: -1;
                }
                &.--copy {
                    left: px(-85);
                    top: -$spacing-2xs;
                }
            }
        }
    }

    &:not(.--video) {
        @media ($media-l) {
            .audio-player {
                display: none;
            }
        }
    }

    .loader {
        margin: 0 0 $spacing-sm;
        @media ($media-l) {
            margin: 0 0 $spacing-md;
        }
    }
}
