@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-figure {
    position: relative;
    width: 100%;

    .icon-close,
    .icon-zoom {
        display: none;
        position: absolute;
        width: px(32);
        height: px(32);
        top: px(8);
        right: px(8);
    }

    .--zoom & {
        cursor: pointer;

        .icon-zoom {
            display: flex;
            @media ($media-l) {
                display: none;
            }
        }

        &:hover {
            .icon-zoom {
                display: flex;
            }
        }

        // &::before {
        //     //@extend .icon-zoom;
        //     font-family: $font-icons;
        //     content: $icon-zoom;
        //     color: $neutral-white;
        //     background: rgba(0, 0, 0, 0.7);
        //     font-size: px(24);
        //     width: px(32);
        //     height: px(32);
        //     position: absolute;
        //     top: px(8);
        //     right: px(-12);
        //     z-index: 10;
        //     justify-content: center;
        //     align-items: center;
        //     display: flex;
        //     @media ($media-m) {
        //         right: px(8);
        //     }
        //     @media ($media-l) {
        //         display: none;
        //     }
        // }
    }
    .--active & {
        width: 50%;
        margin: auto;

        .mod-figure .placeholder .com-image {
            width: auto;
            margin: auto;
            max-height: px(800);
        }

        @media (min-height: 400px) {
            width: 100%;
        }

        @media ($media-l) {
            //width: 90%;
            //max-width: 1000px;
            width: 50%;
            max-width: px(1000);

            @media (min-height: 600px) {
                width: 60%;
            }
            @media (min-height: 750px) {
                width: 70%;
                max-width: px(1050);
            }
            @media (min-height: 800px) {
                width: 75%;
            }
            @media (min-height: 950px) {
                width: 85%;
                max-width: px(1100);
            }
        }
        .icon-close {
            display: flex;
            position: fixed;
        }

        &:hover {
            .icon-zoom {
                display: none;
            }
        }

        // &::before {
        //     content: $icon-close;
        //     display: flex;
        //     position: fixed;
        //     right: px(8);
        // }
    }
    &.--vertical {
        .--active & {
            height: 100%;
            @media ($media-m) {
                height: auto;
            }
        }
    }
    .mod-wikiauthor & {
        width: px(138);
        @media ($media-m) {
            width: 100%;
            height: auto;
            max-width: px(282);
            padding-right: $spacing-sm;
        }
        @media ($media-l) {
            padding-right: 0;
        }
    }
}
