@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-dolar.mod-dolar {
    display: grid;

    @media ($media-m) {
        grid-template-columns: 1fr 1fr;
    }

    @media ($media-l) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: $spacing-md;
    }

    @media ($media-lg) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: $spacing-lg;
    }
}

.widget-carrousel-coins {
    background-color: $light-neutral-200;
    min-height: px(88);
    padding: px(8) 0 px(8) 0;
    position: relative;

    .com-link {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;

        .cripto-title {
            color: $light-neutral-900;
            margin-left: px(8);
        }
    }

    .livecoinwatch-widget-5 {
        padding-top: px(24);
        margin: 0px !important;
        height: px(40) !important;
    }

    @media ($media-l) {
        margin-top: px(16);
        padding-top: px(16);
        .com-link .cripto-title {
            margin-left: px(16);
        }
    }
}

.--color .com-unordered.--tags {
    padding-top: px(32) !important;
}
