@import '../abstracts/variables';
@import '../abstracts/mixins';
.mod-subheader {
    // display: flex;
    // justify-content: center;
    // background: $blanco;
    padding: $spacing-xs 0;
    .row {
        .com-club,
        .--newsletter,
        .com-weather {
            display: none;
        }
        .com-dolar {
            display: flex;
            .--dolar {
                display: none;
                font-weight: bold;
                margin-right: $spacing-xs;
            }
            .--blue {
                margin-left: $spacing-sm;
                margin-right: $spacing-3xs;
                font-weight: bold;
            }
            i {
                padding: 0 $spacing-3xs;
            }
            .com-text {
                margin-right: $spacing-3xs;
            }
            .precioDolar {
                font-weight: bold;
            }
        }
    }
}
@media ($media-s) {
    .mod-subheader {
        .row {
            .com-dolar {
                .--dolar {
                    display: inline;
                }
            }
        }
    }
}
@media ($media-m) {
    .mod-subheader {
        .row {
            justify-content: space-between;
            align-items: center;

            // .precioDolar {
            //     font-weight: bold;
            // }
            .--newsletter,
            .com-weather {
                display: none;
            }
            .com-club {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .club {
                margin-right: $spacing-xs;
            }
            .com-dolar {
                //.--dolar {
                //margin-right: $spacing-xs;
                //font-weight: bold;
                //}
                //.--blue {
                //margin-left: $spacing-xs;
                //margin-right: $spacing-3xs;
                //}
                .com-text {
                    margin-right: $spacing-3xs;
                }
            }
        }
    }
}
@media ($media-l) {
    .mod-subheader {
        background: $light-neutral-200;
        .row {
            .com-weather,
            .--newsletter {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #spanTemperatura {
                margin-right: $spacing-2xs;
                font-weight: bold;
            }
            .com-weather {
                color: $negro;
                .com-icon {
                    margin-right: $spacing-xs;
                }
            }
        }
    }
}
