@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-article {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    //para llevar a cada componente
    .mod-media,
    .com-title,
    .mod-marquee,
    .com-subhead,
    .com-date {
        margin-bottom: $spacing;
        // a {
        //     display: block;
        //     width: 100%;
        // }
    }

    .mod-media {
        .mod-picture {
            margin-bottom: 0;

            //de home
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: $picture;

            .com-image,
            .mod-video {
                display: block;
                position: absolute;
                object-fit: cover;
                height: 100%;
                top: 0;
            }
            &::before {
                font-family: 'LNlogos';
                content: $logo-ln-placeholder;
                color: #d9d9d9;
                font-size: 4.22em;
                font-weight: 400;
                text-transform: none;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .mod-description {
        position: relative;
        width: 100%;

        //de home
        .com-subhead {
            color: $light-neutral-700;
            margin-bottom: $spacing;
        }
        .com-link {
            &.com-link:not(.--tags) {
                color: $light-neutral-800;
            }
            &.--tags {
                font-family: $font-arial;
                font-weight: 100;
                letter-spacing: normal;
                &:first-letter {
                    text-transform: capitalize;
                }
            }
        }

        .mod-marquee {
            display: flex;
        }
    }

    &:hover {
        cursor: pointer;
        .mod-description {
            .com-link.com-link {
                //color: $light-blue-500;
                opacity: 0.8;
            }
        }
    }
}

.box-articles {
    margin-bottom: px(64);
}
