@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-picture {
    background: $gris1;
    position: relative;
    display: block;
    width: 100%;
    transition: all 0.2s ease-in-out;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: px(8);
    //100% mobile
    width: calc(100% + 2.5rem);
    margin-left: px(-20);
    @media ($media-l) {
        width: 100%;
        margin-left: 0;
        border: 1px solid #ccc;
    }

    .--slider.--slider & {
        display: flex;
        padding-bottom: calc((2 / 3) * 100%);
        padding-top: initial;
        justify-content: center;
        background: $gris1;
    }
    .--active.--active &,
    .--active.--slider & {
        background: none;
        width: 100%;
        margin-left: 0;
        border: 0;
    }

    .mod-caja-nota & {
        .cuerpo__nota & {
            width: 100%;
            margin-left: 0;
        }
    }
}

.mod-caja-nota,
.--horizontal,
.--vertical {
    .mod-picture {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .com-image {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 0;
        }
        &::before {
            font-family: 'LNlogos';
            content: '\e80a';
            color: #d9d9d9;
            font-size: 4.22em;
            font-weight: 400;
            text-transform: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.mod-caja-nota,
.--horizontal {
    .mod-picture {
        padding-top: calc((2 / 3) * 100%);
    }
}

.--vertical {
    .mod-picture {
        padding-top: calc((4 / 3) * 100%);
    }
}
