@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-figcaption {
    display: block;
    position: relative;
    margin-top: px(8);
    font-size: px(14);

    .--caption,
    .--credit {
        width: calc(100% - 50px);
    }

    .--caption {
        display: block;
        line-height: px(24);
        padding-bottom: px(8);

        &:empty {
            display: none;
        }
    }
    .--credit {
        display: block;
        color: #6e6e6e;
        padding-bottom: px(8);

        &:empty {
            display: none;
        }
    }
    .--zoom.--active & {
        color: $blanco;
        width: 100%;
        text-align: left;
        padding: 0 px(16);
        @media ($media-l) {
            //1024
            padding: 0;
        }
    }
    .--zoom.--active.--slider & {
        text-align: left;
    }

    @media ($media-l) {
        //1024
        font-size: px(16);
        .--credit {
            font-size: px(15);
        }
    }
}
