@import '../abstracts/variables';

@media (max-width: 64em - 1) {
    .hlp-tablet-none {
        display: none;
    }
}
//visible desde 767
@media (max-width: 48em - 1) {
    .hlp-mobile-show {
        display: inline-block;
    }
}

// oculto
@media ($media-xs) {
    .hlp-none {
        display: none;
    }
    .hlp-mobile-none {
        display: none;
    }
}

@media ($media-m) {
    .hlp-mobile-none {
        display: inherit;
    }
}

@media ($media-l) {
    .hlp-mobile-none {
        display: inherit;
    }
    .hlp-desksm-none {
        display: none;
    }
}

@media ($media-xl) {
    .hlp-mobile-none {
        display: inherit;
    }
    .hlp-desksm-none {
        display: inherit;
    }
    .hlp-desk-none {
        display: none;
    }
}

.hlp-overflow-scroll {
    overflow: scroll;
}

.hlp-bold {
    font-weight: bold;
}
::selection {
    background-color: $ln;
    color: $blanco;
}

//=============================
// MEDIDAS DE FONT
//=============================
.--threexl {
    // font-size: px(32);
    // line-height: px(40);
    font-size: px(24);
    line-height: px(32);
}
.twoxl {
    font-size: px(32);
    line-height: px(40);
}
.--xl {
    font-size: px(32);
    line-height: px(40);
}
.--l {
    font-size: px(24);
    line-height: px(32);
}
.--m {
    font-size: px(20);
    line-height: px(28);
}
.--s {
    font-size: px(20);
    line-height: px(28);
}
.--xs {
    font-size: px(16);
    line-height: px(24);
}
.--twoxs {
    font-size: px(18);
    line-height: px(30);
}
.--threexs {
    font-size: px(16);
    line-height: px(24);
}
.--fourxs {
    font-size: px(15);
    line-height: px(17);
}
.--fivexs {
    font-size: px(14);
    line-height: px(17);
}
.--sixxs {
    font-size: px(12);
    line-height: px(14);
}
.--sevenxs {
    font-size: px(11);
    line-height: px(13);
}

@media ($media-m) {
    .--threexl {
        font-size: px(40);
        line-height: px(52);
    }
    .--twoxl {
        font-size: px(40);
        line-height: px(52);
    }
    .--xl {
        font-size: px(32);
        line-height: px(40);
    }
    .--s {
        font-size: px(18);
        line-height: px(26);
    }
    .--capital::first-letter {
        font-size: px(64);
        font-family: $font-SuecaSlab;
        font-weight: bold;
        margin: $spacing;
        float: left;
    }
}
@media ($media-l) {
    .--threexl {
        font-size: px(48);
        line-height: px(56);
    }
    .--twoxl {
        font-size: px(40);
        line-height: px(52);
    }
    .--xl {
        font-size: px(32);
        line-height: px(40);
    }
}
