@import '../abstracts/variables';

.jardin {
    $primario: $jardin;
    .acu article a.figure:before,
    article a.figure:before {
        content: '\e922';
        color: $primario;
    }
    .com-tag a {
        color: $primario;
        border-color: $primario
    }
    .com-secondary-tag a,
    .com-secondary-tag a:after,
    [class^="logo-"],
    [class*=" logo-"] {
        color: $primario;
    }
    &.fondo-revista,
    .mod-newsletter {
        background-color: $primario;
    }
}