@import '../abstracts/imports';
@import '../base/aspect-ratios';

.living {
    $primario: $living;
    .acu article a.figure:before,
    article a.figure:before {
        content: '\e920';
        color: $primario;
    }
    .com-tag a {
        color: $primario;
        border-color: $primario
    }
    .com-secondary-tag a,
    .com-secondary-tag a:after,
    [class^="logo-"],
    [class*=" logo-"] {
        color: $primario;
    }
    &.fondo-revista,
    .mod-newsletter {
        background-color: $primario;
    }
}