@import '../abstracts/variables';
@import '../abstracts/mixins';

.rolling {
    $primario: $blanco;
    $logo: $logo-rolling;
    @include revis($logo, $primario);
    .cont-figure .figure .content-pic:before, &.acu-revista .mod-opening-revista i.logo-revista, .mod-opening-revista .com-link, &.acu-revista .mod-opening-revista .com-share a i {
        color: $negro!important;
    }
}