@import '../abstracts/variables';
@import '../abstracts/mixins';

/* FONTS --------------- */

@include font-face('SuecaSlab', suecaslab-medium-webfont, 500);
@include font-face('SuecaSlab', suecaslab-bold-webfont, 700);
@include font-face('LNicons', lana-icons, normal);
@include font-face('LNlogos', ln-logos-v2, normal);

[class*='georgia'] {
    font-family: $font-georgia;
}

[class*='suecas'] {
    font-family: $font-SuecaSlab;
}

[class*='arial'] {
    font-family: $font-arial;
}

strong,
.element-paragraph b {
    font-weight: 700;
}

//[class^='icon-'],
[class*='icon-'] {
    font-family: 'LNicons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: px(24);
    //padding: px(4);
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//Comento los que no estamos usando

// .icon-alert:before {
//     content: '\e900';
// }
// .icon-alert-filled:before {
//     content: '\e901';
// }
// .icon-android:before {
//     content: '\e902';
// }
.icon-arrow-down:before {
    content: '\e903';
}
.icon-arrow-left:before {
    content: $icon-arrow-left;
}
.icon-arrow-right:before {
    content: $icon-arrow-right;
}
.icon-arrow-up:before {
    content: '\e906';
}
.icon-bullet:before {
    content: '\e907';
}
.icon-bullet-outline:before {
    content: '\e908';
}
.icon-bullet-xs:before {
    content: $icon-bullet-xs;
}
// .icon-calendar:before {
//     content: '\e90a';
// }
// .icon-calendar-filled:before {
//     content: '\e90b';
// }
// .icon-car:before {
//     content: '\e90c';
// }
// .icon-check-mark:before {
//     content: '\e90d';
// }
// .icon-checkbox-blank:before {
//     content: '\e90e';
// }
// .icon-checkbox-filled:before {
//     content: '\e90f';
// }
// .icon-checked:before {
//     content: '\e910';
// }
.icon-clear-night:before {
    content: '\e911';
}
.icon-clock:before {
    content: '\e912';
}
.icon-close:before {
    content: $icon-close;
}
.icon-cloudy:before {
    content: '\e914';
}
.icon-club:before {
    content: '\e915';
}
// .icon-club-filled:before {
//     content: '\e916';
// }
.icon-comment:before {
    content: '\e917';
}
// .icon-copy:before {
//     content: '\e918';
// }
// .icon-coupons:before {
//     content: '\e919';
// }
// .icon-deco-home:before {
//     content: '\e91a';
// }
.icon-email:before {
    content: $icon-email;
}
// .icon-email-filled:before {
//     content: '\e91c';
// }
// .icon-emoji:before {
//     content: '\e91d';
// }
// .icon-entertainment:before {
//     content: '\e91e';
// }
// .icon-error-warning:before {
//     content: '\e91f';
// }
// .icon-error-warning-filled:before {
//     content: '\e920';
// }
// .icon-eye:before {
//     content: '\e921';
// }
// .icon-eye-filled:before {
//     content: '\e922';
// }
// .icon-eye-off:before {
//     content: '\e923';
// }
// .icon-eye-off-filled:before {
//     content: '\e924';
// }
.icon-facebook:before {
    content: '\e925';
}
.icon-facebook-filled:before {
    content: $icon-facebook-filled;
}
// .icon-fashion:before {
//     content: '\e927';
// }
// .icon-fast:before {
//     content: '\e928';
// }
.icon-filter:before {
    content: '\e929';
}
// .icon-flag:before {
//     content: '\e92a';
// }
// .icon-flag-filled:before {
//     content: '\e92b';
// }
// .icon-go:before {
//     content: '\e92c';
// }
.icon-group:before {
    content: '\e92d';
}
// .icon-headset:before {
//     content: '\e92e';
// }
// .icon-headset-filled:before {
//     content: '\e92f';
// }
// .icon-healthy:before {
//     content: '\e930';
// }
.icon-home:before {
    content: '\e931';
}
// .icon-home-filled:before {
//     content: '\e932';
// }
// .icon-horizontal-line:before {
//     content: '\e933';
// }
.icon-info:before {
    content: '\e934';
}
// .icon-info-filled:before {
//     content: '\e935';
// }
.icon-instagram:before {
    content: '\e936';
}
.icon-instagram-filled:before {
    content: '\e937';
}
// .icon-ios:before {
//     content: '\e938';
// }
.icon-like:before {
    content: '\e939';
}
.icon-like-filled:before {
    content: '\e93a';
}
.icon-linkedin:before {
    content: '\e93b';
}
.icon-linkedin-filled:before {
    content: '\e93c';
}
// .icon-lock:before {
//     content: '\e93d';
// }
// .icon-lock-filled:before {
//     content: '\e93e';
// }
// .icon-map:before {
//     content: '\e93f';
// }
// .icon-map-filled:before {
//     content: '\e940';
// }
.icon-medium:before {
    content: '\e941';
}
.icon-medium-filled:before {
    content: '\e942';
}
.icon-menu:before {
    content: '\e943';
}
.icon-more:before {
    content: '\e944';
}
.icon-order:before {
    content: '\e945';
}
.icon-pause:before {
    content: '\e946';
}
.icon-pinterest:before {
    content: '\e947';
}
.icon-pinterest-filled:before {
    content: '\e948';
}
.icon-play:before {
    content: '\e949';
}
.icon-play-filled:before {
    content: '\e94a';
}
// .icon-qr:before {
//     content: '\e94b';
// }
.icon-radio-blank:before {
    content: '\e94c';
}
.icon-radio-filled:before {
    content: '\e94d';
}
.icon-rain:before {
    content: '\e94e';
}
.icon-rainy-cloudy:before {
    content: '\e94f';
}
// .icon-reply:before {
//     content: '\e950';
// }
// .icon-reply-filled:before {
//     content: '\e951';
// }
// .icon-restaurant:before {
//     content: '\e952';
// }
.icon-rss:before {
    content: '\e953';
}
.icon-search:before {
    content: '\e954';
}
.icon-sections:before {
    content: '\e955';
}
.icon-sections-filled:before {
    content: '\e956';
}
.icon-settings:before {
    content: '\e957';
}
.icon-settings-filled:before {
    content: '\e958';
}
// .icon-share:before {
//     content: '\e959';
// }
// .icon-share-android:before {
//     content: '\e95a';
// }
// .icon-shop:before {
//     content: '\e95b';
// }
// .icon-shop-online:before {
//     content: '\e95c';
// }
// .icon-slow:before {
//     content: '\e95d';
// }
.icon-snapchat:before {
    content: '\e95e';
}
.icon-snapchat-filled:before {
    content: '\e95f';
}
.icon-snow:before {
    content: '\e960';
}
.icon-snow-cloudy:before {
    content: '\e961';
}
.icon-soundcloud:before {
    content: '\e962';
}
.icon-soundcloud-filled:before {
    content: '\e963';
}
.icon-spotify:before {
    content: '\e964';
}
.icon-spotify-filled:before {
    content: '\e965';
}
// .icon-star:before {
//     content: '\e966';
// }
// .icon-star-filled:before {
//     content: '\e967';
// }
.icon-storm:before {
    content: '\e968';
}
.icon-storm-cloudy:before {
    content: '\e969';
}
.icon-sun:before {
    content: '\e96a';
}
.icon-sun-cloudy:before {
    content: '\e96b';
}
// .icon-supermarket:before {
//     content: '\e96c';
// }
.icon-tiktok:before {
    content: '\e96d';
}
.icon-timer:before {
    content: '\e96e';
}
.icon-trip:before {
    content: '\e96f';
}
.icon-tumblr:before {
    content: '\e970';
}
.icon-tumblr-filled:before {
    content: '\e970';
}
.icon-twitch:before {
    content: '\e971';
}
.icon-twitter:before {
    content: '\e972';
}
.icon-twitter-filled:before {
    content: $icon-twitter-filled;
}
.icon-unlock:before {
    content: '\e974';
}
.icon-unlock-filled:before {
    content: '\e975';
}
.icon-user:before {
    content: '\e976';
}
// .icon-vertical-line:before {
//     content: '\e977';
// }
.icon-whatsapp:before {
    content: '\e978';
}
.icon-whatsapp-filled:before {
    content: $icon-whatsapp-filled;
}
.icon-windy:before {
    content: '\e97a';
}
.icon-youtube:before {
    content: '\e97b';
}
.icon-youtube-filled:before {
    content: '\e97c';
}
.icon-zoom:before {
    content: $icon-zoom;
}

/*LOGOS*/

//[class^='logo-'],
[class*='logo-'] {
    font-family: 'LNlogos';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: px(17);
    display: inline-block;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo-brando:before {
    content: $logo-brando;
}

.logo-club:before {
    content: $logo-club;
}

.logo-club-lanacion:before {
    content: $logo-club-lanacion;
}

.logo-hola:before {
    content: $logo-hola;
}

.logo-hola-argentina:before {
    content: $logo-hola-argentina;
}

.logo-jardin:before {
    content: $logo-jardin;
}

.logo-la-nacion:before {
    content: $logo-la-nacion;
}

.logo-living:before {
    content: $logo-living;
}

.logo-ln:before {
    content: $logo-ln;
}

.logo-ln-mas:before {
    content: $logo-ln-mas;
}

.logo-ln-placeholder:before {
    content: $logo-ln-placeholder;
}

.logo-lugares:before {
    content: $logo-lugares;
}

.logo-negocios:before {
    content: $logo-negocios;
}

.logo-ohlala:before {
    content: $logo-ohlala;
}

.logo-rolling:before,
.logo-rolling-stone:before {
    content: $logo-rolling;
}

.logo-bbc:before {
    content: $logo-bbc;
}

.logo-propiedades:before {
    content: $logo-propiedades;
}
