@media (max-width: 767px) {
  .homepage .header-container {
    margin-top: 3.125rem;
  }
}

.ln-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ln-menu-user {
  background: none;
  cursor: pointer;
  min-width: 11.5625rem;
  padding-left: 0.375rem;
}
.ln-menu-user .avatar {
  min-width: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-transform: uppercase;
}
.--logged .ln-menu-user .avatar {
  background-color: #CCCCCC;
  border: 1px solid #fefefe;
}
.--logged .ln-menu-user .avatar .ln-text {
  color: #333333;
}
.--subscribed .ln-menu-user .avatar {
  background-color: #333333;
  border: 1px solid #666666;
}
.--subscribed .ln-menu-user .avatar .ln-text {
  color: #fdb727;
}
.ln-menu-user .--email {
  white-space: nowrap;
  overflow: hidden;
  max-width: 8.5625rem;
  text-overflow: ellipsis;
}
.ln-menu-user .handle-menu {
  cursor: pointer;
}
.ln-menu-user .handle-menu:hover {
  opacity: 0.8;
}
.ln-menu-user .name .text {
  color: #666666;
}
.ln-menu-user .desplegable {
  padding-bottom: 0.75rem;
  width: 12.5rem;
  border: 1px solid #f2f2f2;
  background: #ffffff;
  border-radius: 3px;
  text-align: left;
  position: absolute;
  right: 0;
  top: 3.125rem;
  box-shadow: 0 0 4px 0 rgba(167, 164, 164, 0.2);
  z-index: 1000;
}
.ln-menu-user .desplegable:before {
  content: "";
  transform: rotate(45deg);
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #f2f2f2;
  border-right: none;
  border-bottom: none;
  border-radius: 0 0 6px 0;
  margin: -0.5rem auto 0;
  background: #ffffff;
  display: block;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
.ln-menu-user .desplegable:after {
  content: "";
  width: 2.5rem;
  height: 0.625rem;
  position: absolute;
  top: 0;
  left: 5rem;
  background: #ffffff;
  display: block;
  z-index: 0;
}
.ln-menu-user .desplegable li {
  z-index: 2;
}
.ln-menu-user .desplegable li:first-child {
  margin-top: 0.75rem;
}
.ln-menu-user .desplegable li .mis-notas {
  border-bottom: 1px solid #e4e4e4;
}
.ln-menu-user .desplegable li:last-child {
  border-top: 1px solid #e4e4e4;
}
.ln-menu-user .desplegable li:last-child a,
.ln-menu-user .desplegable li:last-child a:hover {
  color: #b40d15;
}
.ln-menu-user .desplegable li a {
  font-size: 0.875rem;
  width: auto;
  display: block;
  color: #0250c9;
}
.ln-menu-user .desplegable li a:hover {
  background: #e7f0ff;
  border-radius: 0.25rem;
  color: #0250c9;
}

.--logged .--negative .ln-menu-user .avatar {
  background-color: #333333;
  border-color: #010101;
}
.--logged .--negative .ln-menu-user .avatar .ln-text {
  color: #CCCCCC;
}
.--subscribed .--negative .ln-menu-user .avatar {
  border-color: #010101;
}
.--negative .ln-menu-user .name .text {
  color: #999999;
}
.ln-main-header {
  padding: var(--size-sm) 0;
}
@media (min-width: 48rem) {
  .ln-main-header {
    padding: var(--size-md) 0;
  }
}
@media (max-width: 767px) {
  .ln-main-header {
    height: 4rem;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .--subscribed .ln-main-header .lay-container > div .right-actions.button.ln-button:not(.campanita) {
    display: none;
  }
}
.ln-main-header .left-actions {
  gap: 1.5rem;
}
@media (min-width: 80rem) {
  .ln-main-header .left-actions {
    width: 25rem;
  }
}
.ln-main-header .left-actions .secciones,
.ln-main-header .left-actions .search {
  padding: 0.25rem !important;
  border: 0;
}
.ln-main-header .left-actions .secciones:hover,
.ln-main-header .left-actions .search:hover {
  background: #f2f2f2;
}
@media (min-width: 48rem) {
  .ln-main-header .center-actions {
    height: 2.5rem;
  }
}
.ln-main-header .center-actions .logo-header svg {
  height: 1rem;
}
@media (min-width: 48rem) {
  .ln-main-header .center-actions .logo-header svg {
    height: 1.875rem;
  }
}
@media (min-width: 80rem) {
  .ln-main-header .center-actions .logo-header svg {
    height: 2.5rem;
  }
}
.ln-main-header .right-actions {
  width: 9.8125rem;
  gap: 1rem;
}
@media (max-width: 359px) {
  .ln-main-header .right-actions .ln-button:not(.campanita).--subscribe {
    background-color: transparent;
    text-transform: none;
    font-size: 0.875rem;
    padding: 0.4375rem 0rem !important;
  }
}
@media (max-width: 767px) {
  .ln-main-header .right-actions .ln-button:not(.campanita) {
    padding: 0.4375rem 1rem !important;
  }
}
@media (min-width: 48rem) {
  .ln-main-header .right-actions {
    gap: 1.5rem;
    width: 25rem;
  }
  .--unlogged .ln-main-header .right-actions .login {
    color: #272727;
  }
}
.ln-main-header .campanita {
  padding: 0.25rem 0.25rem !important;
}
.ln-sub-header {
  height: 3rem;
}
@media (max-width: 767px) {
  .ln-sub-header .lay-container {
    padding-right: 0;
  }
}
.ln-sub-header .dollar-container {
  overflow: hidden;
  height: 3rem;
  width: 100%;
}
@media (min-width: 48rem) {
  .ln-sub-header .dollar-container {
    padding-right: 1.5rem;
  }
}
.ln-sub-header .dollar-container:after {
  content: "";
  position: absolute;
  top: -0.375rem;
  right: 0;
  width: 3rem;
  height: 3.75rem;
  background: linear-gradient(180deg, rgba(247, 247, 244, 0) 0%, #F7F7F4 100%);
  transform: rotate(-90deg);
}
@media (min-width: 64rem) {
  .ln-sub-header .dollar-container:after {
    display: none;
  }
}
.ln-sub-header .dollar.dollar {
  padding: 0.9375rem 0;
  padding-right: 3.75rem;
}
.ln-sub-header .ln-link {
  color: inherit;
}
.ln-sub-header .access {
  min-width: 20.875rem;
}
.ln-sub-header .access li:last-child {
  margin: 0;
}