@import '../abstracts/variables';

@mixin font-face($name, $file, $weight) {
    @font-face {
        font-family: '#{$name}';
        src: url('../../fonts/#{$file}.eot');
        src: url('../../fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
            url('../../fonts/#{$file}.woff') format('woff'),
            url('../../fonts/#{$file}.ttf') format('truetype'),
            url('../../fonts/#{$file}.svg?#webfont') format('svg');
        font-weight: $weight;
        font-style: normal;
    }
}

/* COLUMNAS */

@mixin columns($name, $start, $end) {
    @for $i from $start through $end {
        .col-#{$name}#{$i} {
            -ms-flex: 0 0 $col-width * $i * 1%;
            flex: 0 0 $col-width * $i * 1%;
            max-width: $col-width * $i * 1%;
        }
    }
}

/* ORDERS */

@mixin orders($name, $start, $end) {
    @for $i from $start through $end {
        .order-#{$name}#{$i} {
            -ms-flex-order: $i;
            order: $i;
        }
    }
}

/* OFFSETS */

@mixin offsets($name, $start, $end) {
    @for $i from $start through $end {
        .offset-#{$name}#{$i} {
            margin-left: $col-width * $i * 1%;
        }
    }
}

/* REVISTAS */

@mixin revista($logo, $primario) {
    &.acu-revista .subheader-acu i.logo-revista:before {
        content: $logo;
    }
    .cont-figure .figure .content-pic:before {
        content: $logo;
        color: $primario;
        opacity: 0.2;
        font-size: px(35);
    }
    @media (min-width: 1023px) {
        .row-gap-deskxl-2 .cont-figure .figure .content-pic:before {
            font-size: px(65);
        }
    }
    .com-tag a {
        color: $primario;
        border-color: $primario;
        &:hover {
            background: $primario;
        }
    }
    .com-secondary-tag a,
    .com-secondary-tag a:after,
    [class^='logo-']:not(.logo-la-nacion),
    [class*=' logo-'] {
        color: $primario;
    }
    &.fondo-revista,
    .mod-newsletter,
    .mod-opening:before {
        background-color: $primario;
    }
    .subheader-acu {
        background: $primario;
    }
}

@mixin headerBlanco {
    background: $blanco;
    border-bottom: 1px solid $gris2;
    .logo-la-nacion {
        color: $ln;
    }
    .--btn.--secondary {
        background-color: $blanco;
        border: 1px solid $link;
        color: $link;
    }
    .com-hamburger:before {
        color: $negro;
    }
}
@mixin flex($display, $direction: null, $ejeX: null, $ejeY: null) {
    //Sólo agregamos el "@include flex($display, $direction, $ejeX, $ejeY);"
    @if $display == flex {
        $display: flex;
    } @else if $display == inline {
        $display: inline-flex;
    }
    @if $ejeX == start {
        $ejeX: flex-start;
    } @else if $ejeX == end {
        $ejeX: flex-end;
    } @else if $ejeX == center {
        $ejeX: center;
    } @else if $ejeX == between {
        $ejeX: space-between;
    } @else if $ejeX == around {
        $ejeX: space-around;
    }
    @if $ejeY == start {
        $ejeY: flex-start;
    } @else if $ejeY == end {
        $ejeY: flex-end;
    } @else if $ejeY == center {
        $ejeY: center;
    } @else if $ejeY == stretch {
        $ejeY: stretch;
    } @else if $ejeY == baseline {
        $ejeY: baseline;
    }

    display: $display;
    flex-direction: $direction;
    justify-content: $ejeX;
    align-items: $ejeY;
}

@mixin transform($eje, $valor) {
    //Sólo agregamos el "@include transform($eje, $valor);"
    $num: '(#{$valor})';
    -webkit-transform: translate#{$eje}#{$num};
    -moz-transform: translate#{$eje}#{$num};
    -ms-transform: translate#{$eje}#{$num};
    transform: translate#{$eje}#{$num};
}

@mixin fullwidth {
    $spacing-lg: 2.5rem;
    $spacing-sm: 1.25rem;

    width: calc(100% + #{$spacing-lg});
    margin-left: -$spacing-sm;
}

@mixin OpeningFull {
    //.mod-opening

    margin-top: px(-45); //header mobile
    @media ($media-l) {
        margin-top: px(-65); //header
    }

    .mod-figure {
        .mod-picture {
            width: 100%;
            margin: 0;
            background: $gris6;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 60px);
            border: 0;

            @media (min-width: 769px) {
                height: 100vh;
            }

            &.--video-background {
                video {
                    display: none;
                }

                @media ($media-m) {
                    .com-image {
                        display: none;
                    }
                    video {
                        display: block;
                        position: relative;
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .mod-title {
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.65);
        transition: all 0.2s ease-in-out;
        padding-bottom: 0;
        margin-bottom: 0;

        @media (min-width: 769px) {
            padding-bottom: px(16);
            text-align: center;
        }

        &:before {
            background-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0)
            );
            content: '';
            height: px(120);
            width: 100%;
            margin-top: px(-120);
            position: absolute;
            left: 0;
        }

        [class*='logo-'] {
            margin: 0;
            margin-bottom: $spacing;
            &::before {
                color: $blanco;
            }
            @media ($media-m) {
                margin-bottom: $spacing-sm;
            }
        }

        .mod-sponsor {
            .com-logo.com-logo,
            .com-logo.com-logo:before,
            .com-logo.com-logo:after,
            .com-text.com-text {
                //duplico class para evitar !important
                color: $blanco;
                margin-bottom: 0;
            }
        }

        .lay {
            .com-title {
                font-family: $font-SuecaSlab;
                font-size: px(24);
                line-height: px(32);
                color: $blanco;

                @media ($media-m) {
                    font-size: px(46);
                    line-height: px(54);
                }
            }
            @media (min-width: 769px) {
                width: auto;
                display: inline-block;
                text-align: left;
            }
        }
    }
    .mod-figcaption {
        border-bottom: 1px solid $gris3;
        margin-top: px(8);
        .--credit,
        .--caption {
            margin-bottom: $spacing;
        }
    }
}
