.content-lab {
  background-color: #f2f2f2;
  margin-top: 4.5rem;
  margin-bottom: 1.3125rem;
}
@media (max-width: 768px) {
  .content-lab {
    position: relative;
    overflow: visible;
  }
  .content-lab::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% + 2rem);
    margin-left: -1rem;
    background-color: #f2f2f2;
    z-index: -1;
  }
}
.content-lab .ln-card a {
  display: grid;
  grid-template-columns: 1fr;
}
@media (max-width: 768px) {
  .content-lab .ln-card a .media-container {
    width: calc(100% + 2rem);
    margin-left: -1rem;
  }
}
@media (min-width: 48rem) {
  .content-lab .ln-card a .media-container {
    margin-top: auto;
    margin-bottom: auto;
  }
}
.content-lab .ln-card a .description-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.content-lab .ln-card a .description-container > .ln-text {
  text-align: center;
}
.content-lab .ln-card a .description-container .marquee-text {
  text-align: left;
}
.content-lab .ln-card a .description-container .ln-badge {
  transform: none;
  position: static;
}
@media (min-width: 48rem) {
  .content-lab .ln-card a .description-container {
    padding-right: 1.5rem;
  }
}
@media (min-width: 80rem) {
  .content-lab .ln-card a .description-container {
    padding-right: 2rem;
  }
}
@media (min-width: 48rem) {
  .content-lab .ln-card a {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
@media (min-width: 80rem) {
  .content-lab .ln-card a {
    gap: 2rem;
  }
}

.ln-roof + .content-lab {
  margin-top: 0rem;
}