@import '../abstracts/variables';

.acumulado {
    .mod-article {
        margin-bottom: $spacing-lg;
        .mod-description {
            .com-link {
                color: $light-neutral-700;
            }
            .com-subhead {
                margin-bottom: $spacing;
                a {
                    display: block;
                    width: 100%;
                }
            }
            .mod-marquee {
                display: block;
            }
        }
    }
    .mod-picture.mod-picture {
        padding-top: $picture;
    }
    .sidebar__main {
        //fix para banners tablet caja1 y caja2
        .row-gap-tablet-3 {
            .mod-banner {
                &.--caja1_tab,
                &.--caja2_tab {
                    grid-column: auto;
                    @media ($media-m) {
                        grid-column-start: 1;
                        grid-column-end: 4;
                    }
                    @media ($media-lm) {
                        grid-column: auto;
                        display: none;
                    }
                }
            }
        }
        .row {
            > .mod-banner {
                margin-bottom: $spacing-lg;
            }
        }
        .mod-banner {
            margin-bottom: $spacing-lg;
            &.--adhesion_dsk {
                margin-bottom: 0;
            }
        }
    }
    .sidebar__main > .row {
        > .mod-article {
            padding-bottom: $spacing;
            border-bottom: 1px solid $light-neutral-400;
            @media ($media-m) {
                flex-direction: row-reverse;
                .mod-media {
                    min-width: px(234);
                    max-width: px(234);
                    margin-left: $spacing-sm;
                    margin-bottom: 0;
                }
                .mod-description {
                    .com-subhead {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                    .com-date {
                        color: $light-neutral-600;
                    }
                }
            }
        }
        .--loader {
            text-align: center;
        }
    }
    .row-gap-tablet-2 {
        padding-bottom: $spacing-lg;
        .mod-article {
            margin-bottom: 0;
        }
    }

    .row-gap-tablet-3 {
        margin-bottom: $spacing-lg;
        .mod-article {
            margin-bottom: 0;
        }
        &.hlp-degrade {
            margin-bottom: px(40);
        }
    }

    .com-unordered {
        margin-bottom: 0;
        overflow-x: scroll;
        display: inline-flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        li {
            display: inline-flex;
            .com-link {
                //text-transform: capitalize;
                white-space: nowrap;
                position: relative;
            }
        }
        @media ($media-l) {
            display: flex;
            overflow-x: hidden;
        }
    }

    //para refactor
    .mod-categories {
        position: relative;
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-bottom: $spacing;
        .com-title {
            margin-bottom: $spacing-sm;
            margin-right: 0;
            min-width: max-content;
        }
        .mod-logo {
            //display: flex;
            margin-bottom: $spacing-sm;
            .com-image {
                height: auto;
            }
        }

        .com-button {
            width: px(30);
            position: absolute;
            right: px(-24);
            bottom: px(2);
            height: px(50);
            flex-direction: column;
            &.--left {
                right: auto;
                left: px(-24);
            }
            &:active {
                background: none;
                color: initial;
            }
            @media ($media-l) {
                width: auto;
                height: auto;
                position: relative;
                bottom: auto;
                left: auto;
                right: auto;
                &.--left {
                    left: auto;
                }
            }
        }

        .--category {
            font-family: $font-SuecaSlab;
        }

        @media ($media-m) {
            .mod-logo {
                .com-image {
                    width: auto;
                    max-height: px(70);
                }
            }
        }

        @media ($media-l) {
            flex-direction: row;
            align-items: flex-end;
            padding-bottom: $spacing-sm;

            .com-title {
                margin-bottom: 0;
                margin-right: px(24);
                padding-bottom: px(10);
            }
            .mod-logo {
                margin: 0;
                margin-right: $spacing-md;
                .com-image {
                    max-height: px(90);
                }
            }
            .com-button {
                padding: 0;
                margin-bottom: px(8);
                &:not(.hlp-none) {
                    display: inline-flex;
                }
            }
        }
    }

    .--top .mod-banner.--bg-banner {
        background: none;
    }

    &.amp {
        .--top {
            .mod-logo {
                .com-image {
                    width: 100%;
                    img {
                        object-fit: contain;
                    }
                }
                @media ($media-m) {
                    width: px(400);
                }
            }
        }
    }

    &.--opening {
        main {
            .--top.--top {
                padding-bottom: px(118);
                margin-bottom: 0;
            }
            .--opening {
                margin-top: px(-118);
                // border-bottom: 1px solid $light-neutral-400;
                // margin-bottom: $spacing-md;
                .mod-figure {
                    background: $neutral-white; //para el hover de la imagen
                }
            }
        }
    }
    &.--color {
        main {
            padding-top: 0;
            .--top {
                padding-top: $spacing-lg;
                padding-bottom: 0;
                margin-bottom: $spacing-lg;
                .com-title,
                .com-link,
                .com-button {
                    color: $neutral-white;
                }
                // @media ($media-l) {
                //     .--category {
                //         margin-bottom: 0;
                //     }
                // }
            }
        }
    }
    &.--transparent {
        main {
            padding-top: 0;
            .--top {
                margin-top: px(-72);
                padding-top: px(96);
            }
        }
        &.ohlala {
            main {
                .--top {
                    background-color: $ohlala;
                }
                .--tags li .com-link {
                    color: $ohlala;
                }
            }
        }
        &.lugares {
            main {
                .--top {
                    background-color: $lugares;
                }
                .--tags li .com-link {
                    color: $lugares;
                }
            }
        }
        &.hola {
            main {
                .--top {
                    background-color: $hola;
                }
                .--tags li .com-link {
                    color: $hola;
                }
            }
        }
        &.living {
            main {
                .--top {
                    background-color: $living;
                }
                .--tags li .com-link {
                    color: $living;
                }
            }
        }
        &.brando {
            main {
                .--top {
                    background-color: $brando;
                }
                .--tags li .com-link {
                    color: $brando;
                }
            }
        }
        &.jardin {
            main {
                .--top {
                    background-color: $jardin;
                }
                .--tags li .com-link {
                    color: $jardin;
                }
            }
        }
        &.rolling,
        &.rolling-stone {
            main {
                .--top {
                    background-color: $rolling;
                }
                .--tags li .com-link {
                    color: $rolling;
                }
            }
        }
    }

    .com-anexo {
        margin-bottom: $spacing-lg;
    }

    .breaking-news {
        border-left: 1px solid $light-neutral-500;
        padding-left: px(16);

        .mod-article {
            .com-hour {
                font-family: $font-SuecaSlab;
                font-weight: 700;
                color: $neutral-black;
                margin: -5px 0 5px;
                &:before {
                    content: '';
                    width: px(16);
                    height: px(16);
                    border-radius: px(16);
                    border: 1px solid $light-neutral-500;
                    background: #fff;
                    left: -31px;
                    top: 0;
                    z-index: 2;
                    position: absolute;
                }
                &:after {
                    content: '';
                    width: px(8);
                    height: px(8);
                    border-radius: px(8);
                    background: $light-neutral-500;
                    top: 5px;
                    left: -21px;
                    z-index: 2;
                    position: absolute;
                }
            }

            .mod-picture {
                width: 100%;
                margin-left: 0;
            }

            @media ($media-m) {
                flex-direction: row;
                > div {
                    min-width: 220px;
                    margin-right: px(16);
                }
                .com-hour {
                    margin-right: px(16);
                }
            }
        }

        &.hlp-degrade {
            &:after {
                margin-left: -8px;
            }
        }
    }

    /* Start: Solo para dema maqueta */
    &.maqueta {
        .com-anexo,
        .com-banner {
            background: $light-neutral-400;
            margin-bottom: px(16);
            font-size: 20px;
            line-height: 100px;
            text-align: center;
        }
        .com-anexo {
            min-height: px(100);
        }
        .--top .com-banner {
            margin-top: -24px;
            background: rgba(0, 0, 0, 0.2);
        }
        .sidebar__aside .banner {
            display: none;
        }
        .mod-banner {
            &.--caja1_tab,
            &.--caja2_tab {
                .com-banner {
                    width: 728px;
                    height: 60px;
                }
            }
        }
    }
    /* End: Solo para dema maqueta */
}

.com-unordered {
    .mod-categories & {
        li {
            padding-right: px(16);
            flex-wrap: nowrap;
            .com-link {
                //font-family: $font-arial;
                font-size: px(18);
                color: $light-neutral-700;
            }
        }
        @media ($media-l) {
            display: inline-flex;
        }
    }
    &.--category,
    &.--tags {
        li {
            .com-link {
                &:first-letter {
                    text-transform: capitalize;
                }
            }
        }
    }
    &.--category {
        margin-bottom: $spacing;
        @media ($media-l) {
            margin-bottom: px(14);
        }
    }
    &.--tags {
        margin-bottom: $spacing-lg;
        margin-top: 0;
        padding-top: $spacing-lg;
        border-top: 1px solid $light-neutral-400;
        li {
            &:not(:last-child) {
                .com-link {
                    margin-right: px(24);

                    &:after {
                        content: '•';
                        position: absolute;
                        color: $light-neutral-400;
                        right: px(-16);
                    }
                }
            }
        }
        .--color &,
        .--transparent & {
            padding-top: 0;
            border-top: none;
        }
        .--color.--opening & {
            padding-top: $spacing-md;
            border-top: 1px solid $light-neutral-400;
        }

        @media ($media-l) {
            display: block;
            li {
                margin-bottom: $spacing;
            }
        }
    }
}

.loader {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    left: 70px;
    right: 0;
    top: 10px;
    bottom: 0;
    border: 4px solid #ebebeb;
    border-bottom-color: #1088b5;
    animation: b 1s linear 0s infinite;
    display: block;
    margin: 0 auto 2em;
}
@keyframes b {
    0% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}
