@import '../abstracts/variables';

.acumulado {
    .mod-article {
        margin-bottom: $spacing-lg;
        .mod-description {
            .com-link {
                color: $gris6;
            }
            .com-subhead {
                margin-bottom: $spacing;
            }
            .mod-firma {
                display: block;
            }
        }
    }
    .sidebar__main > .row {
        > .mod-article {
            @media ($media-m) {
                flex-direction: row-reverse;
                .mod-media {
                    min-width: px(234);
                    max-width: px(234);
                    margin-left: $spacing-sm;
                    margin-bottom: 0;
                }
                .mod-description {
                    .com-subhead {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                    .com-date {
                        color: $gris5;
                    }
                }
            }
            @media ($media-l) {
                padding-bottom: $spacing-sm;
                border-bottom: 1px solid $gris3;
            }
        }
    }
    .row-gap-tablet-3 {
        margin-bottom: $spacing-lg;
        .mod-article {
            margin-bottom: 0;
        }
    }

    .com-unordered {
        margin-bottom: 0;
        overflow-x: scroll;
        display: inline-flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        li {
            display: inline-flex;
            .com-link {
                text-transform: capitalize;
                white-space: nowrap;
                position: relative;
            }
        }
        @media ($media-l) {
            display: block;
            overflow-x: hidden;
        }
    }

    .--top {
        //para refactor
        .mod-categories {
            width: 100%;
            display: inline-flex;
            flex-direction: column;
            flex-wrap: nowrap;
            margin-bottom: $spacing-md;

            .com-title,
            .com-logo {
                margin-bottom: px(16);
                margin-right: 0;
                min-width: max-content;
            }

            .com-button {
                display: none;
            }

            @media ($media-l) {
                flex-direction: row;
                align-items: flex-end;

                .com-title,
                .com-logo {
                    margin-bottom: 0;
                    margin-right: px(24);
                }
                .com-button {
                    display: inline-flex;
                    padding: 0;
                    margin-bottom: px(-6);
                }
            }
        }
    }

    &.--color {
        main {
            padding-top: 0;
            .--top {
                margin-top: px(-65);
                padding-top: px(89);
                padding-bottom: px(150);
                background-color: $ln;
                .com-title,
                .com-logo,
                .com-link,
                .com-button {
                    color: $blanco;
                }
                .com-logo {
                    font-size: px(70);
                }
            }
            .--opening {
                margin-top: px(-150);
            }
        }
        &.ohlala {
            main {
                .--top {
                    background-color: $ohlala;
                }
                .--tags li .com-link {
                    color: $ohlala;
                }
            }
        }
        &.lugares {
            main {
                .--top {
                    background-color: $lugares;
                }
                .--tags li .com-link {
                    color: $lugares;
                }
            }
        }
        &.hola {
            main {
                .--top {
                    background-color: $hola;
                }
                .--tags li .com-link {
                    color: $hola;
                }
            }
        }
        &.living {
            main {
                .--top {
                    background-color: $living;
                }
                .--tags li .com-link {
                    color: $living;
                }
            }
        }
        &.brando {
            main {
                .--top {
                    background-color: $brando;
                }
                .--tags li .com-link {
                    color: $brando;
                }
            }
        }
        &.jardin {
            main {
                .--top {
                    background-color: $jardin;
                }
                .--tags li .com-link {
                    color: $jardin;
                }
            }
        }
        &.rolling,
        &.rolling-stone {
            main {
                .--top {
                    background-color: $rolling;
                }
                .--tags li .com-link {
                    color: $rolling;
                }
            }
        }
    }
    .com-anexo {
        background: $gris3;
    }
}

.com-unordered {
    .mod-categories & {
        li {
            padding-right: px(16);
            flex-wrap: nowrap;
            .com-link {
                font-family: $font-SuecaSlab;
                font-size: px(18);
                color: $gris6;
            }
        }
        @media ($media-l) {
            display: inline-flex;
        }
    }
    &.--tags {
        border-top: solid 1px #ccc;
        padding-top: $spacing-md;
        margin-bottom: $spacing-md;
        margin-top: 0;
        li {
            &:not(:last-child) {
                .com-link {
                    margin-right: px(24);

                    &:after {
                        content: '•';
                        position: absolute;
                        color: $gris3;
                        right: px(-16);
                    }
                }
            }
            @media ($media-l) {
                margin-bottom: $spacing;
            }
        }
    }
}
