@import '../abstracts/variables';
@import '../base/ohlala';

.fondo-revista {
    position: absolute;
    top: 0;
    height: 300px;
    z-index: -1;
}

@media ($media-l) {
    .fondo-revista {
        height: 550px;
    }
}

.mod-opening-revista {
    margin-top: -85px;
    padding-top: 85px;
    position: relative;
    z-index: -1;
    [class^="logo-"]:not(.logo-la-nacion), [class*=" logo-"] {
        color: $blanco;
    }
    .com-link {
        color: $blanco;
    }
}