@import '../abstracts/variables';

.fondo-revista {
    position: absolute;
    top: 0;
    height: 300px;
    z-index: -1;
}

@media ($media-l) {
    .fondo-revista {
        height: 550px;
    }
}
.acu-revista {
    .--bg-banner{
        background: none;
        z-index: 1;
        position: relative;
    }
    .mod-opening-revista {
        background: #006998;
        margin-top: -85px;
        padding-top: 85px;
        margin-top: -256px;
        padding-top: 256px;
        margin-bottom:-200px;
        padding-bottom: 200px;
        position: relative;

        [class^="logo-"]:not(.logo-la-nacion), [class*=" logo-"] {
            color: $blanco;
            font-size: $font-40;
        }

        

        .com-link {
            color: $blanco;
        }
        .com-link {
            font-size: $font-17;
            font-family: "SuecaSlab", "Georgia", "serif";
            font-weight: 700;
            margin-right: $px-40;
            display: inline-block;
        }

        .logo, .links {
            margin-bottom: $px-20;
        }
        .links { display: none;}
        .com-share {
            float: right;
            a {
                margin-left: $px-10;
                i {
                    color: $blanco!important;
                }
            }
        }
        @media (min-width: 1023px) {
            [class^="logo-"]:not(.logo-la-nacion), [class*=" logo-"] {
                font-size: $font-85;
            }
            .logo, .links {
                display: block;
                text-align: center;
                margin-bottom: $px-40;
            }
            
        }

    }
    .highlights {
        margin-bottom: $px-40;
    }
}

.anexo{
    display: block;
    min-height: 100px;
    width: 100%;
    background-color:#bbdefb;
    font-size: 20px;
    line-height:100px;
    text-align:center;
    margin-bottom: 20px;
}