@import '../abstracts/variables';

.bookmark {
    .com-breadcrumb {
        .com-text {
            color: $light-neutral-600;
        }
    }
    .title {
        display: flex;
        flex-direction: column;
        margin-bottom: $spacing-lg;
        h1 {
            color: $light-neutral-800;
            margin-bottom: px(28);
        }
        @media ($media-m) {
            margin-bottom: px(28);
            h1 {
                margin-bottom: 0;
                margin-right: $spacing-sm;
            }
            flex-direction: row;
            align-items: center;
        }
        .--saved {
            display: inline-block;
            width: fit-content;
            color: $blue-500;
            box-shadow: 0 px(4) 0 $blue-500;
            padding-bottom: px(2);
        }
    }
    .loader {
        margin: auto;
    }
}
