@import '../abstracts/variables';

.error404{
    header {
      .row{
        .col-6:first-child{
          text-align: right;
        }
        nav{
          margin-top:30px;
          a{
            color:#0074c4;
            }
        }
      }
    }
    main img {
      margin: 0 auto;
    }
  }