@import '../abstracts/variables';

html{ height:100%; }

body {

@media (min-width: 64em) {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    }
}

.error404{
    margin: 0 auto;
    background: url(https://www.lanacion.com.ar/error/liniers-vertical.jpg) no-repeat;
    height: 100vh;
    background-position: bottom;
    background-size: 100%;
    @media (min-width: 64em) {
        background: none;
        height: auto;
    }

    header {
        background-color:rgba(255, 255, 255, 0.8);
        padding: 30px 0;
        .row {
            .header__middle__logo .logo-la-nacion {
                color:#006998;
                margin-bottom: 30px;
                font-size: 17px;
                @media (min-width: 64em) {
                    font-size: 29px;
                }
            }
            @media (min-width: 64em) {
                >div:first-child {
                    text-align: right;
                    border-right: 1px solid #d9d9d9;
                    padding-right: 30px;
                }
                >div:last-child {
                    padding-left: 30px;
                }
            }
            nav {
                margin-top:30px;
                a {
                    color:#0074c4;
                    &:first-child {
                        margin-right: 30px;
                    }
                }
            }
            h1 {
                font-family: Suecaslab;
                font-size: 24px;
                line-height: 40px;
                margin-top: -15px;
              }
            p {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 19px;
            line-height: 30px;
            }
        }
    }
    
    main {
        padding: 20px 0;
        img {
            //display: none;
            visibility: hidden;
            margin: 0 auto;
            @media (min-width: 64em) {
                //display: block;
                visibility: visible;
            }
        }
    }

    footer {
        font-size: 14px;
        position: absolute;
        bottom: -60px;
    
        @media (min-width: 64em) {
            position: relative;
            bottom: auto;
        }
        .footer-copyright__reserved {
            color: #5e5e5e;
        }
        .footer-humor {
            text-align: right;
            a {
            color:#0074c4;
            }
        }
    }
}