@import '../abstracts/variables';
@import '../abstracts/mixins';

.nota.noticia {
    .--apertura {
        .com-title {
            margin-bottom: $spacing-sm;
        }
    }
}

/* REVISTAS */
@mixin magazine($logo, $primario) {
    &.nota {
        main {
            .com-breadcrumb a,
            .mod-autor .com-link,
            // .com-cita .com-link,
            // .keep-reading .com-link,
            // .com-paragraph .com-link,
            .cuerpo__nota .com-link.com-link,
            .mod-share .com-text,
            .mod-share .com-button:hover {
                color: $primario;
            }
            .sidebar__main .com-button {
                &.--secondary {
                    color: $primario;
                    border-color: $primario;
                    &:hover {
                        background-color: $primario;
                        color: $neutral-white;
                    }
                }
                &.--primary {
                    border-color: $primario;
                    background-color: $primario;
                }
            }
            // .--apertura {
            //     .com-logo {
            //         &:before {
            //             content: $logo;
            //             color: $primario;
            //         }
            //     }
            // }
        }
    }
}

.propiedades {
    $primario: $propiedades;
    $logo: $logo-propiedades;
    @include magazine($logo, $primario);
}

.brando {
    $primario: $brando;
    $logo: $logo-brando;
    @include magazine($logo, $primario);
}

.ohlala {
    $primario: $ohlala;
    $logo: $logo-ohlala;
    @include magazine($logo, $primario);
}

.lugares {
    $primario: $lugares;
    $logo: $logo-lugares;
    @include magazine($logo, $primario);
}

.living {
    $primario: $ln;
    $logo: $logo-living;
    @include magazine($logo, $primario);
}

.hola {
    $primario: $hola;
    $logo: $logo-hola;
    @include magazine($logo, $primario);
}

.jardin {
    $primario: $jardin;
    $logo: $logo-jardin;
    @include magazine($logo, $primario);
}

//.rolling-stone,
.rolling {
    $primario: $rolling;
    $logo: $logo-rolling;
    @include magazine($logo, $primario);
}

.campo {
    $primario: $teal-700;
    $logo: $logo-campo;
    @include magazine($logo, $primario);
}

// .nota.noticia {
//     .mod-banner.--cabezal_dsk {
//         position: absolute;
//         width: 100%;
//     }
//     main {
//         .--apertura {
//             margin-top: px(202);
//         }
//     }
// }

.nota.nota {
    main {
        .cuerpo__nota {
            .box-articles {
                .com-link.com-link {
                    color: $light-neutral-700;
                }
            }
        }
    }
}
