@import '../abstracts/variables';
@import '../abstracts/mixins';

@mixin padding_rl {
    padding-right: $spacing;
    padding-left: $spacing;

    @media ($media-s) {
        padding-right: $spacing-sm;
        padding-left: $spacing-sm;
    }

    @media ($media-l) {
        padding-right: 0;
        padding-left: 0;
    }
}

.--photo100 {
    &.--scrollDown {
        .mod-share-container {
            &.--handle-share {
                @media ($media-l) {
                    transform: translateY(px(-500));
                }
            }
        }
    }
    #content {
        padding-top: 0;
        .mod-opening {
            @include OpeningFull;

            .lay {
                @include padding_rl;
                @include width-nota100;
            }
        }

        > .row {
            display: block;
            margin-bottom: $spacing-lg;

            .com-paragraph,
            .element-paragraph,
            .com-container,
            h2,
            h3,
            .com-partner,
            .mod-date,
            .FirmaAutor,
            .com-unordered,
            .com-ordered,
            .container-center-100,
            figcaption {
                display: block;
                width: 100%;
                margin-right: auto;
                margin-left: auto;

                @include padding_rl;
                @include width-nota100;
            }
            .com-container {
                margin-bottom: $spacing-lg;
                text-align: center;
            }
            .mod-banner,
            .com-breadcrumb {
                width: 100%;
                margin-right: auto;
                margin-left: auto;

                @include padding_rl;
                @include width-nota100;
            }
            .com-breadcrumb {
                @media ($media-l) {
                    left: px(-16);
                }
            }
            .mod-figure {
                &::before {
                    right: $spacing;
                }
                .placeholder {
                    width: 100%;
                    margin-left: 0;
                    border: none;
                }
            }
            .--active.--active {
                .mod-figure .placeholder {
                    height: auto;
                }
            }
            > .com-link.--logo {
                @include padding_rl;
                @media ($media-l) {
                    display: block;
                    width: 100%;
                    margin-right: auto;
                    margin-left: auto;

                    @include width-nota100;
                }
            }

            .mod-share-container {
                margin: 0 $spacing;
                position: relative;
                @media ($media-s) {
                    margin: 0 $spacing-sm;
                }
                @media ($media-l) {
                    margin: 0;
                    margin-bottom: px(-350);
                    position: sticky;
                    left: calc(((100% - #{$width_nota100_l}) / 2) - 133px);
                }
                @media ($media-lm) {
                    left: calc(((100% - #{$width_nota100_lm}) / 2) - 145px);
                }
                @media ($media-lg) {
                    left: calc(((100% - #{$width_nota100_lg}) / 2) - 165px);
                }
                @media ($media-xl) {
                    left: calc(((100% - #{$width_nota100_xl}) / 2) - 185px);
                }
            }
        }
    }
}
