@import '../abstracts/variables';

.aper-receta {
    background: $light-neutral-200;
    margin-bottom: $spacing-xl;

    @media ($media-l) {
        margin-bottom: $spacing-3xl;
    }
    @media ($media-m) {
        margin-bottom: $spacing-xl;
    }

    .col-desksm-8 {
        > div {
            width: 100%;
            .mod-media {
                margin: 0;
                width: 100%;
                .placeholder {
                    width: 100%;
                    margin: 0;
                    aspect-ratio: 3 / 2;
                    img {
                        position: absolute;
                        top: 0;
                        object-fit: cover;
                    }
                }
            }
        }
        @media ($media-l) {
            order: 2;
            //display: flex;
            //align-items: center;
        }
    }
    .cont-aper {
        padding: px(20);
        padding-bottom: 0;
        @media ($media-l) {
            order: 1;
        }
    }
}

.--steps {
    margin-bottom: $spacing-lg;
    .com-title {
        font-weight: 500;
        margin-bottom: $spacing-sm;
    }
    .com-text {
        margin-bottom: $spacing-sm;
    }
    .--ingredients {
        //order: 1;
        @media ($media-m) {
            margin-right: 8.33333%;
            margin-bottom: $spacing-lg;
        }
    }
    .--preparation {
        @media ($media-m) {
            margin-bottom: $spacing-lg;
        }
    }
    .--nutrition {
        width: 100%;
    }
}

.ingredient-list {
    list-style: disc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .com-item {
        margin: 0 0.8em;
        line-height: 1.5em;
    }
}

// .time-number,
// .portion-number {
//     display: flex;
//     align-items: center;
//     font-family: $font-arial;
//     font-size: px(16);
//     .num {
//         margin: 0 0.2em 0 0.4em;
//     }
// }

@media (min-width: 768px) {
    .aper-receta .cont-aper {
        padding: px(30);
    }
}

@media (min-width: 1024px) {
    .aper-receta .cont-aper .cont_tags .time-number,
    .aper-receta .cont-aper .cont_tags .portion-number {
        padding-left: px(15);
    }
}

.pb-20 {
    padding-bottom: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

@media ($media-m) {
    .gap-24_l {
        gap: 24px;
    }
}
