@import '../abstracts/variables';
@import '../abstracts/mixins';

.--storytelling {
    #content {
        padding-top: 0;
        .mod-opening {
            @include OpeningFull;
        }
        .mod-sponsor {
            .com-texto {
                color: $neutral-white;
            }
        }
        #prueba {
            display: flex;
            flex-direction: column;
        }
    }
}
