@import '../abstracts/variables';

.nota.video {
    &.--transparent .header {
        border-bottom: 1px solid $light-neutral-300;
    }
    #content {
        padding-top: 0;
        .--apertura {
            background: $dark-neutral-50;
            color: $neutral-white;
            padding: px(72) 0 $spacing-lg;
            margin-top: px(-50);
            margin-bottom: $spacing-lg;
            @media ($media-l) {
                padding-top: px(104);
                margin-top: px(-72);
            }
            .com-title,
            .com-subhead {
                display: block;
                margin-bottom: $spacing-sm;
            }
            .container-firma a {
                color: $blue-300;
                font-weight: 700;
            }
            .mod-autor {
                .com-text.--autor {
                    color: $neutral-white;
                }
            }
            .container-medio .com-text.--medio {
                color: $light-neutral-400;
            }
            .mod-banner {
                background: none;
                margin-bottom: $spacing-lg;
                // Se le colocó 101 porque era menor al del video y al del share
                // El z-index del share es el mayor, con un valor de 100
                // por lo que se le incrementó el del banner a 101
                z-index: 101;
                &:before {
                    background: $light-neutral-700;
                }
            }
            .mod-date {
                .com-date,
                .com-hour {
                    color: $light-neutral-400;
                }
            }

            .mod-media {
                .mod-figcaption {
                    display: none;
                    .--credit {
                        color: $light-neutral-400;
                    }
                }
                @media ($media-l) {
                    margin-bottom: 0;
                    .mod-figcaption {
                        display: block;
                        width: 100%;
                        margin-left: 0;
                        padding: 0 0 0.5rem;
                    }
                }
            }
            .mod-sponsor {
                > .com-text.com-text,
                .com-logo.com-logo {
                    color: $neutral-white;
                }
            }
            .col-desksm-4 {
                order: 2;
                display: flex;
                flex-direction: column;
                @media ($media-l) {
                    .mod-share {
                        order: initial;
                    }
                    padding-right: px(20);
                    order: 1;
                }
            }
            .col-desksm-8 {
                order: 1;
                @media ($media-l) {
                    padding-left: px(20);
                    order: 2;
                }
            }
        }
    }
}
