@import '../abstracts/variables';

.nota.video {
    &.--transparent .header {
        border-bottom: 1px solid $light-neutral-300;
    }
    main {
        padding-top: 0;

        .--apertura {
            background: $neutral-black;
            color: $neutral-white;
            padding: px(32+72) 0 $spacing-lg;
            margin-top: px(-72);
            margin-bottom: $spacing-lg;

            .com-title,
            .com-subhead,
            .container-firma {
                display: block;
                margin-bottom: $spacing-sm;
            }
            .container-firma a {
                color: $light-blue-500;
                font-weight: 700;
            }
            .mod-banner {
                background: none;
                margin-bottom: $spacing-lg;
                &:before {
                    background: $light-neutral-700;
                }
            }
            .mod-date .com-date {
                color: $light-neutral-400;
            }
            .mod-share {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                z-index: 100;
                padding: 0;
                width: 100%;
                margin: 0;
                background: none;
                .container {
                    flex-direction: row;
                }
                .com-line {
                    display: none;
                }
                .com-button {
                    margin-bottom: 0;
                    margin-right: $spacing-md;
                    &.comment {
                        margin-right: 0;
                        flex-direction: row;
                        .com-icon {
                            margin-right: px(4);
                        }
                        .com-text {
                            color: $light-blue-500;
                        }
                    }
                }
                .com-icon {
                    color: $neutral-white;
                }
            }
            .mod-media {
                margin-bottom: 0;
                .powa-shadow {
                    padding-bottom: $video;
                    background: red;
                }
                .mod-figcaption {
                    width: 100%;
                    margin-left: 0;
                    padding: 0 0 0.5rem;
                }
            }
            .col-tablet-4 {
                order: 2;
                @media ($media-m) {
                    padding-right: px(20);
                    order: 1;
                }
            }
            .col-tablet-8 {
                order: 1;
                @media ($media-m) {
                    padding-left: px(20);
                    order: 2;
                }
            }
        }
    }
}
