@import '../abstracts/variables';
@import '../abstracts/mixins';

.wiki-tags {
    display: grid;
    width: 100%;
    margin-bottom: px(33);
    padding: px(4);
    border: 1px $light-neutral-400 solid;
    border-radius: px(4);

    column-gap: px(24);
    grid-template-areas:
        'image'
        'info'
        'description'
        'rrss'
        'tags';

    grid-template-rows: px(326);
    grid-template-columns: px(326);

    & .com-image {
        grid-area: image;
    }
    & .extra-info {
        grid-area: info;
    }
    & .social-networks {
        grid-area: rrss;
    }
    & .wiki-description {
        grid-area: description;
    }
    & .tags-buttons {
        grid-area: tags;
    }

    .com-image {
        height: 100%;
    }

    .extra-info {
        display: flex;
        flex-direction: column;
        margin: px(24) 0 px(8) 0;

        .description {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: fit-content;

            .label {
                color: $light-neutral-500;
            }

            .text {
                margin-bottom: px(16);
            }

            .com-link {
                font-family: $font-SuecaSlab;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

    .social-networks {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        margin-bottom: px(24);

        .text-social-n {
            margin-right: px(12);
            align-self: center;
        }

        .social-icons {
            background-color: $light-neutral-200;
            margin: 0 8px;
            padding: px(8);
            border-radius: px(4);
        }
    }

    .wiki-description {
        display: flex;
        flex-direction: column;
    }

    .tags-buttons {
        margin-bottom: px(8);
    }

    @media ($media-m) {
        grid-template-areas:
            'image info info'
            'image description description'
            'rrss  description description'
            'tags  description description';

        grid-template-rows: px(200) px(250);
        grid-template-columns: px(300) 1fr;
        padding: 0 px(16) 0 0;

        .extra-info {
            flex-wrap: wrap;
            max-height: px(250);
            .description {
                max-width: px(220);
                margin-right: px(4);
            }
        }

        .social-networks {
            margin: px(16) 0 px(16) px(16);
        }
        .tags-buttons {
            margin-left: px(16);
        }
    }

    @media ($media-l) {
        grid-template-areas:
            'image info info info'
            'image description description description'
            'blank description description description'
            'rrss tags tags tags';

        grid-template-rows: px(200) px(260) px(20) px(130);

        .extra-info {
            max-height: 100%;

            .description {
                max-width: 100%;
            }
        }

        .social-networks {
            justify-content: flex-start;
            margin: px(16) px(24) 0 0;
            .text-social-n {
                align-self: unset;
            }
        }
        .tags-buttons {
            margin: px(16) 0 px(8) 0;
        }
    }

    @media ($media-lg) {
        grid-template-areas:
            'image info description description'
            'image info description  description'
            'image rrss tags tags';

        grid-template-rows: 200px 140px 100px;

        .wiki-description {
            padding: px(24) 0 px(12) 0;
        }
        .social-networks {
            margin-top: 0;
            .text-social-n {
                margin-left: 0;
            }
        }
        .tags-buttons {
            margin-top: 0;
        }
    }
}
