$desktop: 'only screen and (min-width: 86.250em)';
$desktop-sm: 'only screen and (max-width: 86.188em) and (min-width: 64.000em)';
$tablet: 'only screen and (max-width: 63.938em) and (min-width: 54.000em)';
$tablet-sm: 'only screen and (max-width: 53.938em) and (min-width: 42.000em)';
$mobile: 'only screen and (max-width: 41.938em) and (min-width: 22.500em)';
$mobile-sm: 'only screen and (max-width: 22.438em) and (min-width: 20.000em)';
$font-10: 0.625em;
$font-11: 0.688em;
$font-12: 0.75em;
$font-13: 0.813em;
$font-14: 0.875em;
$font-15: 0.938em;
$font-16: 1em;
$font-17: 1.063em;
$font-18: 1.125em;
$font-19: 1.188em;
$font-20: 1.25em;
$font-21: 1.313em;
$font-22: 1.375em;
$font-23: 1.438em;
$font-24: 1.5em;
$font-25: 1.563em;
$font-26: 1.625em;
$font-27: 1.688em;
$font-28: 1.75em;
$font-29: 1.813em;
$font-30: 1.875em;
$font-31: 1.938em;
$font-32: 2em;
$font-33: 2.063em;
$font-34: 2.125em;
$font-35: 2.188em;
$font-36: 2.25em;
$font-37: 2.313em;
$font-38: 2.375em;
$font-39: 2.438em;
$font-40: 2.5em;
$font-41: 2.563em;
$font-42: 2.625em;
$font-43: 2.688em;
$font-44: 2.75em;
$font-45: 2.813em;
$font-46: 2.875em;
$font-47: 2.938em;
$font-48: 3em;
$font-49: 3.063em;
$font-50: 3.125em;
$font-70: 4.375em;
$line-10: 1em;
$line-11: 1em;
$line-12: 1.125em;
$line-13: 1.125em;
$line-14: 1.313em;
$line-15: 1.313em;
$line-16: 1.438em;
$line-17: 1.5em;
$line-18: 1.5em;
$line-19: 1.625em;
$line-20: 1.625em;
$line-21: 1.75em;
$line-22: 1.75em;
$line-23: 1.875em;
$line-24: 1.875em;
$line-25: 2em;
$line-26: 2.125em;
$line-27: 2.188em;
$line-28: 2.188em;
$line-29: 2.25em;
$line-30: 2.313em;
$line-31: 2.375em;
$line-32: 2.375em;
$line-33: 2.5em;
$line-34: 2.5em;
$line-35: 2.625em;
$line-36: 2.688em;
$line-37: 2.75em;
$line-38: 2.813em;
$line-39: 2.875em;
$line-40: 2.938em;
$line-41: 3em;
$line-42: 3.063em;
$line-43: 3.125em;
$line-44: 3.188em;
$line-45: 3.25em;
$line-46: 3.313em;
$line-47: 3.375em;
$line-48: 3.438em;
$line-49: 3.5em;
$line-50: 3.563em;
$line-70: 5em;
$px-1: 0.063em;
$px-2: 0.125em;
$px-3: 0.188em;
$px-4: 0.25em;
$px-5: 0.313em;
$px-6: 0.375em;
$px-7: 0.438em;
$px-8: 0.5em;
$px-9: 0.563em;
$px-10: 0.625em;
$px-11: 0.688em;
$px-12: 0.75em;
$px-13: 0.813em;
$px-14: 0.875em;
$px-15: 0.938em;
$px-16: 1em;
$px-17: 1.063em;
$px-18: 1.125em;
$px-19: 1.188em;
$px-20: 1.25em;
$px-21: 1.313em;
$px-22: 1.375em;
$px-23: 1.438em;
$px-24: 1.5em;
$px-25: 1.563em;
$px-26: 1.625em;
$px-27: 1.688em;
$px-28: 1.75em;
$px-29: 1.813em;
$px-30: 1.875em;
$px-31: 1.938em;
$px-32: 2em;
$px-33: 2.063em;
$px-34: 2.125em;
$px-35: 2.188em;
$px-36: 2.25em;
$px-37: 2.313em;
$px-38: 2.375em;
$px-39: 2.438em;
$px-40: 2.5em;
$px-50: 3.563em;
$px-70: 4.375em;
$px-85: 5.313em;
$d1: 0.1;
$d2: 0.2;
$d3: 0.3;
$d4: 0.4;
$d5: 0.5;
$d6: 0.6;
$d7: 0.7;
$d8: 0.8;
$d9: 0.9;
$gap: 2.5em;
$gap-t: 1.875em;
$gap-m: 1.25em;
$gap-ms: 0.625em;
$ln: #0074c4;
$ohlala: #e61f63;
$brando: #e54000;
$living: #000000;
$hola: #bf0811;
$jardin: #dc9a44;
$lugares: #00a794;
$rolling: #cc2c24;
$lnmas: #4f3f73;
$club: #f7fafd;
$destacado: #ffff25;
$deportes: #529c40;
$deportes-link: #0d880c;
$deportes-autor: #549f42;
$negocios: #d83e2c;
$espectaculos: #ff2569;
$lifestyle: #00acb1;
$tweeter: #55acee;
$facebook: #45619d;
$whatsapp: #1d9d10;
$negro: #000;
$blanco: #fff;
$gris-claro: #f2f2f2;
$gris-medio: #cccccc;
$gris-oscuro: #5a5a5a;
$transparente: transparent;
$placeholder: #e6e6e6;
$exclusivo: #ebe8e5;
$ott-header-link: #06edf8;
$ott-header-link-vivo: #ebf806;
$fotos: calc((2 / 3) * 100%);
$cuadrado: calc((3 / 4) * 100%);
$video: calc((9 / 16) * 100%);
$apaisado: calc((9 / 21) * 100%);
$vertical-m: calc((13 / 12.19) * 100%);
$vertical-l: calc((13 / 8.19) * 100%);
$mg-element: 0.25em 0;
