.button.ln-button {
  line-height: 1.125rem;
  background: transparent;
  color: var(--light-neutral-700);
  font-weight: 700;
  border-radius: 0.25rem;
  outline: none;
  border: 1px solid transparent;
  gap: 0.5rem;
}
.button.ln-button.--primary {
  background: var(--blue-500);
  border-color: var(--blue-500);
  color: var(--light-neutral-0);
}
.button.ln-button.--secondary {
  background: var(--light-neutral-0);
  border-color: var(--light-neutral-300);
}
.button.ln-button.--secondary:hover {
  background: rgba(247, 247, 244, 0.8);
}
.button.ln-button.--subscribe {
  background-color: #ffff24;
}
.button.ln-button.--live {
  background-color: #99151d;
  color: var(--light-neutral-0);
}
.button.ln-button.--sm:not(.--icon-only) {
  padding: 0.375rem 1rem;
}
.button.ln-button.--sm.--icon-only {
  padding: 0.5rem;
}
.button.ln-button.--md:not(.--icon-only) {
  padding: 0.625rem 1rem;
}
.button.ln-button.--md.--icon-only {
  padding: 0.75rem;
}