@import url('/pf/resources/dist/css/ott/style.css');

@import url('/pf/resources/packages/css/@ln/ott-ui-sass/index.css');
.z-15 {
    z-index: 15;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}
