.dialog {
  max-width: unset;
  max-height: unset;
  inset-block-start: unset;
  inset-block-end: unset;
  --_background-dialog: var(--background-dialog, rgba(0, 0, 0, 0.5));
}
.dialog::backdrop {
  background-color: var(--_background-dialog);
  opacity: 1;
}
.dialog[data-position=bottom] {
  inset-block-end: 0;
}
.dialog[data-position=top] {
  inset-block-start: 0;
}
.dialog[data-position=center] {
  inset: 0;
  margin: auto;
}