.centered-404 {
    align-items: flex-start;
    justify-content: center;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
}
.error-header {
    color: $ott-header-link;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-family: $font-suecasb;
}
.error-text span {
    display: block;
}
.error-text span,
.error-text a {
    font-size: 1rem;
    line-height: 1.6rem;
    color: $blanco;
    font-family: $font-suecasm;
}
.error-text a {
    border-bottom: 1px solid $blanco;
    transition: opacity 0.2s ease;
}
.error-text a:hover {
    opacity: 0.75;
}

@media (max-width: 600px) {
    .centered-404 {
        padding-top: 0%;
    }
    .error-header {
        font-size: 1.4rem;
    }
    .error-text span,
    .error-text a {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
}
