@mixin full-width-apertura {
    width: 100vw;
    right: calc((100vw - 100%) / 2);
    background: #322d59;
    background: radial-gradient(ellipse at center, #322d59 0, #08142d 100%);
}

.apertura {
    @include full-width-apertura;
    position: relative;
    padding-bottom: 50.25%;
    /* 16/9 ratio */
    padding-top: 30px;
    /* IE6 workaround*/
    height: 0;
}
.todos-los-programas,
.especiales,
.ultimos-videos {
    padding-left: 10px;
    padding-right: 10px;
}

.apertura iframe,
.apertura object,
.apertura embed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    max-width: 1140px;
    margin: 0 auto;
}

@media (min-width: 1080px) {
    .todos-los-programas,
    .especiales,
    .ultimos-videos {
        padding-left: 0;
        padding-right: 0;
    }
}
