.box-4 {
    @include flex;
    @include flex-row;
    @include just-between;
    @include wrap;
    position: relative;
}

.box-4:after {
    content: '';
    position: absolute;
    width: 1000%;
    left: -500%;
    right: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #eae6e2;
}

.mas-vistos .box-4:after {
    background: $negro;
}

.section-title {
    color: $negro;
    width: 100%;
    font-family: $font-suecasb;
    padding: $px-30 0 $px-20;
    font-size: $font-18;
    position: relative;
}

.mas-vistos .section-title {
    color: $blanco;
}

main > .mas-vistos > .section-title:after {
    background: $negro;
}

main > section > .section-title:after {
    content: '';
    position: absolute;
    width: 1000%;
    left: -500%;
    right: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #eae6e2;
}

.box-4 .article {
    @include flex;
    @include flex-row;
    @include just-between;
    @include wrap;
    width: calc((100% - 75px) / 4);
    position: relative;
    margin-bottom: $px-40;
}

.box-4 .title {
    padding: 0.5rem 0;
}

.box-4 .title a {
    color: $negro;
    font-family: $font-suecasb;
    font-size: $font-12;
    text-overflow: ellipsis;
    word-wrap: break-word;
    margin-bottom: 0.1rem;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    display: block;
    overflow: hidden;
    line-height: 1.5em;
}

.mas-vistos .title a {
    color: $blanco;
}

.box-4 .title a:hover {
    text-decoration: underline;
}

.box-4 .article span {
    font-family: 'Montserrat', sans-serif;
    color: $blanco;
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.1.8rem;
    max-height: 2.5rem;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.box-4 .article .figure:hover:after {
    opacity: 1;
}

@media (max-width: 1380px) {
    .box-4 .title a {
        font-size: 0.9em;
    }
}

@media (max-width: 1025px) {
    .box-4 .article {
        width: calc((100% - 20px) / 3);
        transition: all 0.2s ease;
    }
    .box-4 .article:last-of-type {
        display: none;
    }
    .box-4 .title a {
        font-size: 1.2em;
    }
    .section-title {
        font-size: 1.5em;
    }
    section:not(.programas) > section > article > .figure::after {
        background-size: 5em;
    }
}

@media (max-width: 672px) {
    .box-4 .title a {
        font-size: 1.4em;
        line-height: 1.6em;
    }
}

@media (max-width: 360px) {
    .box-4 .article {
        width: calc((100% - 10px) / 2);
    }
    .box-4 .article:nth-of-type(3) {
        display: none;
    }
}
