#programa .apertura:after {
    background: $negro;
    background: -webkit-radial-gradient(center, ellipse, $negro 0, $negro 100%);
    background: -o-radial-gradient(center, ellipse, $negro 0, $negro 100%);
    background: radial-gradient(ellipse at center, $negro 0, $negro 100%);
}

#programa .header-wrapper {
    background: $negro;
    background: -webkit-radial-gradient(center, ellipse, $negro 0, $negro 100%);
    background: -o-radial-gradient(center, ellipse, $negro 0, $negro 100%);
    background: radial-gradient(ellipse at center, $negro 0, $negro 100%);
}

#programa .apertura {
    padding-bottom: 40.25%;
}

#programa .apertura picture:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../img/placeholder.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 0.2s ease opacity;
}

#programa .apertura picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

#programa .mas-vistos .slider:after {
    background: #1a1a1a;
}

.info-programa {
    position: relative;
    padding: 3rem 0;
    @include grilla;
}

.info-programa:after {
    content: '';
    position: absolute;
    width: 1000%;
    left: -500%;
    right: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #1a1a1a;
    background: radial-gradient(ellipse at center, #1a1a1a 0, #1a1a1a 100%);
}

.meta-programa {
    @include grid-column(1, 7, 6);
}

.meta-programa span {
    font-size: 0.8rem;
    color: grey;
    padding-bottom: 0.5rem;
    font-family: $font-suecasm;
}

.meta-programa h3 {
    font-family: $font-suecasb;
    word-break: break-word;
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem 0 2rem;
    color: $blanco;
}

.meta-programa button {
    display: inline-block;
    width: 29px;
    height: 29px;
    border-radius: 34px;
    margin: 0.125em 0.313em 0.125em 0;
    background: #4682b3;
    color: $blanco;
    padding: 0;
    border: 0;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.meta-programa button:hover {
    opacity: 0.75;
}

.categorias {
    @include grid-column(7, 11, 4);
}

.categorias h4 {
    font-family: SuecaSlabBold, Helvetica, sans-serif;
    font-weight: 400;
    word-break: break-word;
    color: $blanco;
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 2rem;
}

.categorias ul li a {
    background: rgba(49, 49, 49, 0.9);
    padding: 0.25rem 0.5rem;
    color: rgb(165, 147, 147);
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0.5rem 0.5rem 0 0;
    font-family: $font-suecasm;
    transition: opacity 0.2s ease;
}

.categorias ul li a:hover {
    opacity: 0.75;
}

#programa .ultimos-videos .article:last-of-type {
    @include flex;
}

@media (max-width: 1025px) {
    .programas .slider .article:nth-of-type(4n + 4) {
        padding-right: 0.5em;
    }
    .programas .slider .article:nth-of-type(3n + 3) {
        padding-right: 0;
    }
}

@media (max-width: 864px) {
    .categorias,
    .meta-programa {
        @include grid-column(1, 11, 10);
    }
}

@media (max-width: 672px) {
    .programas .slider .article:nth-of-type(3n + 3) {
        padding-right: 0.5em;
    }
    .programas .slider .article:nth-of-type(2n + 2) {
        padding-right: 0;
    }
}

@media (max-width: 360px) {
    #programa .ultimos-videos .article:last-of-type {
        display: none;
    }
}
