@mixin full-width-ott {
    position: relative;
    width: 100vw;
    right: calc((100vw - 100%) / 2);
    background-color: #1a1a1a;
}

#programa .apertura picture {
    display: flex;
    justify-content: center;

    .img-desktop {
        width: 100%;
        max-width: 1140px;
    }
}

#acumulado .apertura {
    background: #1a1a1a;
    padding-bottom: 56.25%;
}

#acumulado .ultimos-videos {
    background: #1a1a1a;
}

#acumulado .ultimos-videos {
    .slider,
    .section-title {
        max-width: 1140px;
        margin: 0 auto;
    }
}

#acumulado .programas {
    padding-left: 10px;
    padding-right: 10px;
}

.info-programa {
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    @include grilla;
    background: #1a1a1a;
}

.meta-programa {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    @include grid-column(1, 7, 6);
}

.meta-programa span {
    font-size: 0.8rem;
    color: grey;
    padding-bottom: 0.5rem;
    font-family: $font-suecasm;
}

.meta-programa h1 {
    font-family: $font-suecasb;
    word-break: break-word;
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem 0 2rem;
    color: $blanco;
}

.meta-programa button {
    display: inline-block;
    width: 29px;
    height: 29px;
    border-radius: 34px;
    margin: 0.125em 0.313em 0.125em 0;
    background: #4682b3;
    color: $blanco;
    padding: 0;
    border: 0;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.meta-programa button:hover {
    opacity: 0.75;
}

.categorias {
    @include grid-column(7, 11, 4);
}

.categorias h4 {
    font-family: SuecaSlabBold, Helvetica, sans-serif;
    font-weight: 400;
    word-break: break-word;
    color: $blanco;
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 2rem;
}

.categorias ul li a {
    background: rgba(49, 49, 49, 0.9);
    padding: 0.25rem 0.5rem;
    color: rgb(165, 147, 147);
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0.5rem 0.5rem 0 0;
    font-family: $font-suecasm;
    transition: opacity 0.2s ease;
}

.categorias ul li a:hover {
    opacity: 0.75;
}

.programas {
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 1140px) {
    #acumulado .programas {
        padding-left: 0;
        padding-right: 0;
    }

    #acumulado .apertura {
        @include full-width-ott;
    }

    #acumulado .ultimos-videos {
        @include full-width-ott;
        padding-left: 0;
        padding-right: 0;
    }

    #acumulado .ultimos-videos {
        .slider,
        .section-title {
            max-width: 1140px;
            margin: 0 auto;
        }
    }

    .info-programa {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        padding-top: 30px;
        @include grilla;
        @include full-width-ott;
    }
}

@media (max-width: 1025px) {
    .programas .slider .article:nth-of-type(4n + 4) {
        padding-right: 0.5em;
    }
    .programas .slider .article:nth-of-type(3n + 3) {
        padding-right: 0;
    }
}

@media (max-width: 864px) {
    .categorias,
    .meta-programa {
        @include grid-column(1, 11, 10);
    }
}

@media (max-width: 672px) {
    .programas .slider .article:nth-of-type(3n + 3) {
        padding-right: 0.5em;
    }
    .programas .slider .article:nth-of-type(2n + 2) {
        padding-right: 0;
    }
}

@media (max-width: 360px) {
    #programa .ultimos-videos .article:last-of-type {
        display: none;
    }
}
