.slider {
    @include flex;
    @include flex-row;
    @include just-start;
    @include wrap;
    position: relative;
}

.slider:after {
    content: '';
    position: absolute;
    width: 1000%;
    left: -500%;
    right: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #eae6e2;
}

.section-title {
    color: $negro;
    width: 100%;
    font-family: $font-suecasb;
    padding: $px-30 0 $px-20;
    font-size: $font-18;
}

.slider .article {
    @include flex;
    @include flex-row;
    @include just-between;
    @include wrap;
    @include self-start;
    width: calc((100% - 1.5rem) / 4);
    position: relative;
    margin-bottom: 2.5em;
    padding-right: 0.5rem;
}

.slider .article:nth-of-type(4n + 4) {
    padding-right: 0;
}

.slider .title {
    padding: 0.5rem 0;
}

.slider .title a {
    color: $negro;
    font-family: $font-suecasb;
    font-size: $font-12;
    text-overflow: ellipsis;
    word-wrap: break-word;
    margin-bottom: 0.1rem;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    display: block;
    overflow: hidden;
    line-height: 1.5em;
}

.slider .title a:hover {
    text-decoration: underline;
}

.slider .article span {
    font-family: 'Montserrat', sans-serif;
    color: $blanco;
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.1.8rem;
    max-height: 2.5rem;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

section > article > .figure:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    right: 0;
    background-color: rgba(45, 45, 45, 0.6);
    background-image: url('../img/play.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 3em;
    transition: 0.2s ease opacity;
}

section > article > .figure:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../img/placeholder.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 0.2s ease opacity;
}

.programas .article .figure:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    right: 0;
    background-color: rgba(45, 45, 45, 0.6);
    transition: 0.2s ease opacity;
    font-size: 5em;
    font-family: SuecaSlab, Helvetica, sans-serif;
    content: '+';
    color: rgba(91, 255, 230, 0.5);
    text-align: center;
    line-height: 1.5em;
    background-image: initial;
}

.slider .article .figure:hover:after {
    opacity: 1;
}

.previous {
    font-size: 0;
    line-height: 0;
    top: 20%;
    left: 0;
    display: block;
    padding: 0;
    cursor: pointer;
    border: none;
    background: rgba(0, 0, 0, 0.9);
    width: 25px;
    height: 20%;
    position: absolute;
    z-index: 2;
    color: $blanco;
    border-radius: 0 3px 3px 0;
    transition: background 0.2s ease;
}

.previous:after {
    font-family: SuecaSlab, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: $blanco;
    opacity: 1;
    z-index: 25;
    content: '<';
    vertical-align: middle;
}

.previous:hover {
    background: rgba(0, 0, 0, 0.4);
}

.next {
    font-size: 0;
    line-height: 0;
    top: 20%;
    right: 0;
    display: block;
    padding: 0;
    cursor: pointer;
    border: none;
    background: rgba(0, 0, 0, 0.9);
    width: 25px;
    height: 20%;
    position: absolute;
    z-index: 2;
    color: $blanco;
    border-radius: 0 3px 3px 0;
    transition: background 0.2s ease;
}

.next:hover {
    background: rgba(0, 0, 0, 0.4);
}

.next:after {
    font-family: SuecaSlab, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: $blanco;
    opacity: 1;
    z-index: 25;
    content: '>';
    vertical-align: middle;
}

@media (max-width: 1380px) {
    .slider .title a {
        font-size: 0.9em;
    }
    .programas .article .figure:after {
        line-height: 1.8em;
    }
}

@media (max-width: 1025px) {
    .slider .title a {
        font-size: 0.97em;
    }
    .section-title {
        font-size: 1.5em;
    }
    section:not(.programas) > section > article > .figure::after {
        background-size: 5em;
    }
    #all .slider .article:last-of-type {
        @include flex;
    }
    .slider .article {
        width: calc((100% - 1rem) / 3);
    }
    .slider .article:nth-of-type(4n + 4) {
        padding-right: 0.5em;
    }
    .slider .article:nth-of-type(3n + 3) {
        padding-right: 0;
    }
}

@media (max-width: 864px) {
    .next:after,
    .previous:after {
        font-size: 1.2rem;
    }
    .programas .article .figure:after {
        content: '';
        background-color: rgba(45, 45, 45, 0);
    }
}

@media (max-width: 672px) {
    .slider .title a {
        font-size: 1.4em;
        line-height: 1.6em;
    }
    .slider .article {
        width: calc((100% - 0.5rem) / 2);
    }
    .slider .article:nth-of-type(3n + 3) {
        padding-right: 0.5em;
    }
    .slider .article:nth-of-type(2n + 2) {
        padding-right: 0;
    }
    .next,
    .previous {
        z-index: 2;
    }
}
