@font-face {
    font-family: suecaslabmedium;
    src: url(../fonts/suecaslab-medium-webfont.eot);
    src: url(../fonts/suecaslab-medium-webfont.eot?#iefix)
            format('embedded-opentype'),
        url(../fonts/suecaslab-medium-webfont.woff2) format('woff2'),
        url(../fonts/suecaslab-medium-webfont.woff) format('woff'),
        url(../fonts/suecaslab-medium-webfont.ttf) format('truetype'),
        url(../fonts/suecaslab-medium-webfont.svg#suecaslabmedium) format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: suecaslabbold;
    src: url(../fonts/suecaslab-bold-webfont.eot);
    src: url(../fonts/suecaslab-bold-webfont.eot?#iefix)
            format('embedded-opentype'),
        url(../fonts/suecaslab-bold-webfont.woff2) format('woff2'),
        url(../fonts/suecaslab-bold-webfont.woff) format('woff'),
        url(../fonts/suecaslab-bold-webfont.ttf) format('truetype'),
        url(../fonts/suecaslab-bold-webfont.svg#suecaslabbold) format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: ln10;
    src: url(../fonts/ln10.eot);
    src: url(../fonts/ln10.eot?#iefix) format('embedded-opentype'),
        url(../fonts/ln10.woff) format('woff2'),
        url(../fonts/ln10.woff) format('woff'),
        url(../fonts/ln10.ttf) format('truetype'),
        url(../fonts/ln10.svg#ln10) format('svg');
    font-weight: 400;
    font-style: normal;
}

$font-georgia: 'Georgia', 'serif';
$font-suecasm: 'suecaslabmedium', 'Georgia', 'serif';
$font-suecasb: 'suecaslabbold', 'Georgia', 'serif';
$font-arial: 'Arial', 'sans-serif';
$font-icon: 'la-nacion';
