.toast-container {
  pointer-events: none;
  padding: var(--spacing, 16px);
  gap: var(--spacing, 16px);
}
.toast-container .toast {
  pointer-events: initial;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
}
.toast-container .toast.--paused {
  animation-play-state: paused;
}