/* Estilo momentaneo hasta remover contenidos-ui-sass que utiliza misma nomenclatura de variable --spacing */

[data-tw] {
    --spacing: 1px !important;
}

[data-tw] .grid {
    min-width: unset;
    width: revert-layer;
}

/* TODO: Quitar cuando se termine la migracion al DS */
body:has([data-tw] .disable-body-scroll) {
    overflow: hidden;
}
