/* Estilo momentaneo hasta remover contenidos-ui-sass que utiliza misma nomenclatura de variable --spacing */

[data-tw] {
    --spacing: 1px !important;
}

[data-tw] .grid {
    min-width: unset;
    width: revert-layer;
}

/* TODO: Quitar cuando se desacople correctamente el data-tw */
@layer utilities {
    [data-tw] .com-logo.a-fondo-logo {
        height: 2.1875rem !important;
    }
}

/* TODO: Quitar cuando se termine la migracion al DS */
body:has([data-tw] .disable-body-scroll) {
    overflow: hidden;
}

@theme {
    --animate-pulse: tw-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    @keyframes tw-pulse {
        50% {
            opacity: 0.5;
        }
    }
}
