/* tokens.css
   Definir tokens contenidos
*/

@theme {
    --color-primary-default: #0250c9;
    --color-primary-dark: #0a0c49;
    --color-primary-light: #ffffff;
    --color-primary-lighten: #bdbffd;

    --color-accent-default: #c61b25;
    --color-accent-dark: #831218;
    --color-accent-light: #ef8b91;
    --color-accent-lighten: #f6d8d9;

    --color-subscription-default: #eebd40;
    --color-subscription-dark: #cf9a12;
    --color-subscription-light: #ffe6a5;
    --color-subscription-lighten: #fff7e5;
}

/* Utilitarios que referencian otras variables */
@theme inline {
    --color-primary-foreground: var(--color-neutral-1);

    --color-accent-foreground: var(--color-neutral-1);

    --color-subscription-foreground: var(--color-base-default);

    --color-secondary-default: var(--color-neutral-100);
    --color-secondary-dark: var(--color-neutral-200);
    --color-secondary-light: var(--color-neutral-50);
    --color-secondary-lighten: var(--color-neutral-1);
    --color-secondary-foreground: var(--color-base-default);

    --border-sm: var(--border-1);
    --border-md: var(--border-4);
    --border-lg: var(--border-8);

    --radius-sm: var(--radius-none);
    --radius-md: var(--radius-4);
    --radius-lg: var(--radius-32);

    --radius-range: var(--radius-24);
    --radius-button: var(--radius-full);
    --radius-avatar: var(--radius-full);
    --radius-listitem: var(--radius-4);
    --radius-drawer: var(--radius-24);
    --radius-progress: var(--radius-sm);
    --radius-dots: var(--radius-1);

    --shadow-down-lg: 0px 16px 32px 0px #10101014;

}
