@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  margin-inline: 0;
  margin-block: 0;
  padding: 0;
  padding-inline: 0;
  padding-block: 0;
  border: none;
  font: inherit;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

input {
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scrollbar-gutter: stable;
}

body {
  color: var(--neutral-light-800);
}

a {
  transition: all 0.2s ease-in-out;
}

button {
  color: inherit;
}

select,
option {
  border-color: inherit;
}

select:focus {
  outline: none;
}

em {
  font-style: italic;
}

.container, .container-fluid {
  margin-inline: auto;
  padding-inline: var(--spacing);
  width: 100%;
  max-width: 85.375rem;
}
.container-fluid {
  max-width: 100%;
}

.overflow-container {
  width: calc(100% + var(--spacing));
  padding-right: var(--spacing);
}

:root {
  --primary-positive: #333333;
  --secondary-positive: #846b05;
  --subscription-positive: #fccb46;
  --accent-positive: #777;
  --accent-lechuga: #787932;
  --accent-maiz: #f4ca5f;
  --accent-rucula: #143318;
  --accent-vino: #930048;
  --accent-tomate: #a92c2c;
  --accent-mandarina: #f65a22;
  --background-positive: #f3f0eb;
  --feedback-danger-500: #C61B25;
  --feedback-danger-600: #99151D;
  --feedback-success-700: #008759;
  --neutral-light-1: #fefefe;
  --neutral-light-50: #f2f2f2;
  --neutral-light-100: #E6E6E6;
  --neutral-light-200: #CCCCCC;
  --neutral-light-300: #B3B3B3;
  --neutral-light-600: #666666;
  --neutral-light-800: #333333;
  --neutral-light-900: #1A1A1A;
  --neutral-dark-800: #CCCCCC;
  --neutral-black: #000000;
  --neutral-white: #ffffff;
  --shadow-down-2xs: 0px 2px 4px rgba(0, 0, 0, 0.16);
  --shadow-down-sm: 0px 8px 16px rgba(0, 0, 0, 0.06);
  --shadow-down-md: 0px 12px 24px rgba(0, 0, 0, 0.04);
  --shadow-down-lg: 0px 16px 32px rgba(0, 0, 0, 0.03);
  --spacing: 1rem;
  --scroller-columns: 8;
  --scroller-element-columns: 7;
  --scroller-gap: var(--spacing);
  --scroller-vertical-gap: 2rem;
  --backdrop: rgba(0, 0, 0, 0.64);
  --modal-width: 100%;
  --header-outer-spacing: 1fr;
}
@media (min-width: 48rem) {
  :root {
    --spacing: 1.5rem;
    --scroller-columns: 12;
    --scroller-element-columns: 5;
    --modal-width: 33.75rem;
  }
}
@media (min-width: 80rem) {
  :root {
    --spacing: 2rem;
    --scroller-columns: 16;
    --scroller-element-columns: 4;
    --header-height: 8.0625rem;
    --header-outer-spacing: auto;
    --center-options-grid-column: left-start / center-start;
  }
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-end {
  justify-content: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: flex-end;
}

.ai-start {
  align-items: flex-start;
}

.as-center {
  align-self: center;
}

.as-end {
  align-self: flex-end;
}

.js-center {
  justify-self: center;
}

@media (min-width: 48rem) {
  .ai-end_md {
    align-items: flex-end;
  }
  .ai-start_md {
    align-items: flex-start;
  }
}
@media (min-width: 80rem) {
  .ai-start_lg {
    align-items: flex-start;
  }
  .jc-center_lg {
    justify-content: center;
  }
}
.vertical-align-middle {
  vertical-align: middle;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-6.25rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(6.25rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes width-shrink {
  to {
    width: 0;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.ratio-1-1 {
  aspect-ratio: 1 / 1;
}

.ratio-3-2 {
  aspect-ratio: 3 / 2;
}

.ratio-16-9 {
  aspect-ratio: 16 / 9;
}

@media (min-width: 80rem) {
  .ratio-21-9_lg {
    aspect-ratio: 21 / 9;
  }
}
.ratio-inherit {
  aspect-ratio: inherit;
}

@media (min-width: 80rem) {
  .ratio-unset_lg {
    aspect-ratio: unset;
  }
}
.rounded-circle {
  border-radius: 50%;
}

.rounded-4 {
  border-radius: 0.25rem;
}

.rounded-8 {
  border-radius: 0.5rem;
}

.rounded-16 {
  border-radius: 1rem;
}

.rounded-24 {
  border-radius: 1.5rem;
}

.rounded-100 {
  border-radius: 6.25rem;
}

.rounded-top-left-24 {
  border-top-left-radius: 1.5rem;
}

.rounded-top-right-24 {
  border-top-right-radius: 1.5rem;
}

.rounded-top-right-4 {
  border-top-right-radius: 0.25rem;
}

.rounded-bottom-right-4 {
  border-bottom-right-radius: 0.25rem;
}

.border.border-all {
  border-style: solid;
}
.border.border-bottom {
  border-bottom-style: solid;
}
.border.border-top {
  border-top-style: solid;
}
.border.border-left {
  border-left-style: solid;
}
.border.border-light-100 {
  border-color: var(--neutral-light-100);
}
.border.border-light-300 {
  border-color: var(--neutral-light-300);
}
.border.border-light-800 {
  border-color: var(--neutral-light-800);
}
.border.border-primary-positive {
  border-color: var(--primary-positive);
}
.border.border-secondary-positive {
  border-color: var(--secondary-positive);
}
.border.border-accent-maiz {
  border-color: var(--accent-maiz);
}
.border.border-danger-600 {
  border-color: var(--feedback-danger-600);
}
.border.border-thin {
  border-width: thin;
}

@media (min-width: 48rem) {
  .rounded-bottom-right-24_md {
    border-bottom-right-radius: 1.5rem;
  }
  .rounded-top-right-24_md {
    border-top-right-radius: 1.5rem;
  }
  .border.border-right_md {
    border-right-style: solid;
  }
  .border.border-0_md {
    border-width: 0;
  }
}
.border.border-secondary-positive__hover:hover {
  border-color: var(--secondary-positive);
}
.border.border-accent-lechuga__hover:hover {
  border-color: var(--accent-lechuga);
}

.border.border-secondary-positive__focus:focus {
  border-color: var(--secondary-positive);
}

.text-inherit {
  color: inherit;
}

.text-light-1 {
  color: var(--neutral-light-1);
}

.text-light-50 {
  color: var(--neutral-light-50);
}

.text-light-100 {
  color: var(--neutral-light-100);
}

.text-light-200 {
  color: var(--neutral-light-200);
}

.text-light-600 {
  color: var(--neutral-light-600);
}

.text-light-800 {
  color: var(--neutral-light-800);
}

.text-dark-800 {
  color: var(--neutral-dark-800);
}

.text-accent-positive {
  color: var(--accent-positive);
}

.text-primary-positive {
  color: var(--primary-positive);
}

.text-secondary-positive {
  color: var(--secondary-positive);
}

.text-accent-tomate {
  color: var(--accent-tomate);
}

.text-accent-lechuga {
  color: var(--accent-lechuga);
}

.text-danger-500 {
  color: var(--feedback-danger-500);
}

.text-danger-600 {
  color: var(--feedback-danger-600);
}

.bg-light-1 {
  background: var(--neutral-light-1);
}

.bg-light-50 {
  background: var(--neutral-light-50);
}

.bg-light-100 {
  background: var(--neutral-light-100);
}

.bg-light-600 {
  background: var(--neutral-light-600);
}

.bg-accent-positive {
  background: var(--accent-positive);
}

.bg-primary-positive {
  background: var(--primary-positive);
}

.bg-secondary-positive {
  background: var(--secondary-positive);
}

.bg-positive {
  background: var(--background-positive);
}

.bg-backdrop {
  background: var(--backdrop);
}

.bg-subscription-positive {
  background: var(--subscription-positive);
}

.bg-accent-vino {
  background: var(--accent-vino);
}

.bg-accent-lechuga {
  background: var(--accent-lechuga);
}

.bg-accent-rucula {
  background: var(--accent-rucula);
}

.bg-success-700 {
  background: var(--feedback-success-700);
}

.bg-danger-500 {
  background: var(--feedback-danger-500);
}

.bg-black {
  background: var(--neutral-black);
}

.bg-white {
  background: var(--neutral-white);
}

.bg-black-opacity {
  background: rgba(0, 0, 0, 0.4);
}

.bg-transparent {
  background: transparent;
}

.icon-dark-800 .icon.icon svg > path {
  fill: var(--neutral-dark-800);
}

.icon-light-800 .icon.icon svg > path {
  fill: var(--neutral-light-800);
}

.text-secondary-positive__hover:hover {
  color: var(--secondary-positive);
}

.text-accent-lechuga__hover:hover {
  color: var(--accent-lechuga);
}

.bg-accent-lechuga__hover:hover {
  background: var(--accent-lechuga);
}

@media (min-width: 1280px) {
  .bg-positive_lg {
    background-color: var(--background-positive);
  }
}

.none.none {
  display: none;
}

.flex.flex {
  display: flex;
}

.grid.grid {
  display: grid;
}

.block.block {
  display: block;
}

.inline-flex.inline-flex {
  display: inline-flex;
}

.inline-block.inline-block {
  display: inline-block;
}

.contents.contents {
  display: contents;
}

.flex-column {
  flex-direction: column;
}

@media (min-width: 48rem) {
  .flex-row_md {
    flex-direction: row;
  }
}
@media (min-width: 80rem) {
  .flex-row_lg {
    flex-direction: row;
  }
  .flex-column_lg {
    flex-direction: column;
  }
  .flex-row-reverse_lg {
    flex-direction: row-reverse;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.roboto {
  font-family: "Roboto", Arial, sans-serif;
}
.roboto-light {
  font-weight: 300;
}
.roboto-regular {
  font-weight: 400;
}
.roboto-medium {
  font-weight: 500;
}
.roboto-bold {
  font-weight: 700;
}
.roboto .text-12 {
  font-size: 0.75rem;
  line-height: 1rem;
}
.roboto .text-14 {
  font-size: 0.875rem;
  line-height: 100%;
}
.roboto .text-16 {
  font-size: 1rem;
  line-height: 150%;
}
.roboto .text-18 {
  font-size: 1.125rem;
  line-height: 150%;
}
.roboto .text-20 {
  font-size: 1.25rem;
  line-height: 150%;
}
.roboto .text-24 {
  font-size: 1.5rem;
  line-height: 120%;
}
@media (min-width: 48rem) {
  .roboto .text-14_md {
    font-size: 0.875rem;
    line-height: 100%;
  }
  .roboto .text-18_md {
    font-size: 1.125rem;
    line-height: 150%;
  }
  .roboto .text-20_md {
    font-size: 1.25rem;
    line-height: 150%;
  }
  .roboto .text-28_md {
    font-size: 1.75rem;
    line-height: 120%;
  }
}
@media (min-width: 80rem) {
  .roboto .text-40_lg {
    font-size: 2.5rem;
    line-height: 120%;
  }
}

.prumo {
  font-family: "Prumo", Georgia, serif;
  letter-spacing: var(--prumo-letter-spacing);
  font-variation-settings: "wght" var(--prumo-font-variation), "opsz" 0;
}
.prumo-light {
  --prumo-font-variation: 70;
}
.prumo-book {
  --prumo-font-variation: 90;
}
.prumo-medium {
  --prumo-font-variation: 110;
}
.prumo-semibold {
  --prumo-font-variation: 130;
}
.prumo.text-16 {
  font-size: 1rem;
  line-height: 130%;
  --prumo-letter-spacing: -0.16px;
}
.prumo.text-20 {
  font-size: 1.25rem;
  line-height: 120%;
  --prumo-letter-spacing: -0.16px;
}
.prumo.text-24 {
  font-size: 1.5rem;
  line-height: 116%;
  --prumo-letter-spacing: -0.3px;
}
.prumo.text-28 {
  font-size: 1.75rem;
  line-height: 116%;
  --prumo-letter-spacing: -0.3px;
}
.prumo.text-32 {
  font-size: 2rem;
  line-height: 116%;
  --prumo-letter-spacing: -0.64px;
}
@media (min-width: 48rem) {
  .prumo.text-28_md {
    font-size: 1.75rem;
    line-height: 116%;
    --prumo-letter-spacing: -0.3px;
  }
  .prumo.text-32_md {
    font-size: 2rem;
    line-height: 116%;
    --prumo-letter-spacing: -0.64px;
  }
  .prumo.text-36_md {
    font-size: 2.25rem;
    line-height: 116%;
    --prumo-letter-spacing: -0.64px;
  }
  .prumo.text-40_md {
    font-size: 2.5rem;
    line-height: 116%;
    --prumo-letter-spacing: -0.64px;
  }
  .prumo.text-56_md {
    font-size: 3.5rem;
    line-height: 100%;
    --prumo-letter-spacing: -0.64px;
  }
}
@media (min-width: 80rem) {
  .prumo.text-32_lg {
    font-size: 2rem;
    line-height: 116%;
    --prumo-letter-spacing: -0.64px;
  }
  .prumo.text-36_lg {
    font-size: 2.25rem;
    line-height: 116%;
    --prumo-letter-spacing: -0.64px;
  }
  .prumo.text-40_lg {
    font-size: 2.5rem;
    line-height: 116%;
    --prumo-letter-spacing: -0.64px;
  }
  .prumo.text-48_lg {
    font-size: 3rem;
    line-height: 100%;
    --prumo-letter-spacing: -0.64px;
  }
  .prumo.text-64_lg {
    font-size: 4rem;
    line-height: 100%;
    --prumo-letter-spacing: -0.64px;
  }
}

i, .italic {
  font-style: italic;
}

b, strong {
  font-weight: 700;
}

.gap-4 {
  gap: 0.25rem;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-12 {
  gap: 0.75rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-18 {
  gap: 1.125rem;
}

.gap-24 {
  gap: 1.5rem;
}

.gap-32 {
  gap: 2rem;
}

.gap-40 {
  gap: 2.5rem;
}

.gap-72 {
  gap: 4.5rem;
}

.column-gap-16 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.column-gap-32 {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.row-gap-0 {
  row-gap: 0rem;
}

.row-gap-4 {
  row-gap: 0.25rem;
}

.row-gap-32 {
  row-gap: 2rem;
}

.row-gap-40 {
  row-gap: 2.5rem;
}

@media (min-width: 48rem) {
  .gap-8_md {
    gap: 0.5rem;
  }
  .gap-16_md {
    gap: 1rem;
  }
  .gap-24_md {
    gap: 1.5rem;
  }
  .gap-32_md {
    gap: 2rem;
  }
}
@media (min-width: 80rem) {
  .gap-8_lg {
    gap: 0.5rem;
  }
  .gap-24_lg {
    gap: 1.5rem;
  }
  .gap-32_lg {
    gap: 2rem;
  }
}
.grid-cols-5 {
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1rem;
}

.grid-cols-8 {
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 1rem;
}

.col-span-1 {
  grid-column: span 1;
}

.col-span-2 {
  grid-column: span 2;
}

.col-span-3 {
  grid-column: span 3;
}

.col-span-4 {
  grid-column: span 4;
}

.col-span-5 {
  grid-column: span 5;
}

.col-span-6 {
  grid-column: span 6;
}

.col-span-7 {
  grid-column: span 7;
}

.col-span-8 {
  grid-column: span 8;
}

.col-span-3-center {
  grid-column: 3 / -3;
}

@media (min-width: 48rem) {
  .grid-cols-8_md {
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 1.5rem;
  }
  .grid-cols-12_md {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5rem;
  }
  .col-span-1_md {
    grid-column: span 1;
  }
  .col-span-2_md {
    grid-column: span 2;
  }
  .col-span-3_md {
    grid-column: span 3;
  }
  .col-span-4_md {
    grid-column: span 4;
  }
  .col-span-5_md {
    grid-column: span 5;
  }
  .col-span-6_md {
    grid-column: span 6;
  }
  .col-span-7_md {
    grid-column: span 7;
  }
  .col-span-8_md {
    grid-column: span 8;
  }
  .col-span-9_md {
    grid-column: span 9;
  }
  .col-span-10_md {
    grid-column: span 10;
  }
  .col-span-11_md {
    grid-column: span 11;
  }
  .col-span-12_md {
    grid-column: span 12;
  }
  .col-span-5-center_md {
    grid-column: 5 / -5;
  }
}
@media (min-width: 80rem) {
  .grid-cols-12_lg {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2rem;
  }
  .grid-cols-16_lg {
    grid-template-columns: repeat(16, 1fr);
    grid-column-gap: 2rem;
  }
  .col-span-1_lg {
    grid-column: span 1;
  }
  .col-span-2_lg {
    grid-column: span 2;
  }
  .col-span-3_lg {
    grid-column: span 3;
  }
  .col-span-4_lg {
    grid-column: span 4;
  }
  .col-span-5_lg {
    grid-column: span 5;
  }
  .col-span-6_lg {
    grid-column: span 6;
  }
  .col-span-7_lg {
    grid-column: span 7;
  }
  .col-span-8_lg {
    grid-column: span 8;
  }
  .col-span-9_lg {
    grid-column: span 9;
  }
  .col-span-10_lg {
    grid-column: span 10;
  }
  .col-span-11_lg {
    grid-column: span 11;
  }
  .col-span-12_lg {
    grid-column: span 12;
  }
  .col-span-13_lg {
    grid-column: span 13;
  }
  .col-span-14_lg {
    grid-column: span 14;
  }
  .col-span-15_lg {
    grid-column: span 15;
  }
  .col-span-16_lg {
    grid-column: span 16;
  }
  .col-span-4-center_lg {
    grid-column: 4 / -4;
  }
  .col-span-7-center_lg {
    grid-column: 7 / -7;
  }
}
.note-body {
  --_body-columns: 8;
  --_content-columns: 8;
  --_outer-spacing: 1;
  --_inner-spacing: 1;
  display: grid;
  -moz-column-gap: var(--spacing);
       column-gap: var(--spacing);
  grid-template-columns: repeat(var(--_body-columns), 1fr);
}
.note-body .full-width {
  grid-column: 1/-1;
}
.note-body .content {
  display: grid;
  grid-template-columns: repeat(var(--_content-columns), 1fr);
  grid-column: var(--_outer-spacing)/calc(var(--_outer-spacing) * -1);
  gap: inherit;
}
.note-body .content > * {
  grid-column: var(--_inner-spacing)/calc(var(--_inner-spacing) * -1);
}
@media (min-width: 48rem) {
  .note-body {
    --_body-columns: 12;
    --_content-columns: 10;
    --_outer-spacing: 2;
    --_inner-spacing: 2;
  }
}
@media (min-width: 80rem) {
  .note-body {
    --_body-columns: 16;
    --_content-columns: 12;
    --_outer-spacing: 3;
  }
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-fill {
  -o-object-fit: fill;
     object-fit: fill;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.order-1 {
  order: 1;
}

@media (min-width: 80rem) {
  .order-1_lg {
    order: 1;
  }
  .order-2_lg {
    order: 2;
  }
}
.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-clip {
  overflow-x: clip;
}

.top-0 {
  top: 0;
}

.top-100 {
  top: 100%;
}

.bottom-0 {
  bottom: 0;
}

.bottom-16 {
  bottom: 1rem;
}

.right-0 {
  right: 0;
}

.right-24 {
  right: 1.5rem;
}

.left-0 {
  left: 0;
}

.left-50 {
  left: 50%;
}

.left-56 {
  left: 3.5rem;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

@media (min-width: 48rem) {
  .fixed-center-x_md {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 48rem) {
  .fixed_md {
    position: fixed;
  }
}

@media (max-width: 767.9px) {
  .sm-none {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .sm-only {
    display: none !important;
  }
}

@media (max-width: 767.9px), (min-width: 1280px) {
  .md-only {
    display: none !important;
  }
}

@media (max-width: 1279.9px) {
  .lg-only {
    display: none !important;
  }
}

@media (max-width: 1279.9px) {
  .md-none {
    display: none !important;
  }
}

@media (min-width: 1280px) {
  .lg-none {
    display: none !important;
  }
}

.shadow-navigation-bar {
  box-shadow: 0px -16px 32px -8px rgba(0, 0, 0, 0.08);
}

.shadow-down-2xs {
  box-shadow: var(--shadow-down-2xs);
}

.shadow-down-sm {
  box-shadow: var(--shadow-down-sm);
}

.shadow-down-md {
  box-shadow: var(--shadow-down-md);
}

.shadow-down-lg {
  box-shadow: var(--shadow-down-lg);
}

.shadow-center {
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
}

.shadow-recipe {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.shadow-float {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.32), 0px 16px 32px 0px rgba(0, 0, 0, 0.24);
}

.w-0 {
  width: 0rem;
}

.w-16 {
  width: 1rem;
}

.w-24 {
  width: 1.5rem;
}

.w-40 {
  width: 2.5rem;
}

.w-56 {
  width: 3.5rem;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.w-100vw {
  width: 100vw;
}

.w-144 {
  width: 9rem;
}

.w-147 {
  width: 9.1875rem;
}

.w-202 {
  width: 12.625rem;
}

.w-240 {
  width: 15rem;
}

.w-288 {
  width: 18rem;
}

.w-max {
  width: -moz-max-content;
  width: max-content;
}

@media (min-width: 48rem) {
  .w-16_md {
    width: 1rem;
  }
  .w-20_md {
    width: 1.25rem;
  }
  .w-51_md {
    width: 3.1875rem;
  }
  .w-328_md {
    width: 20.5rem;
  }
}
@media (min-width: 80rem) {
  .w-20_lg {
    width: 1.25rem;
  }
}
.max-w-1366 {
  max-width: 85.375rem;
}

.max-w-248 {
  max-width: 15.5rem;
}

.max-w-328 {
  max-width: 20.5rem;
}

@media (min-width: 48rem) {
  .max-w-520_md {
    max-width: 32.5rem;
  }
}
@media (min-width: 80rem) {
  .max-w-483_lg {
    max-width: 30.1875rem;
  }
}
.min-w-360 {
  min-width: 22.5rem;
}

@media (min-width: 48rem) {
  .min-w-720_md {
    min-width: 45rem;
  }
}
@media (min-width: 80rem) {
  .min-w-944_lg {
    min-width: 59rem;
  }
}
.h-0 {
  height: 0rem;
}

.h-4 {
  height: 0.25rem;
}

.h-5 {
  height: 0.3125rem;
}

.h-20 {
  height: 1.25rem;
}

.h-24 {
  height: 1.5rem;
}

.h-28 {
  height: 1.75rem;
}

.h-32 {
  height: 2rem;
}

.h-40 {
  height: 2.5rem;
}

.h-44 {
  height: 2.75rem;
}

.h-48 {
  height: 3rem;
}

.h-50 {
  height: 3.125rem;
}

.h-53 {
  height: 3.3125rem;
}

.h-56 {
  height: 3.5rem;
}

.h-250 {
  height: 15.625rem;
}

.h-336 {
  height: 21rem;
}

.h-max {
  height: -moz-max-content;
  height: max-content;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.h-100dvh {
  height: 100dvh;
}

@media (min-width: 48rem) {
  .h-16_md {
    height: 1rem;
  }
  .h-24_md {
    height: 1.5rem;
  }
  .h-37_md {
    height: 2.3125rem;
  }
  .h-44_md {
    height: 2.75rem;
  }
  .h-509_md {
    height: 31.8125rem;
  }
}
@media (min-width: 80rem) {
  .h-28_lg {
    height: 1.75rem;
  }
  .h-42_lg {
    height: 2.625rem;
  }
  .h-52_lg {
    height: 3.25rem;
  }
  .h-160_lg {
    height: 10rem;
  }
  .h-461_lg {
    height: 28.8125rem;
  }
}
.max-h-24 {
  max-height: 1.5rem;
}

.max-h-32 {
  max-height: 2rem;
}

.max-h-196 {
  max-height: 12.25rem;
}

.min-h-344 {
  min-height: 21.5rem;
}

.min-h-100vh {
  min-height: 100vh;
}

.m-8 {
  margin: 0.5rem;
}

.-mb-8 {
  margin-bottom: -0.5rem;
}

.mb-4 {
  margin-bottom: 0.25rem;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.mb-32 {
  margin-bottom: 2rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.mb-64 {
  margin-bottom: 4rem;
}

.mb-72 {
  margin-bottom: 4.5rem;
}

.mx-4 {
  margin-inline: 0.25rem;
}

.mx-8 {
  margin-inline: 0.5rem;
}

.-mx-12 {
  margin-inline: -0.75rem;
}

.mx-auto {
  margin-inline: auto;
}

.mx-16 {
  margin-inline: 1rem;
}

.mt-auto {
  margin-top: auto;
}

.mt-8 {
  margin-top: 0.5rem;
}

.mt-16 {
  margin-top: 1rem;
}

.mt-24 {
  margin-top: 1.5rem;
}

.ml-8 {
  margin-left: 0.5rem;
}

.-ml-55 {
  margin-left: -3.4375rem;
}

.ml-auto {
  margin-left: auto;
}

.my-auto {
  margin-block: auto;
}

.my-16 {
  margin-block: 1rem;
}

.my-32 {
  margin-block: 2rem;
}

.mr-8 {
  margin-right: 0.5rem;
}

.p-4 {
  padding: 0.25rem;
}

.p-8 {
  padding: 0.5rem;
}

.p-12 {
  padding: 0.75rem;
}

.p-16 {
  padding: 1rem;
}

.p-24 {
  padding: 1.5rem;
}

.p-32 {
  padding: 2rem;
}

.py-2 {
  padding-block: 0.125rem;
}

.py-4 {
  padding-block: 0.25rem;
}

.py-8 {
  padding-block: 0.5rem;
}

.py-12 {
  padding-block: 0.75rem;
}

.py-16 {
  padding-block: 1rem;
}

.py-24 {
  padding-block: 1.5rem;
}

.py-32 {
  padding-block: 2rem;
}

.py-72 {
  padding-block: 4.5rem;
}

.px-8 {
  padding-inline: 0.5rem;
}

.px-12 {
  padding-inline: 0.75rem;
}

.px-16 {
  padding-inline: 1rem;
}

.px-24 {
  padding-inline: 1.5rem;
}

.px-32 {
  padding-inline: 2rem;
}

.pt-8 {
  padding-top: 0.5rem;
}

.pt-16 {
  padding-top: 1rem;
}

.pt-20 {
  padding-top: 1.25rem;
}

.pt-24 {
  padding-top: 1.5rem;
}

.pt-32 {
  padding-top: 2rem;
}

.pt-40 {
  padding-top: 2.5rem;
}

.pt-48 {
  padding-top: 3rem;
}

.pt-56 {
  padding-top: 3.5rem;
}

.pb-4 {
  padding-bottom: 0.25rem;
}

.pb-12 {
  padding-bottom: 0.75rem;
}

.pb-16 {
  padding-bottom: 1rem;
}

.pb-24 {
  padding-bottom: 1.5rem;
}

.pb-32 {
  padding-bottom: 2rem;
}

.pb-64 {
  padding-bottom: 4rem;
}

.pb-72 {
  padding-bottom: 4.5rem;
}

.pr-16 {
  padding-right: 1rem;
}

.pl-8 {
  padding-left: 0.5rem;
}

.pl-16 {
  padding-left: 1rem;
}

.pl-36 {
  padding-left: 2.25rem;
}

@media (min-width: 48rem) {
  .ml-0_md {
    margin-left: 0rem;
  }
  .p-8_md {
    padding: 0.5rem;
  }
  .p-12_md {
    padding: 0.75rem;
  }
  .p-24_md {
    padding: 1.5rem;
  }
  .px-24_md {
    padding-inline: 1.5rem;
  }
  .py-8_md {
    padding-block: 0.5rem;
  }
  .py-12_md {
    padding-block: 0.75rem;
  }
  .py-56_md {
    padding-block: 3.5rem;
  }
  .pt-0_md {
    padding-top: 0rem;
  }
  .pt-24_md {
    padding-top: 1.5rem;
  }
  .pt-48_md {
    padding-top: 3rem;
  }
  .pb-56_md {
    padding-bottom: 3.5rem;
  }
}
@media (max-width:79.99rem) {
  .p-16_max1280 {
    padding: 1rem;
  }
}
@media (min-width: 80rem) {
  .mb-40_lg {
    margin-bottom: 2.5rem;
  }
  .p-8_lg {
    padding: 0.5rem;
  }
  .p-12_lg {
    padding: 0.75rem;
  }
  .p-24_lg {
    padding: 1.5rem;
  }
  .p-32_lg {
    padding: 2rem;
  }
  .px-32_lg {
    padding-inline: 2rem;
  }
  .py-0_lg {
    padding-block: 0rem;
  }
  .py-8_lg {
    padding-block: 0.5rem;
  }
  .py-12_lg {
    padding-block: 0.75rem;
  }
  .py-24_lg {
    padding-block: 1.5rem;
  }
  .py-52_lg {
    padding-block: 3.25rem;
  }
  .pl-52_lg {
    padding-left: 3.25rem;
  }
  .pr-0_lg {
    padding-right: 0rem;
  }
  .pr-64_lg {
    padding-right: 4rem;
  }
  .pt-0_lg {
    padding-top: 0rem;
  }
  .pt-32_lg {
    padding-top: 2rem;
  }
  .pt-56_lg {
    padding-top: 3.5rem;
  }
  .pb-0_lg {
    padding-bottom: 0rem;
  }
  .pb-24_lg {
    padding-bottom: 1.5rem;
  }
  .pb-56_lg {
    padding-bottom: 3.5rem;
  }
}
.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.text-ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-ellipsis-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

@media (min-width: 48rem) {
  .text-start_md {
    text-align: start;
  }
}
.text-ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.break-word {
  word-break: break-word;
}

@media (min-width: 48rem) {
  .initial-letter-2::first-letter {
    initial-letter: 2;
    margin-right: 0.5rem;
    font-family: "Prumo", Georgia, serif;
    font-variation-settings: "wght" 130, "opsz" 0;
  }
}

.underline {
  text-decoration: underline;
}

.transition.transition-all {
  transition-property: all;
}
.transition.transition-duration-400 {
  transition-duration: 400ms;
}

.visibility-hidden {
  visibility: hidden;
}

.visibility-visible {
  visibility: visible;
}

.opacity-0 {
  opacity: 0;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-100 {
  opacity: 1;
}

.opacity-80_hover:hover {
  opacity: 0.8;
}

.z-1 {
  z-index: 1;
}

.z-5 {
  z-index: 5;
}

.z-10 {
  z-index: 10;
}

.z-15 {
  z-index: 15;
}

.viafoura header.vf-comment-header.vf-comment-header {
  display: none;
}

.viafoura div.vf-comments-trending-articles.vf3-comments.vf-trending-articles {
  display: none;
}

.viafoura.viafoura .vf-branding-container.vf-branding-container,
.viafoura.viafoura .vf-tray-trigger--floating.vf-tray-trigger--floating {
  display: none;
}
.viafoura.viafoura.not-comment section div.vf-post-form__container {
  display: none;
}
.viafoura.viafoura .vf-tray-trigger.vf-tray-trigger {
  display: none;
}

hr {
  border: thin solid var(--neutral-light-100);
}

.foodit-scrollbar {
  /* Cambiamos el fondo cuando esté en active */
  /* Ponemos un color de fondo y redondeamos las esquinas del track */
  /* Cambiamos el fondo cuando esté en active o hover */
}
.foodit-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  /* Tamaño del scroll en vertical */
  height: 0.5rem;
}
.foodit-scrollbar::-webkit-scrollbar-thumb {
  background: var(--primary-positive);
  border-radius: 0.5rem;
}
.foodit-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: var(--primary-positive);
}
.foodit-scrollbar::-webkit-scrollbar-track {
  background: #f7f7f4;
  border-radius: 0.5rem;
}
.foodit-scrollbar::-webkit-scrollbar-track:hover, .foodit-scrollbar::-webkit-scrollbar-track:active {
  background: #e4e4e4;
}

.transition-regular {
  transition: all 0.2s ease-in-out;
}

.transition-linear {
  transition: all 0.2s linear;
}

.--rotate-180 {
  transform: rotate(180deg);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-inherit {
  cursor: inherit;
}

.pointer-events-none {
  pointer-events: none;
}

.banner-container {
  background: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 4px, rgba(0, 0, 0, 0.15) 6px);
  background: -webkit-repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 4px, rgba(0, 0, 0, 0.15) 6px);
}
.banner-container:before {
  content: "PUBLICIDAD";
  position: absolute;
  top: 0;
  z-index: -1;
  background: var(--neutral-light-1);
  padding: 0.25rem 0.5rem;
  font-size: 0.6875rem;
  line-height: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .banner-container {
    display: none;
  }
}
.banner-container .link.foodit-link:hover {
  opacity: inherit;
}

.translate-label-input {
  transform: translate3d(-0.5rem, -1.75rem, 0);
}

.translate-label-input-with-icon {
  transform: translate3d(-3rem, -1.75rem, 0);
}

.translate-y-100 {
  translate: 0 100px;
}

.translate-y-50 {
  transform: translate3d(0, 50%, 0);
}

.-translate-x-50 {
  transform: translate3d(-50%, 0, 0);
}

.white-space-nowrap {
  white-space: nowrap;
}

@media (min-width: 80rem) {
  .note-media-container {
    height: calc(100vh - var(--header-height));
  }
}

@media (min-width: 48rem) {
  .note-article-container {
    margin-top: -11.875rem;
  }
}

.jw-controlbar {
  z-index: 100;
}

.common-header-container .sub-header.show {
  animation: transitionFrom forwards 500ms;
}
@keyframes transitionFrom {
  from {
    transform: translateY(-100%);
  }
}
.common-header-container .sub-header.hide {
  animation: transitionTo forwards 500ms;
}
@keyframes transitionTo {
  to {
    transform: translateY(-100%);
  }
}

.card-author .border {
  border-color: var(--neutral-light-200);
}
.card-author:hover .border {
  border-color: var(--accent-lechuga);
}

.--search-cancel-button-hide::-webkit-search-cancel-button {
  display: none;
}

body:has(.disable-body-scroll) {
  overflow: hidden;
}