@import '../abstracts/imports';
@import '../base/aspect-ratios';

.com-espacio-patrocinado {
    font: 400 $font-12 $font-arial;
    line-height: $line-16;
    color: $gris5;
    text-transform: uppercase;
    margin-top: 6px;
}

.com-content-lab {
    font: 400 $font-12 $font-arial;
    line-height: $line-16;
    color: $link;
    text-transform: uppercase;
    margin-top: 6px;
}

.com-marquesina {
    font: 700 $font-14 $font-arial;
    line-height: $line-19;
    color: $negro;
    text-transform: capitalize;
    margin-top: 6px;
}