/* Estilo momentaneo hasta remover foodit-ui-sass que utiliza misma nomenclatura de variable --spacing */

[data-tw] {
    --spacing: 1px !important;
}

.ds-thread .ds-thread-viewport {
    --proxy-primary-default: var(--proxy-accent-default);
    --proxy-primary-light: var(--proxy-accent-light);
    --proxy-primary-dark: var(--proxy-accent-dark);
}