.ln-advance.--withVideo .lay-container > article .video iframe {
  width: 6.875rem;
  aspect-ratio: 16/9;
  height: auto;
}
@media (min-width: 48rem) {
  .ln-advance.--withVideo .lay-container > article .video iframe {
    width: 15.625rem;
  }
}