.link.foodit-link.--loading .icon {
  display: none;
}
.link.foodit-link[data-variant=primary] {
  color: var(--neutral-light-800);
}
.link.foodit-link[data-variant=secondary] {
  color: var(--secondary-positive);
}
.link.foodit-link:hover {
  color: var(--accent-lechuga);
  opacity: 1;
}
.link.foodit-link .icon {
  transition: inherit;
  transition-timing-function: linear;
}
.link.foodit-link .icon > svg > path {
  fill: currentColor;
}